@{
    int stt = 0;
}
@model IEnumerable<CSDLGia_ASP.Models.Systems.API.KetNoiAPI_DanhSach>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />

    <!-- END THEME STYLES -->
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách kết kết nối API - @ViewData["Maso"]
            </h3>
        </div>
        <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.api.csdlqg", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }
        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="sample_4">
            <thead>
                <tr>
                    <th width="5%" rowspan="2">STT</th>
                    <th rowspan="2">Chức năng</th>
                    <th colspan="3">Link truyền dữ liệu</th>
                    <th colspan="3">Link nhận dữ liệu</th>
                    <th width="5%" rowspan="2">Thao tác</th>
                </tr>
                <tr>
                    <th>Link get</th>
                    <th>Link post</th>
                    <th>Link put</th>

                    <th>Link get</th>
                    <th>Link post</th>
                    <th>Link put</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++stt)</td>
                        <td>@item.Maso</td>
                        <td>@item.LinkTruyenGet</td>
                        <td>@item.LinkTruyenPost</td>
                        <td>@item.LinkTruyenPut</td>
                        <td>@item.LinkNhanGet</td>
                        <td>@item.LinkNhanPost</td>
                        <td>@item.LinkNhanPut</td>
                        <td>
                            <button type="button" data-target="#Create_Modal" onclick="setChiTiet('@item.Maso','@item.LinkTruyenGet','@item.LinkTruyenPost','@item.LinkTruyenPut',
                                    '@item.LinkNhanGet','@item.LinkNhanPost','@item.LinkNhanPut',)" data-toggle="modal" class="btn btn-sm btn-clean btn-icon" title="Sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                            @* <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                <i class="icon-lg la la-trash text-danger"></i>
                            </button> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<form asp-controller="API" asp-action="LuuThietLapCSDLQG" method="post" enctype="multipart/form-data" id="frm_chitiet">
    <div class="modal fade kt_select2_modal" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thông tin chi tiết
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Chức năng kết nối</label>
                                <select name="Maso" class="form-control kt_select2_1_modal">
                                    @foreach (var item in Helpers.getDSChucNangCSDLQG())
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link nhận dữ liệu (GET)</label>
                                <input class="form-control" name="LinkNhanGet" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link nhận dữ liệu (POST)</label>
                                <input class="form-control" name="LinkNhanPost" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link nhận dữ liệu (PUT)</label>
                                <input class="form-control" name="LinkNhanPut" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link truyền dữ liệu (GET)</label>
                                <input class="form-control" name="LinkTruyenGet" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link truyền dữ liệu (POST)</label>
                                <input class="form-control" name="LinkTruyenPost" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link truyền dữ liệu (PUT)</label>
                                <input class="form-control" name="LinkTruyenPut" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" onclick="Store()" id="btn_store">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function setChiTiet(Maso,
        LinkTruyenGet,
        LinkTruyenPost,
        LinkTruyenPut,
        LinkNhanGet,
        LinkNhanPost,
        LinkNhanPut) {
        var form = $('#frm_chitiet');
        form.find("[name='Maso']").val(Maso).trigger('change');
        form.find("[name='LinkTruyenGet']").val(LinkTruyenGet);
        form.find("[name='LinkTruyenPost']").val(LinkTruyenPost);
        form.find("[name='LinkTruyenPut']").val(LinkTruyenPut);
        form.find("[name='LinkNhanGet']").val(LinkNhanGet);
        form.find("[name='LinkNhanPost']").val(LinkNhanPost);
        form.find("[name='LinkNhanPut']").val(LinkNhanPut);
    }
</script>
