@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var GiaTroGiaTroCuocDm = (IEnumerable<GiaTroGiaTroCuocDm>)ViewData["GiaTroGiaTroCuocDm"];
    int record_id = 1;
}

<br />
<br />
@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaTroGiaTroCuoc;

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ </p>
<p style="text-align: left; font-size: 16px;">Số quyết định:@Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>

<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr>
            <th style="text-align:center">STT</th>
            <th style="text-align:center">Tên sản phẩm dịch vụ</th>
            <th style="text-align:center">Đơn giá</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.GiaTroGiaTroCuocCt != null)
            {
                @foreach (var item in Model.GiaTroGiaTroCuocCt)
                {
                    <tr>
                        <td style="text-align:center">@(record_id++)</td>
                        <td style="text-align:center">
                            @if (GiaTroGiaTroCuocDm != null)
                            {
                                @foreach (var sp in GiaTroGiaTroCuocDm)
                                {
                                    @if (item.Maspdv == sp.Maspdv)
                                    {
                                        <span>@sp.Tenspdv</span>
                                    }
                                }
                            }
                        </td>

                        <td style="text-align:center">@item.Dongia</td>

                    </tr>
                }
            }
        }
    </tbody>

</table>
