@{
    Layout = "_LayoutReports";
    var dsnhom = (IEnumerable<GiaPhiLePhiNhom>)ViewData["DsNhom"];
}

<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaPhiLePhi;
<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ  </p>
<p style="text-align: left; font-size: 16px;">Số quyết định:@Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Helpers.ConvertDateToStr(Model.Thoidiem)</p>
<p style="text-align: left; font-size: 16px;">
    Mô tả: @Model.Mota
</p>
<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr>
            <th style="text-align:center; font-weight:bold" width="5%">STT</th>
            <th style="text-align:center; font-weight:bold" width="10%">Nhãn hiệu</th>
            <th style="text-align:center; font-weight:bold" width="10%">Nước sản xuất, lắp ráp</th>
            <th style="text-align:center; font-weight:bold">Kiểu loại</th>
            <th style="text-align:center; font-weight:bold" width="10%">Thể tích</th>
            <th style="text-align:center; font-weight:bold" width="10%">Số người/ Tải trọng</th>
            <th style="text-align:center; font-weight:bold" width="10%">Giá tính LPTB</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var nhom in dsnhom)
        {
            var data_chitiet = Model.GiaPhiLePhiCt.Where(t => t.Phanloai == nhom.Manhom);
            if (data_chitiet.Any())
            {
                <tr>
                    <td></td>
                    <td colspan="6" style="text-align:left; font-weight:bold;text-transform:uppercase">@nhom.Tennhom</td>
                </tr>
                @foreach (var item in data_chitiet.OrderBy(t => t.STTSapxep))
                {
                    string HtmlStyle = Helpers.ConvertStrToStyle(item.Style);
                    <tr>
                        <td style="text-align:center;@HtmlStyle">@item.STTHienthi</td>
                        <td style="text-align:left; @HtmlStyle">@item.NhanHieu</td>
                        <td style="text-align:center; @HtmlStyle">@item.NuocSxLr</td>
                        <td style="text-align:left; @HtmlStyle">@item.Ptcp</td>
                        <td style="text-align:center; @HtmlStyle">@item.TheTich</td>
                        <td style="text-align:center; @HtmlStyle">@item.SoNguoiTaiTrong</td>
                        <td style="text-align:right; @HtmlStyle">@Helpers.ConvertDbToStr(item.Mucthutu)</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>