@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsnhom = (IEnumerable<GiaDvKcbNhom>)ViewData["GiaDvKcbNhom"];
}

<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaPhiLePhi;
<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ  </p>
<p style="text-align: left; font-size: 16px;">Số quyết định:@Model.Soqd</p>
<p>Phân loại hồ sơ: @Model.Phanloai</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Helpers.ConvertDateToStr(Model.Thoidiem)</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th style="text-align:center; font-weight:bold" width="5%">STT</th>
            <th style="text-align:center; font-weight:bold">Tên phí , lệ phí</th>
            <th style="text-align:center; font-weight:bold">Phần trăm</th>
            <th style="text-align:center; font-weight:bold">Mức thu</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.GiaPhiLePhiCt != null)
            {
                @foreach (var item in Model.GiaPhiLePhiCt.OrderBy(t=>t.STTSapxep))
                {
                    string HtmlStyle = Helpers.ConvertStrToStyle(item.Style);
                    <tr>
                        <td style="text-align:center;@HtmlStyle">@item.STTHienthi</td>
                        <td style="text-align:left; @HtmlStyle">@item.Ptcp</td>
                        <td style="text-align:center; @HtmlStyle">@item.Phantram</td>
                        <td style="text-align:right; @HtmlStyle">@Helpers.ConvertDbToStr(item.Mucthutu)</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>