@* @model CSDLGia_ASP.ViewModels.Systems.VMGroupPermissions *@
@model IEnumerable<CSDLGia_ASP.Models.Systems.Permissions>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
            $('.select2multi').select2();
        });
    </script>
}
@{
    int record_id = 1;
    var rolelist = (IEnumerable<RoleList>)ViewData["RoleList"];
}
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Phân quyền chức năng truy cập vào hệ thống của <span style="color:blue; font-weight:bold">@ViewData["Username"]</span>
                </span>
            </h3>
        </div>
    </div>
    <hr />
    <form asp-controller="DsTaiKhoan" asp-action="UpdatePermissions" method="post" enctype="multipart/form-data">
        <div class="card-body" id="thongtins_permission">
            <input id="KeyLink" name="KeyLink" value="@ViewData["Chucnang"]"/>
            <table class="table table-striped table-bordered table-hover table-responsive" id="sample_3">
                <thead>
                    <tr style="text-align:center">
                        <th width="2%">#</th>
                        <th>Chức năng</th>
                        <th width="10%">Xem</th>
                        <th width="10%">Thêm</th>
                        <th width="10%">Sửa</th>
                        <th width="10%">Xóa</th>
                        <th width="10%">Chuyển/<br />Xét Duyệt</th>
                        <th width="10%">Công bố</th>
                        <th width="10%">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model.Where(t => t.Level == 0).OrderBy(t => t.Sttsx))
                        {
                            <tr>
                                <td style="text-align:center">@(record_id++)</td>
                                <td style="font-weight:bold;color:blue">
                                    @for (int i = 0; i < item.Level; i++)
                                    {
                                        <span>&emsp;</span>
                                    }
                                    @item.Name
                                </td>
                                <td style="text-align:center">
                                    @if (item.Index)
                                    {
                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                    }
                                    else
                                    {
                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (item.Create)
                                    {
                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                    }
                                    else
                                    {
                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (item.Edit)
                                    {
                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                    }
                                    else
                                    {
                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (item.Delete)
                                    {
                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                    }
                                    else
                                    {
                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (item.Approve)
                                    {
                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                    }
                                    else
                                    {
                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                    }
                                </td>
                                <td style="text-align:center">
                                    @if (item.Public)
                                    {
                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                    }
                                    else
                                    {
                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                    }
                                </td>
                                <td>
                                    <button type="button" onclick="editIdS('@item.Id')" data-target="#Edit_Modal" data-toggle="modal"
                                            class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </button>
                                </td>
                            </tr>
                            if (item.Index == true)
                            {
                                @foreach (var item1 in Model.Where(t => t.Level == 1 && t.Magoc == item.Roles).OrderBy(t => t.Sttsx))
                                {
                                    <tr>
                                        <td style="text-align:center">@(record_id++)</td>
                                        <td style="font-weight:bold;color:blue">
                                            @for (int i = 0; i < item1.Level; i++)
                                            {
                                                <span>&emsp;</span>
                                            }
                                            @item1.Name
                                        </td>
                                        <td style="text-align:center">
                                            @if (item1.Index)
                                            {
                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                            }
                                            else
                                            {
                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                            }
                                        </td>
                                        <td style="text-align:center">
                                            @if (item1.Create)
                                            {
                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                            }
                                            else
                                            {
                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                            }
                                        </td>
                                        <td style="text-align:center">
                                            @if (item1.Edit)
                                            {
                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                            }
                                            else
                                            {
                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                            }
                                        </td>
                                        <td style="text-align:center">
                                            @if (item1.Delete)
                                            {
                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                            }
                                            else
                                            {
                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                            }
                                        </td>
                                        <td style="text-align:center">
                                            @if (item1.Approve)
                                            {
                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                            }
                                            else
                                            {
                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                            }
                                        </td>
                                        <td style="text-align:center">
                                            @if (item1.Public)
                                            {
                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                            }
                                            else
                                            {
                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" onclick="editIdS('@item1.Id')" data-target="#Edit_Modal" data-toggle="modal"
                                                    class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                                <i class="icon-lg la la-edit text-primary"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    if (item1.Index)
                                    {
                                        @foreach (var item2 in Model.Where(t => t.Level == 2 && t.Magoc == item1.Roles).OrderBy(t => t.Sttsx))
                                        {
                                            <tr>
                                                <td style="text-align:center">@(record_id++)</td>
                                                <td style="font-weight:bold;color:blue">
                                                    @for (int i = 0; i < item2.Level; i++)
                                                    {
                                                        <span>&emsp;</span>
                                                    }
                                                    @item2.Name
                                                </td>
                                                <td style="text-align:center">
                                                    @if (item2.Index)
                                                    {
                                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                    }
                                                </td>
                                                <td style="text-align:center">
                                                    @if (item2.Create)
                                                    {
                                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                    }
                                                </td>
                                                <td style="text-align:center">
                                                    @if (item2.Edit)
                                                    {
                                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                    }
                                                </td>
                                                <td style="text-align:center">
                                                    @if (item2.Delete)
                                                    {
                                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                    }
                                                </td>
                                                <td style="text-align:center">
                                                    @if (item2.Approve)
                                                    {
                                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                    }
                                                </td>
                                                <td style="text-align:center">
                                                    @if (item2.Public)
                                                    {
                                                        <i class="la la-check icon-2x text-info mr-5"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                    }
                                                </td>
                                                <td>
                                                    <button type="button" onclick="editIdS('@item2.Id')" data-target="#Edit_Modal" data-toggle="modal"
                                                            class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                                        <i class="icon-lg la la-edit text-primary"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            if (item2.Index == true)
                                            {
                                                @foreach (var item3 in Model.Where(t => t.Level == 3 && t.Magoc == item2.Roles).OrderBy(t => t.Sttsx))
                                                {
                                                    <tr>
                                                        <td style="text-align:center">@(record_id++)</td>
                                                        <td style="font-weight:bold;color:blue">
                                                            @for (int i = 0; i < item3.Level; i++)
                                                            {
                                                                <span>&emsp;</span>
                                                            }
                                                            @item3.Name
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (item3.Index)
                                                            {
                                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (item3.Create)
                                                            {
                                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (item3.Edit)
                                                            {
                                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (item3.Delete)
                                                            {
                                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (item3.Approve)
                                                            {
                                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                            }
                                                        </td>
                                                        <td style="text-align:center">
                                                            @if (item3.Public)
                                                            {
                                                                <i class="la la-check icon-2x text-info mr-5"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="la la-remove icon-2x text-danger mr-5"></i>
                                                            }
                                                        </td>
                                                        <td>
                                                            <button type="button" onclick="editIdS('@item3.Id')" data-target="#Edit_Modal" data-toggle="modal"
                                                                    class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                                                <i class="icon-lg la la-edit text-primary"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="DsTaiKhoan" asp-action="Index" asp-route-MaDv="@ViewData["MaDv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin tài khoản
                    <span class="d-block text-muted pt-2 font-size-sm">
                        Chỉnh sửa chức năng truy cập cho nhóm quyền
                        <span style="font-weight:bold; color:blue">@ViewData["Username"]</span>
                    </span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_record">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="UpdatePermissionSingle()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>




<script>
    let isSelectAll = false;

    function toggleSelectAll() {
        isSelectAll = !isSelectAll;  // Toggle trạng thái
        const checkboxes = document.querySelectorAll(".itemCheckbox");  // Lấy tất cả checkbox có class "itemCheckbox"

        checkboxes.forEach(checkbox => {
            checkbox.checked = isSelectAll;  // Đặt trạng thái của mỗi checkbox theo isSelectAll
        });
    }

    function editIdS(id_edit) {
        $.ajax({
            url: '/Permissions/Edit/Single',
            type: 'POST',
            data: {
                id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công!");
                    $('#edit_record').replaceWith(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function UpdatePermissionSingle() {
        //alert($('#KeyLink').val())
        $.ajax({
            url: '/Permissions/Update/Single',
            type: 'POST',
            data: {
                Index: $('#Index_edit').is(":checked"),
                Create: $('#Create_edit').is(":checked"),
                Edit: $('#Edit_edit').is(":checked"),
                Delete: $('#Delete_edit').is(":checked"),
                Approve: $('#Approve_edit').is(":checked"),
                Public: $('#Public_edit').is(":checked"),
                Username: $('#KeyLink').val(),
                Status: 'Disable',
                Id: $('#Id_edit').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công!!!");
                    $('#thongtins_permission').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged.init();
                    });
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function getId(id, roles) {
        document.getElementById("id_delete").value = id;
        document.getElementById("roles_delete").innerHTML = roles;
    }
</script>