@{
    var DanhMucThongTu = (IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaHhDvkNhom>)ViewData["DanhMucThongTu"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<VMDsDonVi>)ViewData["DsDonVi"];
}
@model CSDLGia_ASP.ViewModels.VMImportExcel


@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Quản lý nhận dữ liệu
                </span>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaHhDvkExcel" asp-action="Import" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file excel dữ liệu mẫu:</label>
                <a href="~/UpLoad/File/DinhGia/Excel/FileExcelGiaHhDvk.xlsx" target="_blank" class="btn btn-link"
                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <span style="font-weight:bold;">Link tải file mẫu FileExcelGiaHhDvk.xlsm</span>
                </a>
            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</label>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label>Địa bàn</label>
                        <select asp-for="MadiabanBc" class="form-control">
                            @foreach (var db in dsdiaban)
                            {
                                <!option value="@db.MaDiaBan" @((string)ViewData["Madiaban"] == db.MaDiaBan ? "selected" : "")>@db.TenDiaBan</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label>Đơn vị báo cáo</label>
                        <select asp-for="MaDv" class="form-control">
                            @foreach (var dv in dsdonvi.Where(t => t.Level != "ADMIN"))
                            {
                                <!option value="@dv.MaDv" @((string)ViewData["Madv"] == dv.MaDv ? "selected" : "")>@dv.TenDv</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Quyết định</label>
                        <select asp-for="Matt" class="form-control">
                            @foreach (var item in DanhMucThongTu)
                            {
                                <option value="@item.Matt">@item.Tentt</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label>Tháng</label>
                        <select class="form-control" asp-for="Thang">
                            @for (var i = 1; i <= 12; i++)
                            {
                                <!option value="@i" @(DateTime.Now.Month == i ? "selected" : "")>@i</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label>Năm</label>
                        <select class="form-control" asp-for="Nam">
                            @{
                                int nam_start = DateTime.Now.Year - 5;
                                int nam_stop = DateTime.Now.Year + 1;
                                for (var i = nam_start; i <= nam_stop; i++)
                                {
                                    <!option value="@i" @(i == DateTime.Now.Year ? "selected" : "")>@i</!option>
                                }
                            }
                        </select>
                    </div>
                </div>
               
            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file dữ liệu:</label>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Sheet*</label>
                        <input type="number" class="form-control" asp-for="Sheet" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhận từ dòng*</label>
                        <input type="number" class="form-control" asp-for="LineStart" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhận đến dòng*</label>
                        <input type="number" class="form-control" asp-for="LineStop" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>File dữ liệu</label> <br />
                        <input class="form-group" type="file" accept=".xlsm" asp-for="FormFile" />
                        <span asp-validation-for="FormFile" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaHhDvk" asp-action="Index" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Nhận dữ liệu</button>
        </div>
    </form>
    <!--end::Form-->
    <!--end::Form-->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}