@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaMuaTaiSan;

<p style="text-align: center; font-weight: bold; font-size: 30px;text-transform:uppercase">Thông tin hồ sơ Giá trúng thầu của hàng hóa, dịch vụ được mua sắm theo quy định của pháp luật về đấu thầu</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn áp dụng:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Helpers.ConvertDateToStr(Model.Ngayqd)</p>
<p style="text-align: left; font-size: 16px;">Thông tin hồ sơ: @Model.Thongtinqd</p>
<p style="text-align: left; font-size: 16px;">Tên nhà thầu: @Model.Tennhathau</p>


<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr style="text-align:center">
            <th width="4%">STT</th>
            <th>Tên công tác</th>
            <th>Đơn vị</th>
            <th>Khối lượng<br>mời thầu</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GiaMuaTaiSanCt.OrderBy(x => x.SapXep))
        {
            <tr>
                <td style="text-align:center">@item.HienThi</td>
                <td class="active">@item.Mota</td>
                <td>@item.Dvt</td>
                <td> @Helpers.ConvertDbToStr(item.KhoiLuong)</td>
                <td> @Helpers.ConvertDbToStr(item.DonGia)</td>
                <td> @Helpers.ConvertDbToStr(item.DonGia * item.KhoiLuong)</td>
            </tr>
        }

    </tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span>
        </td>
        <td style="vertical-align: top;">
            <b>THỦ TRƯỞNG ĐƠN VỊ</b><br>
            <i>(Ký tên, đóng dấu)</i>
        </td>
    </tr>
</table>
