@{
   
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaMuaTaiSan;

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">Mô tả: 01</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <tr>

        <th style="text-align:center">Nhóm hàng hóa dịch vụ</th>
        <th style="text-align:center">Số QĐ kết quả lựa trọn nhà thầu*</th>
        <th style="text-align:center">Ngày quyết định</th>
        <th style="text-align:center">Thông tin quyết định</th>
        <th style="text-align:center">Tên nhà thầu</th>
        <th style="text-align:center">Ghi chú</th>

    </tr>
    <tr>

        <th style="text-align:center">@Model.Manhom</th>
        <th style="text-align:center">@Model.Soqd</th>
        <th style="text-align:center">@Model.Ngayqd</th>
        <th style="text-align:center">@Model.Thongtin</th>
        <th style="text-align:center">@Model.Tennhathau/th>
        <th style="text-align:center">@Model.Ghichu</th>

    </tr>

</table>
