@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var nhomhh = (IEnumerable<GiaHhHaiQuanXnkDm>)ViewData["Nhom"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Tìm kiếm thông tin giá hàng hoá hải quan trong xuất nhập khẩu
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaHhHaiQuanXnk" asp-action="Result" method="post" id="frm_dgthuetn_timkiem">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Đơn vị</label>
                        <select class="form-control" id="madv" name="madv">
                            <option value="all">--Tất cả các đơn vị--</option>
                            @foreach (var db in dsdiaban)
                            {
                                <optgroup label="@db.TenDiaBan">
                                    @{
                                        var company = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan);
                                    }
                                    @foreach (var item in company)
                                    {
                                        <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>@item.TenDv</!option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Nhóm thuế hàng hoá</label>
                        <select class="form-control" id="manhom" name="manhom">
                            <option value="all">--Tất cả các đối tượng--</option>
                            @foreach (var nhom in nhomhh)
                            {
                                <option value="@nhom.Manhom">@nhom.Tennhom</option>
                            }
                            <option value="khac">Khác</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời gian nhập từ</label>
                        <input type="date" id="ngaynhap_tu" name="ngaynhap_tu" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời gian nhập đến</label>
                        <input type="date" id="ngaynhap_den" name="ngaynhap_den" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Tình trạng giá</label>
                        <select class="form-control" id="tinhtrang" name="tinhtrang">
                            <option value="truoc">Giá trước thuế</option>
                            <option value="sau">Giá sau thuế</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Giá trị từ</label>
                        <input type="text" id="gia_tu" name="gia_tu" class="form-control money" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Giá trị đến</label>
                        <input type="text" id="gia_den" name="gia_den" class="form-control money" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValThueTnTk()"><i class="la la-check"></i>Tìm kiếm</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValThueTnTk() {
        var date_tu = new Date($('#ngaynhap_tu').val());
        var date_den = new Date($('#ngaynhap_den').val());
        var date_tu_int = date_tu.getTime();
        var date_den_int = date_den.getTime();

        if (date_tu_int > date_den_int) {
            toastr.error("Thời gian nhập đến phải lớn hơn thời gian nhập từ!", "Lỗi!!!")
        } else {
            if ($('#gia_tu').val() > $('#gia_den').val()) {
                toastr.error("Giá trị đến phải lớn hơn Giá trị từ!", "Lỗi!!!")
            } else {
                document.getElementById("frm_dgthuetn_timkiem").submit();
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}