@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["Cqcq"];
    var GiaSpDvCiDm = (IEnumerable<GiaSpDvCiDm>)ViewData["GiaSpDvCiDm"];
}

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged.init();
        });
        $(function() {
            $('#Nam, #Mota').change(function() {
                var current_path_url = '/DinhGiaDvCi/Search?';
                var nam = '&Nam=' + $('#Nam').val();
                var mota = '&Mota=' + $('#Mota').val();
                var url = current_path_url + nam + mota;
                window.location.href = url;
            })
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Tìm kiếm thông tin giá<small>&nbsp;dịch vụ công ích</small>
                </h3>
            </div>
        </div>
    </div>
    <hr />
    <form asp-controller="GiaDichVuCongIch" asp-action="Result" method="post" enctype="multipart/form-data" id="frm_search">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>



            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold; color:blue">Đơn vị</label>
                        <select class="form-control" id="dv" name="dv">
                            <option value="All">--Tất cả các đơn vị--</option>
                            @foreach (var db in dsdiaban)
                            {
                                <optgroup label="@db.TenDiaBan">
                                    @{
                                        var company = dscqcq.Where(t => t.MaDiaBan == db.MaDiaBan);
                                    }

                                    @foreach (var item in company)
                                    {

                                        <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>@item.TenDv</!option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label><b>Tên sản phẩm dịch vụ</b></label>
                        <select class="form-control" id="tsp" name="tsp">
                            <option value="All">--Tất cả các phân loại--</option>
                            @foreach (var tn in GiaSpDvCiDm)
                            {
                                <option value="@tn.Maspdv">@tn.Tenspdv</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời gian nhập từ</label>
                        <input type="date" class="form-control" name="beginTime" id="beginTime" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời gian nhập đến</label>
                        <input type="date" class="form-control" name="endTime" id="endTime" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Đơn gia nhập từ</label>
                        <input type="number" class="form-control money" name="beginPrice" id="beginPrice" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Đơn gia nhập đến</label>
                        <input type="number" class="form-control money" name="endPrice" id="endPrice" />
                    </div>
                </div>
            </div>
        </div>


    
    `
    <div class="card-footer" style="text-align:center">
        <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
        <button type="button" onclick="valedate()" class="btn btn-primary mr-2"><i class="la la-check"></i>Tìm</button>
    </div>
</form>

<script>
    function valedate() {
        if ($('#endPrice').val() != "" || $('#endPrice').val() != 0) {
            if ($('#beginPrice').val() > $('#endPrice').val()) {
                toastr.error("Đơn giá nhập từ không được nhỏ hơn đơn giá nhập đến!", "Lỗi!!!")
            }
            else {
                document.getElementById("frm_search").submit();
            }
        }
        else {
            document.getElementById("frm_search").submit();
        }
    }
</script>