@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDat;
@{
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsxaphuong = (IEnumerable<DsXaPhuong>)ViewData["DsXaPhuong"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
            MoneyDecimalMask();
            $('.select2multi').select2();
        });
        function GetXaPhuong() {
            $.ajax({
                url: '/Ajax/GetXaPhuong',
                type: 'POST',
                data: {
                    MaDiaBan: $('#Madiaban').val(),
                    KeySelect: 'Maxp'
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success('Success');
                        $('#Maxp').html(data.message);
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                HỒ SƠ GIÁ CÁC LOẠI ĐẤT
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaDatPl" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_dct_store">
        <div class="card-body">
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <input hidden asp-for="Phanloai" />
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ @Model.Phanloai:</label>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa bàn áp dụng:<span class="text-danger">*</span></label><br />
                        <select class="form-control select2basic" id="Madiaban" asp-for="Madiaban" onchange="GetXaPhuong()">
                            @foreach (var item in dsdiaban)
                            {
                                <option value="@item.MaDiaBan">@item.TenDiaBan</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Xã phường: <span class="text-danger">*</span></label><br />
                        <select class="form-control select2basic" asp-for="Maxp" id="Maxp">
                            <option value="all">--Chọn xã phường--</option>
                            @foreach (var item in dsxaphuong)
                            {
                                <option value="@item.Maxp">@item.Tenxp</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định:<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Soqd" id="Soqd" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Thời điểm:<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Thông tin hồ sơ:<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Thongtin" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" rows="2" cols="50" asp-for="Ghichu"></textarea>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaDatPhanLoai/ThongTinGiayTo/Index.cshtml")
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaDatPhanLoai/Detail.cshtml")
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaDatPl" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValidateDct()"><i class="la la-check"></i>Thêm mới</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValidateDct() {
        if ($('#Soqd').val().trim() == '') {
            toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm mức giá không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("frm_dct_store").submit();
            }
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}