@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDatPhanLoai
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    @*<script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>*@
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Quản lý nhận dữ liệu
                </span>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaDatPlExcel" asp-action="Import" method="post" enctype="multipart/form-data">
        <input hidden asp-for="Madv" />
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file excel dữ liệu mẫu:</label>
                <a href="~/UpLoad/File/DinhGia/Excel/FileExcel.xlsx" target="_blank" class="btn btn-link"
                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <span style="font-weight:bold;">Link tải file mẫu AH.xlsx</span>
                </a>
            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <div class="row">
                <input hidden />
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold; color:blue"> Địa bàn </label>
                        <select asp-for="Madiaban" class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Số quyết định</label>
                        <select asp-for="Soqd" class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Thời điểm</label>
                        <select asp-for="Thoidiem" class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Thông tin hồ sơ</label>
                        <select asp-for="Thongtin" class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</label>
            </div>
            <div class="row">
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Tên đường giới hạn khu vực</label>
                        <select class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                        
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Loại đất</label>
                        <select  class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Vị trí</label>
                        <select  class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Giá đất tại bảng</label>
                        <select  class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Giá đất cụ thể</label>
                        <select  class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Hệ số điều chỉnh</label>
                        <select  class="form-control">
                            @foreach (var item in Helpers.GetListColExcel())
                            {
                                <option value="@item.Value">@item.Key</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file dữ liệu:</label>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">File dữ liệu:</label>
                        <input type="file" accept=".xlsx"  />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Sheet</label>
                        <input class="form-control"  step="1" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Từ dòng</label>
                        <input class="form-control"  step="1" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Đến dòng</label>
                        <input class="form-control"  step="1" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="QuanLyHoSoNCC" asp-action="Index" asp-route-MaHoSo="AH" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Nhận dữ liệu</button>
        </div>
    </form>
    <!--end::Form-->
    <!--end::Form-->
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }