@{
    var dmloaidat = (IEnumerable<DmLoaiDat>)ViewData["Dmloaidat"];
    var mahs = ViewData["Mahs"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsxaphuong = (IEnumerable<DsXaPhuong>)ViewData["DsXaPhuong"];

}
<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin chi tiết hồ sơ
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="@mahs" id="mahs_create" />
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Địa bàn áp dụng</label><br />
                            <select class="form-control" id="MaDiaBanChiTiet" onchange="GetXaPhuongChiTiet()">
                                @foreach (var item in dsdiaban)
                                {
                                    <option value="@item.MaDiaBan">@item.TenDiaBan</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Xã phường</label><br />
                            <select class="form-control" id="MaXaPhuongChiTiet">
                                @foreach (var item in dsxaphuong)
                                {
                                    <option value="@item.Maxp">@item.Tenxp</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Tên đường, giới hạn, khu vực<span class="text-danger">*</span></b></label>
                            <input type="text" id="tenduong_create" name="tenduong_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Giá đất cụ thể</b></label>
                            <input type="text" id="giact_create" name="giact_create" class="form-control money text-right" style="font-weight: bold" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetStore()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>


<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa thông tin dịch vụ - quy cách chất lượng
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SetChiTiet() {
        var madiaban = $('#Madiaban').val();
        var maxa = $('#Maxp').val();
        $('#MaDiaBanChiTiet').val(madiaban);
        if (maxa !="all") {
            $('#MaXaPhuongChiTiet').val(maxa);
        }

    }
    function GetXaPhuongChiTiet() {
        $.ajax({
            url: '/Ajax/GetXaPhuongNoAll',
            type: 'POST',
            data: {
                MaDiaBan: $('#MaDiaBanChiTiet').val(),
                KeySelect: 'MaXaPhuongChiTiet'
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success('Success');
                    $('#MaXaPhuongChiTiet').html(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
    function SetStore() {
        $.ajax({
            url: '/GiaDatCuTheCt/Store',
            type: 'POST',
            data: {
                Mahs: $('#mahs_create').val(),
                Khuvuc: $('#tenduong_create').val(),
                Giacuthe: $('#giact_create').val(),
                MaDv: $('#Madv').val(),
                MaDiaBan: $('#MaDiaBanChiTiet').val(),
                MaXaPhuong: $('#MaXaPhuongChiTiet').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Create_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function SetEdit(id_edit) {
        $.ajax({
            url: '/GiaDatCuTheCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function SetUpdate() {
        $.ajax({
            url: '/GiaDatCuTheCt/Update',
            type: 'POST',
            data: {
                Mahs: $('#mahs_edit').val(),
                Khuvuc: $('#tenduong_edit').val(),
                Giacuthe: $('#giact_edit').val(),
                Id: $('#id_edit').val(),
                MaDiaBan: $('#MaDiaBanChiTiet_edit').val(),
                MaXaPhuong: $('#MaXaPhuongChiTiet_edit').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function GetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetDelete() {
        $.ajax({
            url: '/GiaDatCuTheCt/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>