@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dmloaidat = (IEnumerable<DmLoaiDat>)ViewData["Dmloaidat"];
}
<br />
<br />
@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDat

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr>
            <th style="text-align:center;">STT</th>
            <th style="text-align:center;">Tên đường, giới hạn, khu vực</th>
            <th style="text-align:center;">Loại đất</th>
            <th style="text-align:center;">Vị trí</th>
            <th style="text-align:center;">Địa giới - Từ</th>
            <th style="text-align:center;">Địa giới - Đến</th>
            <th style="text-align:center;">Giá đất tại bảng giá</th>
            <th style="text-align:center;">Giá đất cụ thể</th>
            <th style="text-align:center;">Hệ số điều chỉnh</th>
         
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.GiaDatPhanLoaiCt != null)
            {
                @foreach (var item in Model.GiaDatPhanLoaiCt)
                {
                    <tr style="text-align:center">
                        <td style="text-align:center">@(record_id++)</td>
                        <td>@item.Khuvuc</td>
                        <td>
                            @foreach (var ten in dmloaidat)
                            {
                                @if (ten.Maloaidat == item.Maloaidat)
                                {
                                    <span>@ten.Loaidat</span>
                                }
                            }
                        </td>
                        <td>@item.Vitri</td>
                        <td style="text-align:center;">@item.Diagioitu</td>
                        <td style="text-align:center;">@item.Diagioiden</td>
                        <td style="text-align:center;">@Helpers.ConvertDbToStr(item.Banggiadat)</td>
                        <td style="text-align:center;">@Helpers.ConvertDbToStr(item.Giacuthe)</td>
                        <td style="text-align:center;">@Helpers.ConvertDbToStr(item.Hesodc)</td>
                      
                    </tr>
                }
            }
        }
    </tbody>
</table>
