@model CSDLGia_ASP.Models.Manages.DinhGia.GiaTaiSanTths

@{
    int record_id = 1;
}
<div class="mb-3 font-weight-bold font-size-lg">
    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin chi tiết</label>
</div>
<div class="card card-custom" style="border: 1px solid #60aee4;">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
            </h3>
        </div>
        <div class="card-toolbar">
            <button type="button" data-target="#Create_Modal" data-toggle="modal"
                    class="btn btn-primary font-weight-bolder" title="Create">
                <i class="la la-plus"></i>Thêm mới
            </button>
        </div>
    </div>
    <hr />
    <div class="card-body" id="frm_data">
        <table class="table table-striped table-bordered table-hover" id="datatable_4">
            <thead>
                <tr style="text-align:center">
                    <th width="2%" rowspan="2">STT</th>
                    <th rowspan="2" width="17%">Tên tài sản</th>
                    <th rowspan="2" width="17%">Tài sản cùng loại tương đương</th>
                    <th rowspan="2" width="17%">Các thông số kĩ thuật tài sản</th>
                    <th colspan="2">Giá tài sản thị trường</th>
                    <th rowspan="2" width="15%">Thời điểm</th>
                    <th rowspan="2">Ghi chú</th>
                    <th rowspan="2" width="12%">Thao tác</th>
                </tr>
                <tr>
                    <th>Giá bán buôn</th>
                    <th>Giá bán lẻ</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.GiaTaiSanTthsCt != null)
                {
                    @foreach (var item in Model.GiaTaiSanTthsCt)
                    {
                        <tr>
                            <td class="text-center">@(record_id++)</td>
                            <td class="text-center">@item.Tentaisan</td>
                            <td class="text-center">@item.TaisanTd</td>
                            <td class="text-center">@item.DacdiemKt</td>
                            <td class="text-center">@item.Giabanbuon</td>
                            <td class="text-center">@item.Giabanle</td>
                            <td class="text-center">@Helpers.ConvertDateTimeToStr(item.Thoidiem)</td>
                            <td class="text-center">@(item.Ghichu)</td>
                            <td>
                                <button type="button" data-target="#Edit_Modal" data-toggle="modal" class="btn btn-sm btn-clean btn-icon"
                                        onclick="SetEdit('@item.Id')" title="Sửa">
                                    <i class="icon-lg la la-edit text-warning"></i>
                                </button>
                                <button type="button" data-target="#Edit_Modal" data-toggle="modal" class="btn btn-sm btn-clean btn-icon"
                                        onclick="SetDelete('@item.Id')" title="Xoá">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>

                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaTaiSanTths/Modal.cshtml")
