@{
    var list = (IEnumerable<GiaTaiSanTthsCt>)ViewData["list"];
    var tstd = (from t in list group t by t.TaisanTd into grp select new { ts = grp.Key });
    //var ttrang = (from t in list group t by t.Tinhtrang into grp select new { tt = grp.Key });
    var ttrang = Helpers.TinhtrangTs();
    var dtinh = (from t in list group t by t.Dactinh into grp select new { dt = grp.Key });
}
<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thêm mới chi tiết tài sản trong tố tụng hình sự
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input type="hidden" id="mahs_create" name="mahs_create" value="@ViewData["Mahs"]" />
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Tên tài sản</b></label>
                            <input type="text" id="tents_create" name="tents_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-11">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Tài sản cùng loại hoặc tương đương</b></label>
                            <select id="tstd_create" name="tstd_create" class="form-control">
                                <option>--Chọn tài sản tương đương--</option>
                                @foreach (var ts in tstd)
                                {
                                    <option value="@ts.ts">@ts.ts</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-1" style="padding-left: 0px;">
                        <label class="control-label">&nbsp;&nbsp;&nbsp;</label>
                        <button type="button" class="btn btn-default" style="border:rgba(0, 0, 0, 0.1) solid 0.05px" data-target="#Tstd_Modal" data-toggle="modal">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Các thông số kĩ thuật của tài sản</b></label>
                            <input id="dacdiemkt_create" name="dacdiemkt_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Tình trạng</b></label>
                            <select id="tinhtrang_create" name="tinhtrang_create" class="form-control">
                                <option>--Chọn tình trạng--</option>
                                @foreach (var tt in ttrang)
                                {
                                    <option value="@tt">@tt</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-11">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Đặc tính</b></label>
                            <select id="dactinh_create" name="dactinh_create" class="form-control">
                                <option>--Chọn đặc tính--</option>
                                @foreach (var dt in dtinh)
                                {
                                    <option value="@dt.dt">@dt.dt</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-1" style="padding-left: 0px;">
                        <label class="control-label">&nbsp;&nbsp;&nbsp;</label>
                        <button type="button" class="btn btn-default" style="border:rgba(0, 0, 0, 0.1) solid 0.05px" data-target="#Dactinh_Modal" data-toggle="modal">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Giá bán buôn</b></label>
                            <input type="text" id="banbuon_create" name="banbuon_create" class="form-control money" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Giá bán lẻ</b></label>
                            <input type="text" id="banle_create" name="banle_create" class="form-control money" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Phần trăm định giá</b></label>
                            <input type="text" id="phantram_create" name="phantram_create" class="form-control percent" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Thời điểm</b></label>
                            <input type="date" id="thoidiem_create" name="thoidiem_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Ghi chú</b></label>
                            <textarea type="text" id="ghichu_create" name="ghichu_create" cols="12" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetStore()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>
<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa thông tin
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>

            </div>
        </div>
    </div>
</div>
@*tstd modal*@
<div class="modal fade" id="Tstd_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin tài sản cùng loại hoặc tương đương
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Tài sản cùng loại hoặc tương đương<span class="require">*</span></label>
                        <input id="tstd_add" class="form-control" name="tstd_add" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Tstd()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
@*dactinh modal*@
<div class="modal fade" id="Dactinh_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin đặc tính tài sản
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Đặc tính tài sản<span class="require">*</span></label>
                        <input id="dt_add" class="form-control" name="dt_add" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Dactinh()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="GetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
@*tstdEdit modal*@
<div class="modal fade" id="TstdEdit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin tài sản cùng loại hoặc tương đương
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Tài sản cùng loại hoặc tương đương<span class="require">*</span></label>
                        <input id="tstd_edit" class="form-control" name="tstd_edit" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="TstdEdit()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
@*dactinhEdit modal*@
<div class="modal fade" id="DactinhEdit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin đặc tính tài sản
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Đặc tính tài sản<span class="require">*</span></label>
                        <input id="dt_edit" class="form-control" name="dt_edit" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="DactinhEdit()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<script>
    function Tstd() {
        $('#Tstd_Modal').modal('hide');
        var gt = $('#tstd_add').val();
        $('#tstd_create').append(new Option(gt, gt, true, true));
        $('#tstd_create').val(gt).trigger('change');
    }
    function Dactinh() {
        $('#Dactinh_Modal').modal('hide');
        var gt = $('#dt_add').val();
        $('#dactinh_create').append(new Option(gt, gt, true, true));
        $('#dactinh_create').val(gt).trigger('change');
    }
    function SetStore() {
        $.ajax({
            url: '/GiaTaiSanTthsCt/Store',
            type: 'POST',
            data: {
                Tents: $('#tents_create').val(),
                Taisantd: $('#tstd_create').val(),
                Dacdiemkt: $('#dacdiemkt_create').val(),
                Tinhtrang: $('#tinhtrang_create').val(),
                Dactinh: $('#dactinh_create').val(),
                Giabanbuon: $('#banbuon_create').val(),
                Giabanle: $('#banle_create').val(),
                Thoidiem: $('#thoidiem_create').val(),
                Phantram: $('#phantram_create').val(),
                Ghichu: $('#ghichu_create').val(),
                Mahs: $('#mahs_create').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Create_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
    function SetEdit(id_edit) {
        $.ajax({
            url: '/GiaTaiSanTthsCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Thành công!");
                    $('#edit_thongtin').replaceWith(data.message);
                    MoneyMask();
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }
    function TstdEdit() {
        $('#TstdEdit_Modal').modal('hide');
        var gt = $('#tstd_edit').val();
        $('#tstd_edit').append(new Option(gt, gt, true, true));
        $('#tstd_edit').val(gt).trigger('change');
    }
    function DactinhEdit() {
        $('#DactinhEdit_Modal').modal('hide');
        var gt = $('#dt_edit').val();
        $('#dactinh_edit').append(new Option(gt, gt, true, true));
        $('#dactinh_edit').val(gt).trigger('change');
    }
    function SetUpdate() {
        var gia = $('#gia_edit').val().replace(',', '');
        $.ajax({
            url: '/GiaTaiSanTthsCt/Update',
            type: 'POST',
            data: {
                Tents: $('#tents_edit').val(),
                Taisantd: $('#tstd_edit').val(),
                Dacdiemkt: $('#dacdiemkt_edit').val(),
                Tinhtrang: $('#tinhtrang_edit').val(),
                Dactinh: $('#dactinh_edit').val(),
                Giabanbuon: $('#banbuon_edit').val(),
                Giabanle: $('#banle_edit').val(),
                Phantram: $('#phantram_edit').val(),
                Thoidiem: $('#thoidiem_edit').val(),
                Ghichu: $('#ghichu_edit').val(),
                Id: $('#id_edit').val()
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function GetDelete() {
        $.ajax({
            url: '/GiaTaiSanTthsCt/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>