@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDvKcb
@{
    var DsDonVi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsnhom = (IEnumerable<GiaDvKcbNhom>)ViewData["GiaDvKcbNhom"];

}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManagedClass.init();
            MoneyDecimalMask();
            $('.select2multi').select2();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ giá<small>&nbsp;dịch vụ khám chữa bệnh</small><br />
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="DvKhamChuaBenh" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_kcb_store">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Manhom" />
            <input hidden asp-for="PhanLoaiHoSo" />
            <input hidden asp-for="CodeExcel" />
            <input hidden asp-for="Mahs" />
            <div class="row">
                @*<div class="col-xl-6">
                <div class="form-group">
                <label>Danh mục khám chữa bệnh*</label>
                <select id="Manhom" name="Manhom" class="form-control" disabled>
                @foreach (var item in dsnhom)
                {
                <!option value="@item.Manhom" @(item.Manhom == Model.Manhom ? "selected" :"" ) >@item.Tennhom</!option>
                }
                </select>
                </div>
                </div>
                <div class="col-xl-6">
                <div class="form-group">
                <label>Địa bàn*</label>
                <select id="Madv" name="Madv" class="form-control" disabled>
                @foreach (var item in DsDonVi)
                {
                <!option value="@item.MaDv" @(item.MaDv == Model.Madv ? "selected" :"" ) >@item.TenDv</!option>
                }
                </select>
                </div>
                </div> *@
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Số QĐ:<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Soqd" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời điểm:<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" asp-for="Thoidiem" />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Mô tả<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Mota" />
                    </div>
                </div>
            </div>          


            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaDvKhamChuaBenh/Detail.cshtml")


        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="DvKhamChuaBenh" asp-action="Index" asp-route-Madv="@Model.Madv" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValidateKcb()"><i class="la la-check"></i>Thêm mới</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValidateKcb() {
        if ($('#Soqd').val().trim() == '') {
            toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("frm_kcb_store").submit();
            }
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}