@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsnhom = (IEnumerable<GiaDvKcbNhom>)ViewData["GiaDvKcbNhom"];
    int record_id = 1;
}

<br />
<br />
@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDvKcb
<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ </p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">Thời gian áp dụng: @Helpers.ConvertDateToStr(Model.Thoidiem)</p>
<p style="text-align: left; font-size: 16px;">
    Mô tả: @Model.Mota
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
@foreach (var manhom in ViewData["GroupMaNhom"] as List<string>)
{
    @foreach (var dm in dsnhom)
    {
        @if (manhom == dm.Manhom)
        {
            <p style="text-align: center; font-weight: bold; font-size: 15px;">@dm.Tennhom</p>
        }
    }
    <table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
        <thead>
            <tr>
                <th style="text-align:center">STT</th>
                <th style ="text-align:center">STT TT37</th>
                <th style="text-align:center">Mã dịch vụ</th>
                <th style="text-align:center">Tên dịch vụ</th>
                <th style="text-align:center" width="10%">Đơn giá</th>
                <th style="text-align:center">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @if (Model.GiaDvKcbCt != null)
                {
                    @foreach (var item in Model.GiaDvKcbCt.Where(t => t.Manhom == manhom).OrderBy(t => t.Sapxep))
                    {
                        <tr>
                            <td style="text-align:center">@(record_id++)</td>
                            <td style="text-align:center"></td>
                            <td style="text-align:center">@item.Madichvu</td>
                            <td>@item.Tenspdv</td>
                            <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giadv)</td>
                            <td>@item.Ghichu</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}