<!--Create Modal-->
@using CSDLGia_ASP.Models.Systems.API
@using Newtonsoft.Json;
@{
    string maChucNang = (string)ViewData["maKetNoiAPI"];
    var linkAPIXacthuc = HttpContextAccessor.HttpContext.Session.GetString("LinkAPIXacthuc");
    string linkAPIKetNoi = HttpContextAccessor.HttpContext.Session.GetString("LinkAPIKetNoi");
    string maDiaBanHanhChinh = HttpContextAccessor.HttpContext.Session.GetString("MaDiaBanHanhChinh");
    string maDonViThuThap = HttpContextAccessor.HttpContext.Session.GetString("MaDonViThuThap");
    string linkKetNoi = "";

    // Chuyển đổi chuỗi JSON thành một Dictionary
    Dictionary<string, KetNoiAPI_DanhSach> dictionary = JsonConvert.DeserializeObject<Dictionary<string, KetNoiAPI_DanhSach>>(linkAPIKetNoi);

    // Lấy giá trị với khóa cụ thể
    if (dictionary.ContainsKey(maChucNang))
    {
        KetNoiAPI_DanhSach value = dictionary[maChucNang];
        linkKetNoi = value.LinkTruyenPost;
    }
    var tokenLGSP = HttpContextAccessor.HttpContext.Session.GetString("TokenLGSP");
}

<form asp-controller="API" asp-action="TruyenDuLieuCSDLQG" method="post" enctype="multipart/form-data" id="frm_truyendulieu">
    <input type="hidden" name="MaKetNoiAPI" value="@maChucNang" />
    <input type="hidden" name="Mahs" />
    <div class="modal fade" id="TruyenHoSo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thông tin kết nối API
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link API token<span class="text-danger">*</span></label>
                                <input type="text" name="LinkAPIXacthuc" value="@linkAPIXacthuc" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Mã AccessToken<span class="text-danger">*</span></label>
                                <textarea name="TokenLGSP" rows="2" class="form-control" required>@tokenLGSP</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Bearer Token<span class="text-danger">*</span></label>
                                <input type="text" name="bearerToken" placeholder="Bearer Token lấy từ LGSP" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 text-right">
                            <button type="button" onclick="getBearerToken()" class="btn btn-primary font-weight-bold">Lấy Token từ LGSP</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Link API truyền dữ liệu<span class="text-danger">*</span></label>
                                <input type="text" name="LinkAPIKetNoi" value="@linkKetNoi" class="form-control" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Mã địa bàn hành chính<span class="text-danger">*</span></label>
                                <input type="text" name="DIA_BAN" value="@maDiaBanHanhChinh" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Mã đơn vị thu thập<span class="text-danger">*</span></label>
                                <input type="text" name="NGUON_SO_LIEU" value="@maDonViThuThap" class="form-control" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Người tạo (Tài khoản CSDL quốc gia)<span class="text-danger">*</span></label>
                                <input type="text" name="NGUOI_TAO" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Người duyệt (Tài khoản CSDL quốc gia)<span class="text-danger">*</span></label>
                                <input type="text" name="NGUOI_DUYET" value="" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Chức năng</label>
                                <select name="THAO_TAC" class="form-control">
                                    <option value="true">Truyền dữ liệu</option>
                                    <option value="false">Xem dữ liệu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Hoàn thành</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function setTruyenDuLieu(maHoSo) {
        $('#frm_truyendulieu').find("[name='Mahs']").val(maHoSo);
    }
    function getBearerToken() {
        $('#frm_truyendulieu').find("[name='bearerToken']").val("b8abce35-b5aa-3fcf-8b9e-fcf6f5a090c0");
    }
</script>