@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var GiaSpDvCongIchDm = (IEnumerable<GiaSpDvCongIchDm>)ViewData["GiaSpDvCongIchDm"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIchCt>

<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM</p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr >
            <th style="text-align:center"  rowspan="2">STT</th>
            <th style="text-align:center" rowspan="2">Hiện Thị</th>
            <th style="text-align:center" rowspan="2">Tên sản phẩm dịch vụ</th>
            <th style="text-align:center" rowspan="2">Đơn vị tính</th>
            <th style="text-align:center" colspan="4">Mức giá</th>
        </tr>
        <tr >
            <th>Mức giá 1</th>
            <th>Mức giá 2</th>
            <th>Mức giá 3</th>
            <th>Mức giá 4</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr style="text-align: center">
                    <td style="text-align:center">@(record_id++)</td>
                    <td style="text-align:center"> @item.Tendv</td>
                    <td style="text-align:center">@item.Soqd</td>
                    <td style="text-align:left">@item.Ten</td>
                    <td style="text-align:center">@item.Dvt</td>
                    <td style="text-align:center">@item.Mucgiatu</td>
                    <td style="text-align:center">@item.Mucgiaden</td>
                    <td style="text-align:center">@item.Mucgia3</td>
                    <td style="text-align:center">@item.Mucgia4</td>
                </tr>
            }
        }
    </tbody>
</table>





