@{
    int record_id = 1;   
    Layout = "_LayoutReports";
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIchCt>



<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>

        <tr>
            <th rowspan="2" width="2%" style="text-align:center">STT</th>
            <th rowspan="2" style="text-align:center">Đơn vị</th>
            <th rowspan="2" style="text-align:center">Số QĐ/Thời điểm</th>
            <th rowspan="2" style="text-align:center">Hồ sơ</th>
            <th style="text-align:center" rowspan="2">Tên sản phẩm dịch vụ</th>
            <th style="text-align:center" rowspan="2">Đơn vị tính</th>
            <th style="text-align:center" colspan="4">Mức giá</th>
        </tr>
        <tr>
            <th style="text-align:center">Mức giá 1</th>
            <th style="text-align:center">Mức giá 2</th>
            <th style="text-align:center">Mức giá 3</th>
            <th style="text-align:center">Mức giá 4</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td style="text-align:center">@item.Tendv</td>
                <td style="text-align:center">@item.Soqd <br />@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                <td style="text-align:center">@item.Tennhom</td>
                <td style="text-align:left">@item.Ten</td>
                <td style="text-align:center">@item.Dvt</td>
                <td style="text-align:center">@item.Mucgiatu</td>
                <td style="text-align:center">@item.Mucgiaden</td>
                <td style="text-align:center">@item.Mucgia3</td>
                <td style="text-align:center">@item.Mucgia4</td>               
            </tr>
        }
    </tbody>
</table>









