@model IEnumerable<CSDLGia_ASP.Models.Systems.YKienGopY>

@{
    var stt = 1;
   
}
@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh mục ý kiến đóng góp
            </h3>
        </div>
        <div class="card-toolbar">

            <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                <i class="la la-plus"></i>Thêm mới
            </button>


        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th style="text-align: center">STT</th>
                    <th style="text-align: center">Tiêu đề</th>
                    <th style="text-align: center">Nội dung</th>
                    <th style="text-align: center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center" width="3%">@(stt++)</td>
                            <td style="text-align: center" >@item.TieuDe</td>
                            <td style="text-align: center" >@item.NoiDung</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa" data-toggle="modal"
                                        data-target="#Edit_Modal" onclick="Setedit('@item.Id','@item.TieuDe','@item.NoiDung')">
                                    <i class="icon-lg la la-edit text-primary"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>
                                <a href="~/UpLoad/File/@item.Ipf1" target="_blank" title="Tải tệp" class="btn btn-sm btn-clean btn-icon"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    <i class="icon-lg la la-cloud-download text-warning"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="modalForm" method="post" asp-controller="YKienGopY" asp-action="Store" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h3 class="card-label text-dark">
                          Thêm mới
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Tiêu đề</label>
                                <input type="text" id="TieuDe" name="TieuDe" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Nội dung</label>
                                <textarea type="text" id="NoiDung" name="NoiDung" class="form-control" rows="5" cols="30"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <label>File đính kèm</label>
                            <input type="file" name="Ipf1" accept=".docx, .pdf, .xlsx, .txt" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                        <button type="submit" class="btn btn-primary font-weight-bold">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="modalForm" method="post" asp-controller="YKienGopY" asp-action="Update">
                    <div class="row">
                        <div class="modal-header">
                            <h3 class="card-label text-dark">
                                Chỉnh sửa
                            </h3>
                        </div>
                        <div class="col-xl-12">
                            <input hidden id="Id_edit" name="Id_edit" type="text" class="form-control" readonly />
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Tiêu đề</label>
                                <input id="tieude_edit" name="tieude_edit" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Nội dung</label>
                                <textarea type="text" id="noidung_edit" name="noidung_edit" class="form-control" rows="5" cols="30"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Xem file cũ</label><br>
                                <button type="button" id="view_old_file" class="btn btn-primary">
                                    <i class="fa fa-eye"></i> Xem file cũ
                                </button>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <label>File đính kèm</label>
                            <input type="file" name="Ipf1" accept=".docx, .pdf, .xlsx, .txt" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                        <button type="submit" class="btn btn-primary font-weight-bold">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="DmTaiLieuHuongDanSuDung" asp-action="Delete" method="post">
                <div class="modal-header">
                    <h3 class="card-label">
                        <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa ?</span>
                    </h3>
                </div>
                <div class="modal-body">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function Setedit(Id, tieude, noidung) {
        document.getElementById("Id_edit").value = Id;
        document.getElementById("tieude_edit").value = tieude;
        document.getElementById("noidung_edit").value = noidung;
    }
    function SetDelete(Id) {
        document.getElementById("id_delete").value = Id;
    }
</script>
