@model IEnumerable<CSDLGia_ASP.Models.Systems.YKienGopY>

@{
    var dsDonvi = ViewData["DsDonvi"] as List<string>;

    var stt = 1;

}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });


        $(function () {
            $('#Donvi_Search').change(function () {
                var current_path_url = '/YKienDongGop?';
                var tenDangNhap = 'TenDangNhap=' + $('#Donvi_Search').val();
                var url = current_path_url + tenDangNhap;
                window.location.href = url;
            });
        });

    </script>
}



<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">Danh mục ý kiến đóng góp</span>
            </h3>
        </div>
        <div class="card-toolbar">

            <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                <i class="la la-plus"></i>Thêm mới
            </button>


        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group">
                    <label style="font-weight:bold;color:blue">Đơn vị</label>
                    <select class="form-control select2basic" id="Donvi_Search" name="Donvi_Search">
                        <option value="all">--Tất cả--</option>
                        @if (dsDonvi != null)
                        {
                            @foreach (var tenDangNhap in dsDonvi)
                            {
                                <option value="@tenDangNhap">@tenDangNhap</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th style="text-align: center">STT</th>
                    <th style="text-align: center">Tên đơn vị góp ý</th>
                    <th style="text-align: center">Tiêu đề</th>
                    <th style="text-align: center">Nội dung</th>
                    <th style="text-align: center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center" width="3%">@(stt++)</td>
                            <td style="text-align: center">@item.TenDangNhap</td>
                            <td style="text-align: center">@item.TieuDe</td>
                            <td style="text-align: center">@item.NoiDung</td>
                            <td>
                                @if (Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Name") == item.TenDangNhap)
                                {
                                    <button type="button" data-target="#Edit_Modal" data-toggle="modal" class="btn btn-sm btn-clean btn-icon"
                                    onclick="SetEdit('@item.Id')" title="Chỉnh sửa">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </button>
                                }
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>

                                <a href="~/UpLoad/File/@item.Ipf1" target="_blank" title="Tải tệp" class="btn btn-sm btn-clean btn-icon"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    <i class="icon-lg la la-cloud-download text-warning"></i>
                                </a>


                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="modalForm" method="post" asp-controller="YKienGopY" asp-action="Store" enctype="multipart/form-data">
                    <h3 class="card-label">
                        @ViewData["Title"]
                        <span class="d-block text-muted pt-2 font-size-sm">Thêm mới thông tin ý kiến đóng góp</span>
                    </h3>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Tiêu đề</label>
                                <input type="text" id="TieuDe" name="TieuDe" class="form-control" placeholder="Lỗi không xem được báo cáo" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Nội dung</label>
                                <textarea type="text" id="NoiDung" name="NoiDung" class="form-control" rows="5" cols="30" placeholder="Mô tả chi tiết lỗi"></textarea>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <label>File đính kèm</label>
                            <input type="file" name="Ipf1" accept=".docx, .pdf, .xlsx, .txt" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                        <button type="submit" class="btn btn-primary font-weight-bold">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    @ViewData["Title"]
                    <span class="d-block text-muted pt-2 font-size-sm">Chỉnh sửa thông tin ý kiến đóng góp</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="frm_edit">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()" id="btn_update">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="YKienGopY" asp-action="Delete" method="post">
                <div class="modal-header">
                    <h3 class="card-label">
                        <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa ?</span>
                    </h3>
                </div>
                <div class="modal-body">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function SetEdit(id) {
        $.ajax({
            url: '/YKienDongGop/Edit',
            type: 'POST',
            data:
            {
                Id: id,
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_edit').replaceWith(data.message);
                }
                else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function SetUpdate() {
        // Tạo một đối tượng FormData
        var formData = new FormData();

        // Lấy giá trị từ các trường input
        formData.append('Id', $('#id_edit').val());
        formData.append('TieuDe', $('#tieude_edit').val());
        formData.append('NoiDung', $('#noidung_edit').val());

        // Lấy file từ input và thêm vào FormData
        var fileInput = $('#ipf1_edit')[0];
        if (fileInput.files.length > 0) {
            formData.append('FileUpLoad', fileInput.files[0]);
        }

        // Gửi AJAX request
        $.ajax({
            url: '/YKienDongGop/Update',
            type: 'POST',
            data: formData,
            processData: false,  // Không xử lý dữ liệu
            contentType: false,  // Không set contentType
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success(data.message);
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            },
            error: function (xhr, status, error) {
                toastr.error("Đã có lỗi xảy ra khi gửi dữ liệu!", "Lỗi!");
            }
        });

    }
    function SetDelete(Id) {
        document.getElementById("id_delete").value = Id;
    }
</script>
