@model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvToiDa
@{
    var mahs = ViewData["Mahs"];
}
<div class="mb-3 font-weight-bold font-size-lg">
    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</label>
</div>
<div class="card card-custom" style="border: 1px solid #60aee4;">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
            </h3>
        </div>
    </div>
    <hr />
    <div class="card-body" id="frm_data">
        <table class="table table-striped table-bordered table-hover" id="datatable_4">
            <thead>
                <tr style="text-align:center">
                    <th rowspan="2">STT</th>
                    <th rowspan="2">STT<br />báo cáo</th>
                    <th rowspan="2">Tên sản phẩm dịch vụ</th>
                    <th rowspan="2">Đơn vị tính</th>
                    <th rowspan="2">Mức giá tối đa</th>
                    <th colspan="4">Mức giá tối đa cự ly</th>
                    <th rowspan="2">Thao tác</th>
                </tr>

                <tr style="text-align:center"> 
                    <th>Mức giá tối đa cự ly dưới 500m</th>
                    <th>Mức giá tối đa cự ly từ 500m đến dưới 1.000m</th>
                    <th>Mức giá tối đa cự ly từ 1.000m đến dưới 2.000m</th>
                    <th>Mức giá tối đa cự ly từ 2.000m đến dưới 3.000m</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    @if (Model.GiaSpDvToiDaCt != null)
                    {
                        @foreach (var item in Model.GiaSpDvToiDaCt.OrderBy(x=>x.Sapxep))
                        {
                            <tr>
                                <td style="text-align:center">@item.Sapxep</td>
                                <td style="text-align:center">@item.HienThi</td>
                                <td style="text-align:center" >@item.Tenspdv</td>
                                <td style="text-align:center" >@item.Dvt</td>
                                <td style ="text-align:center" >@item.Dongia</td>    
                                <td style="text-align:center">@item.GiaToiDaTheoCuLy1</td>
                                <td style="text-align:center">@item.GiaToiDaTheoCuLy2</td>
                                <td style="text-align:center">@item.GiaToiDaTheoCuLy3</td>
                                <td style="text-align:center">@item.GiaToiDaTheoCuLy4</td>
                                <td>
                                    <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                            onclick="SetEdit(@item.Id)" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </button>
                                    <button type="button" data-target="#Delete_Modal" data-toggle="modal"
                                            onclick="GetDelete(@item.Id)" class="btn btn-sm btn-clean btn-icon" title="Xoá">
                                        <i class="icon-lg la la-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                }
             
            </tbody>
        </table>
      
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDvToiDa/Modal.cshtml")