@{
    DateTime nowDate = DateTime.Now;
    DateTime firstDayCurrentYear = new DateTime(nowDate.Year, 1, 1);
    DateTime lastDayCurrentYear = new DateTime(nowDate.Year, 12, 31);
    var nhomtn = (IEnumerable<GiaVatLieuXayDungNhom>)ViewData["NhomTn"];
    var nam_start = DateTime.Now.Year - 7;
    var nam_stop = DateTime.Now.Year + 1;
    var nam = ViewData["Nam"].ToString();
}

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            //$('.select2multi').select2();

            $("#radio1").click(function () {
                if (this.checked) {
                    $("#option2").css("display", "none");
                    $("#option1").css("display", "block");
                }
            });

            $("#radio2").click(function () {
                if (this.checked) {
                    $("#option1, .quy").css("display", "none");
                    $("#option2, .thang").css("display", "block");
                }
            });

            $("#radio3").click(function () {
                if (this.checked) {
                    $("#option1, .thang").css("display", "none");
                    $("#option2, .quy").css("display", "block");
                }
            });
        });
    </script>
}

    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Báo cáo giá <small>&nbsp;vật liệu xây dựng</small><br />
                </h3>
            </div>
        </div>
        <hr />
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group fv-plugins-icon-container">
                        <ol>
                            <li>
                                <button data-target="#Report_Modal" data-toggle="modal" class="btn btn-link" style="text-align:left">
                                    <span style="font-size:16px; color:blue;  font-weight: bold">
                                        Báo cáo giá vật liệu xây dựng
                                    </span>
                                </button>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Report Modal!-->
    <div class="modal fade" id="Report_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form asp-controller="GiaVatLieuXayDungBc" asp-action="Bc1" target="_blank" id="frm_report">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="card-label">
                            Báo cáo tổng hợp giá vật liệu xây dựng
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group fv-plugins-icon-container">
                                    <label style="font-weight: bold">Phân nhóm tài nguyên</label>
                                    <select class="form-control" id="manhom" name="manhom">
                                    @foreach (var item in nhomtn)
                                    {
                                        <option value="@item.Manhom">@item.Tennhom</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Năm liền kề*</label>
                                <select class="form-control" id="namlk" name="namlk">
                                    @for (var i = nam_start; i <= nam_stop; i++)
                                    {
                                    <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Năm báo cáo*</label>
                                <select class="form-control" id="nambc" name="nambc">
                                    @for (var i = nam_start; i <= nam_stop; i++)
                                    {
                                        <!option value="@i" @((string)nam == Helpers.ConvertYearToStr(i) ? "selected" : "")>@i</!option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>