@{
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXhDm>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh mục<small>&nbsp;giá thuê,thuê mua nhà ở</small><br />
            </h3>
        </div>
        <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dg.tmnxh.dm", "Create"))
            {
            <button type="button" class="btn btn-sm btn-clean btn-icon" data-toggle="modal" data-target="#Create_Modal">
                <i class="la la-plus"></i>Thêm mới
            </button>
            }

        </div>
    </div>
    <hr />
    <div class="card-body" id="frm_data">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th>STT</th>
                    <th>Phân loại</th>
                    <th>Tên nhà</th>
                    <th>Địa chỉ</th>
                    <th>Thời điểm hoàn thành</th>
                    <th>Hiện trạng</th>
                    <th width="20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(record_id++)</td>
                            <td style="text-align: center">@item.Tennha</td>
                            <td class="text-center center">@item.Tennha</td>
                            <td class="text-center center">@item.Diachi</td>
                            <td class="text-center center">@item.Thoigian</td>
                            <td class="text-center center">@item.Hientrang</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Sửa" data-toggle="modal" data-target="#Edit_Modal" onclick="SetEdit('@item.Id')">
                                    <i class="icon-lg la la-edit text-warning"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thông tin nhà xã hội
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Thời gian hoàn thành</b></label>
                                <input type="date" id="thoigian_create" name="thoigian_create" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Tên nhà xã hội*</b></label>
                                <input type="text" id="tennha_create" name="tennha_create" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Địa chỉ</b></label>
                                <input type="text" id="diachi_create" name="diachi_create" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Diện tích</b></label>
                                <input type="text" id="dientich_create" name="dientich_create" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Hiện trạng</b></label>
                                <select id="hientrang_create" name="hientrang_create" class="form-control">
                                    <option value="DCT">Đang cho thuê</option>
                                    <option value="DSD">Đang sử dụng</option>
                                    <option value="DB">Đã bán</option>
                                    <option value="CSD">Chưa sử dụng</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Phân loại</b></label>
                                <select id="phanloai_create" name="phanloai_create" class="form-control">
                                    <option value="XH">Nhà ở xã hội</option>
                                    <option value="CV">Nhà ở công vụ</option>
                                    <option value="NN">Nhà ở thuộc sở hữu của nhà nước</option>
                                    <option value="K">Nhà ở khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Ghi chú</b></label>
                                <textarea id="ghichu_create" name="ghichu_create" class="form-control" cols="2"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold" onclick="GetCreate()">Thêm mới</button>
                </div>
        </div>
    </div>
</div>
<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="GetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa danh mục giá thuê mua nhà xã hội
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="GetEdit()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>



<script>
    function GetCreate() {
        $.ajax({
            url: '/DanhMucGiaThueMuaNhaO/Store',
            type: 'POST',
            data: {
                Thoigian: $('#thoigian_create').val(),
                Tennha: $('#tennha_create').val(),
                Diachi: $('#diachi_create').val(),
                Dientich: $('#dientich_create').val(),
                Hientrang: $('#hientrang_create').val(),
                Phanloai: $('#phanloai_create').val(),
                Ghichu: $('#ghichu_create').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Thêm mới thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Create_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }
    function GetDelete() {
        $.ajax({
            url: '/DanhMucGiaThueMuaNhaO/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function SetEdit(id_edit) {
        $.ajax({
            url: '/DanhMucGiaThueMuaNhaO/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }
    function GetEdit() {
        $.ajax({
            url: '/DanhMucGiaThueMuaNhaO/Update',
            type: 'POST',
            data: {
                Thoigian: $('#thoigian_create').val(),
                Tennha: $('#tennha_create').val(),
                Diachi: $('#diachi_create').val(),
                Dientich: $('#dientich_create').val(),
                Hientrang: $('#hientrang_create').val(),
                Phanloai: $('#phanloai_create').val(),
                Ghichu: $('#ghichu_create').val(),
                Id: $('#id_edit').val()
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>