@{
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var DmDvt = (IEnumerable<DmDvt>)ViewData["DmDvt"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueTaiSanCongDm>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
        $(function () {
            $('#Madv').change(function () {
                var current_path_url = '/DanhMucThueTsc?';
                var madv = '&Madv=' + $('#Madv').val();
                var url = current_path_url + madv;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh mục<small>&nbsp;tài sản công</small><br />
            </h3>
        </div>
        <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong.danhmuc", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>

                <span>&nbsp;</span>
                <a class="btn btn-success font-weight-bolder" asp-controller="GiaThueTSanCongDm" asp-action="NhanExcel" asp-route-Madv="@ViewData["Madv"]">
                    <i class="la la-file-excel-o"></i>Nhận dữ liệu
                </a>
                <span>&nbsp;</span>
            }
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.thuetaisancong.danhmuc", "Delete"))
            {
                <button type="button" data-target="#Remove_Modal" data-toggle="modal" class="btn btn-danger font-weight-bolder" title="Xóa dữ liệu">
                    <i class="la la-trash"></i>Xóa dữ liệu
                </button>
            }
        </div>
    </div>
    <hr />
    <div class="card-body" id="frm_data">
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control select2basic" id="Madv" name="Madv">
                        <option value="all">--Tất cả--</option>
                        @foreach (var item in dsdonvi)
                        {
                            <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="2%">STT</th>
                    <th>Mã tài sản</th>
                    <th>Tên tài sản</th>
                    <th>Mô tả</th>
                    <td width="10%">Diện tích</td>
                    <td width="10%">Đơn vị tính</td>
                    <td width="10%">Giá trị</td>
                    <th width="10%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="text-align: left">@item.Mataisan</td>
                            <td style="text-align: left">@item.Tentaisan</td>
                            <td style="text-align: left">@item.Mota</td>
                            <td style="text-align: center">@item.Dientich</td>
                            <td style="text-align: center">@item.Dvt</td>
                            <td style="text-align: center">@Helpers.ConvertDbToStr(item.Giatri)</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Sửa" data-toggle="modal" data-target="#Edit_Modal" onclick="SetEdit('@item.Id')">
                                    <i class="icon-lg la la-edit text-warning"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin thuê tài sản công
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input hidden id="Madv_create" name="Madv_create" value="@ViewData["Madv"]" />
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Mã tài sản*</b></label>
                            <input type="text" id="Mataisan_create" name="Mataisan_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Tên tài sản*</b></label>
                            <input type="text" id="Tentaisan_create" name="Tentaisan_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Mô tả*</b></label>
                            <input type="text" id="Mota_create" name="Mota_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Diện tích*</b></label>
                            <input type="text" id="Dientich_create" name="Dientich_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Giá trị*</b></label>
                            <input type="text" id="Giatri_create" name="Giatri_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Đơn vị tính</b></label>
                            <input class="form-control" id="Dvt_create" name="Dvt_create" />
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Hiện trạng*</b></label>
                            <select id="HienTrang_create" name="HienTrang_create" class="form-control">
                                @foreach (string item in Helpers.HientrangThueTsc())
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary font-weight-bold" onclick="SetCreate()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <input id="id_delete" name="id_delete" type="hidden" />
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="GetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Remove Modal-->
<div class="modal fade" id="Remove_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa dữ liệu thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="GiaThueTSanCongDm" asp-action="RemoveRange" method="post">
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa danh mục giá tài sản công
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="GetEdit()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!--Dvt create Modal-->
<div class="modal fade" id="Dvt_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin đơn vị tính
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Đơn vị tính<span class="require">*</span></label>
                        <input id="dvt_add" class="form-control" name="dvt_add" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Dvt()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Dvt edit Modal-->
<div class="modal fade" id="Dvt_edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin đơn vị tính
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Đơn vị tính<span class="require">*</span></label>
                        <input id="dvt_edit_add" class="form-control" name="dvt_edit_add" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="DvtEdit()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Dvt() {
        $('#Dvt_Modal').modal('hide');
        var gt = $('#dvt_add').val();
        $('#Dvt_create').append(new Option(gt, gt, true, true));
        $('#Dvt_create').val(gt).trigger('change');
    }

    function DvtEdit() {
        $('#Dvt_edit_Modal').modal('hide');
        var gt = $('#dvt_edit_add').val();
        $('#Dvt_edit').append(new Option(gt, gt, true, true));
        $('#Dvt_edit').val(gt).trigger('change');
    }

    function SetCreate() {

        $.ajax({
            url: '/DanhMucThueTsc/Store',
            type: 'POST',
            data: {
                Madv: $('#Madv_create').val(),
                Mataisan: $('#Mataisan_create').val(),
                Tentaisan: $('#Tentaisan_create').val(),
                Mota: $('#Mota_create').val(),
                Dientich: $('#Dientich_create').val(),
                Dvt: $('#Dvt_create').val(),
                Giatri: $('#Giatri_create').val(),
                Hientrang: $('#Hientrang_create').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Thêm mới thành công!", "Thành công");
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }
    function GetDelete() {
        $.ajax({
            url: '/DanhMucThueTsc/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }


    function SetEdit(id_edit) {
        $.ajax({
            url: '/DanhMucThueTsc/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#edit_thongtin').replaceWith(data.message);

                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }


    function GetEdit() {
        $.ajax({
            url: '/DanhMucThueTsc/Update',
            type: 'POST',
            data: {
                Madv: $('#Madv_edit').val(),
                Mataisan: $('#Mataisan_edit').val(),
                Tentaisan: $('#Tentaisan_edit').val(),
                Mota: $('#Mota_edit').val(),
                Dientich: $('#Dientich_edit').val(),
                Dvt: $('#Dvt_edit').val(),
                Giatri: $('#Giatri_edit').val(),
                Hientrang: $('#Hientrang_edit').val(),
                Id: $('#id_edit').val()
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

</script>