@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaNuocShCt>

<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>



<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr>
            <th width="2%" style="text-align:center">STT</th>
            <th style="text-align:center">Đơn vị</th>
            <th style="text-align:center">Số QĐ/Thời điểm</th>
            <th>Mục đích sử dụng</th>
            <th>Tỷ trọng tiêu thụ (%)</th>
            <th>Sản lượng<br />(m3)</th>
            <th>Đơn giá chưa bao gồm thuế GTGT<br />(đồng/m3)</th>
            <th>Đơn giá đã bao gồm thuế GTGT<br />(đồng/m3)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td style="text-align:center">@item.Tendv</td>
                    <td style="text-align:center">@item.SoQD <br />@Helpers.ConvertDateToStr(item.ThoiDiem)</td>
                    <td style="text-align:left;">@item.Doituongsd</td>
                    <td style="text-align:center;">@item.TyTrongTieuThu</td>
                    <td style="text-align:center;">@item.SanLuong</td>
                    <td style="text-align:right;">@Helpers.ConvertDbToStr(item.DonGia1)</td>
                    <td style="text-align:right;">@Helpers.ConvertDbToStr(item.DonGia2)</td>
                </tr>
            }
        }
    </tbody>
</table>

