@{
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.ThamDinhGia.ThamDinhGiaDmHh>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
    </script>
}

    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Nhóm hàng hóa: @ViewData["Tennhom"]
                </h3>
            </div>
            <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdltdg.tdg.hh", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-light-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }&ensp;
            <a asp-controller="ThamDinhGiaDmHh" asp-action="Index" class="btn btn-light-danger">
                <i class="la la-reply"></i>Quay lại
            </a>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">#</th>
                    <th>Mã hàng hóa</th>
                    <th>Tên hàng hóa</th>
                    <th>Thông số kỹ thuật</th>
                    <th>Xuất xứ</th>
                    <th>Đơn vị tính</th>
                    <th width="20%">Theo dõi</th>
                    <th width="15%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td class="active">@item.Mahanghoa</td>
                        <td class="success" style="font-weight: bold">@item.Tenhanghoa</td>
                        <td>@item.Thongsokt</td>
                        <td>@item.Xuatxu</td>
                        <td style="text-align: center">@item.Dvt</td>
                        <td style="text-align: center">
                            @if (item.Theodoi == "TD")
                            {
                                <span class="label font-weight-bold label-lg  label-primary label-inline">Theo dõi</span>
                            }
                            else
                            {
                                <span class="label font-weight-bold label-lg label-danger label-inline">Dừng theo dõi</span>
                            }
                        </td>
                        <td>
                            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdltdg.tdg.hh", "Edit"))
                            {
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa" data-toggle="modal"
                                data-target="#Edit_Modal" onclick="editId('@item.Id')">
                                    <i class="icon-lg la la-edit text-primary"></i>
                                </button>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/ThamDinhGia/DmHh/Modal.cshtml")
