@model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIch
@{
    var mahs = ViewData["Mahs"];
    var dmNhomSpDvCongIch = (IEnumerable<GiaSpDvCongIchNhom>)ViewData["GiaSpDvCongIchNhom"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
}
<div class="mb-3 font-weight-bold font-size-lg">
    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ </label>
</div>
<input hidden asp-for="Madv" />
<input hidden asp-for="Manhom" />
<input hidden asp-for="Mahs" />
<input hidden asp-for="Id" />
<div class="row">
    <div class="col-xl-4">
        <div class="form-group">
            <label>Địa bàn áp dụng:<span class="text-danger">*</span></label>
            <select class="form-control" id="MaDiaBan" name="MaDiaBan">
                @foreach (var item in dsdiaban)
                {
                    <option value="@item.MaDiaBan">@item.TenDiaBan</option>

                }
            </select>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="form-group">
            <label>Số quyết định: <span class="text-danger">*</span></label>
            <input type="text" class="form-control" asp-for="Soqd" id="Soqd" required />
        </div>
    </div>
    <div class="col-xl-4">
        <div class="form-group">
            <label>Thời điểm: <span class="text-danger">*</span></label>
            <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" required />
        </div>
    </div>
    <div class="col-xl-12">
        <div class="form-group">
            <label>Ghi chú:<span class="text-danger">*</span></label>
            <textarea class="form-control" rows="2" cols="50" asp-for="Ghichu"></textarea>
        </div>
    </div>
</div>


@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDvCongIch/ThongTinGiayTo/Index.cshtml")

@*Nhận khi thêm*@
<div class="mb-3 font-weight-bold font-size-lg">
    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</label>
</div>
<div class="card-body" id="frm_data">
    @foreach (var dm in dmNhomSpDvCongIch.OrderBy(t => t.SapXep))
    {
        var hosoct = Model.GiaSpDvCongIchCt.Where(t => t.Manhom == dm.Manhom);
        if (hosoct.Any())
        {
            <p style="text-align: center; font-weight: bold; font-size: 15px;">@dm.Tennhom</p>

            <table class="table table-striped table-bordered table-hover class-nosort">
                <thead>
                    <tr>
                        <th style="text-align:center" rowspan="2">TT</th>
                        <th style="text-align:center" rowspan="2">Tên sản phẩm dịch vụ</th>
                        <th style="text-align:center" rowspan="2">Đơn vị tính</th>
                        <th style="text-align:center" colspan="2">Loại đô thị</th>
                        <th style="text-align:center" colspan="2">Mức giá</th>
                        <th style="text-align:center" rowspan="2">Thao tác</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Loại II</th>
                        <th style="text-align:center">Loại III - V</th>
                        <th style="text-align:center">Mức giá 1</th>
                        <th style="text-align:center">Mức giá 2</th>
                    </tr>
                </thead>
                <tbody>
                    @if (hosoct.Any())
                    {
                        @foreach (var item in hosoct.OrderBy(t => t.Sapxep))
                        {
                            <tr>
                                <td style="text-align:center">@item.HienThi</td>
                                <td style="text-align:left">@item.Ten</td>
                                <td style="text-align:center">@item.Dvt</td>
                                <td style="text-align:center">@item.LoaiDoThi</td>
                                <td style="text-align:center">@item.LoaiDoThi2</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgiatu)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgiaden)</td>  
                                <td>
                                    <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                            onclick="SetEdit(@item.Id)" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </button>                                  
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
    <!--end: Datatable-->
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDvCongIch/Modal.cshtml")