@model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIch

@{
    int record_id = 1;
    var mahs = ViewData["Mahs"];
    var dmNhomSpDvCongIch = (IEnumerable<GiaSpDvCongIchNhom>)ViewData["GiaSpDvCongIchNhom"];

}

@*Nhận khi thêm*@
<div class="mb-3 font-weight-bold font-size-lg">
    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</label>
</div>
<div class="card-body" id="frm_data">
    <div class="card-body" id="frm_data">
        @foreach (var manhom in ViewData["GroupMaNhom"] as List<string>)
        {
            @foreach (var dm in dmNhomSpDvCongIch)
            {
                @if (manhom == dm.Manhom)
                {
                    <p style="text-align: center; font-weight: bold; font-size: 15px;">@dm.Tennhom</p>
                }

            }
            <table class="table table-striped table-bordered table-hover dulieubang">
                <thead>
                    <tr >
                        <th style="text-align:center" rowspan="2">STT</th>
                        <th style="text-align:center" rowspan="2">Hiện Thị</th>
                        <th style="text-align:center" rowspan="2">Tên sản phẩm dịch vụ</th>
                        <th style="text-align:center" rowspan="2">Đơn vị tính</th>
                        <th style="text-align:center" colspan="4">Mức giá</th>
                        <th style="text-align:center" rowspan="2">Thao tác</th>
                    </tr>
                    <tr >
                        <th style="text-align:center">Mức giá 1</th>
                        <th style="text-align:center">Mức giá 2</th>
                        <th style="text-align:center">Mức giá 3</th>
                        <th style="text-align:center">Mức giá 4</th>
                    </tr>

                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @if (Model.GiaSpDvCongIchCt != null)
                        {
                            @foreach (var item in Model.GiaSpDvCongIchCt.Where(t => t.Manhom == manhom))
                            {
                                <tr>
                                    <td style="text-align:center">@(record_id++)</td>
                                    <td style="text-align:center">@item.HienThi</td>
                                    <td style="text-align:left">@item.Ten</td>
                                    <td style="text-align:center">@item.Dvt</td>
                                    <td style="text-align:center">@item.Mucgiatu</td>
                                    <td style="text-align:center">@item.Mucgiaden</td>
                                    <td style="text-align:center">@item.Mucgia3</td>
                                    <td style="text-align:center">@item.Mucgia4</td>
                                    <td>
                                        <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                                onclick="SetEdit(@item.Id)" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                            <i class="icon-lg la la-edit text-primary"></i>
                                        </button>
                                        <button type="button" data-target="#Delete_Modal" data-toggle="modal"
                                                onclick="GetDelete(@item.Id)" class="btn btn-sm btn-clean btn-icon" title="Xoá">
                                            <i class="icon-lg la la-trash text-danger"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        }
        <!--end: Datatable-->
    </div>




    <!--end: Datatable-->
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDvCongIch/Modal.cshtml")