@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var mahs = ViewData["Mahs"];
    var dmNhomSpDvCongIch = (IEnumerable<GiaSpDvCongIchNhom>)ViewData["GiaSpDvCongIchNhom"];

}
<br />
<br />
   @model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIch

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Helpers.ConvertDateToStr(Model.Thoidiem)</p>

<p style="text-align: left; font-size: 16px;">Mô tả: 01</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>

<div class="card-body" id="frm_data">
    <div class="card-body" id="frm_data">

        @foreach (var dm in dmNhomSpDvCongIch.OrderBy(t => t.SapXep))
        {
            var datact = Model.GiaSpDvCongIchCt.Where(t => t.Manhom == dm.Manhom);
            if (datact.Any())
            {
                <p style="text-align: center; font-weight: bold; font-size: 15px;">@dm.Tennhom</p>

                <table class="cellspacing=" 0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" dulieubang">
                    <thead>
                        <tr>
                            <th style="text-align:center" rowspan="2">TT</th>
                            <th style="text-align:center" rowspan="2">Tên sản phẩm dịch vụ</th>
                            <th style="text-align:center" rowspan="2">Đơn vị tính</th>
                            <th style="text-align:center" colspan="4">Mức giá</th>

                        </tr>
                        <tr style="text-align:center">
                            <th>Mức giá 1</th>
                            <th>Mức giá 2</th>
                            <th>Mức giá 3</th>
                            <th>Mức giá 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (datact != null)
                        {
                            @foreach (var item in datact.OrderBy(t => t.Sapxep))
                            {
                                <tr>
                                    <td style="text-align:center">@item.HienThi</td>
                                    <td style="text-align:left">@item.Ten</td>
                                    <td style="text-align:center">@item.Dvt</td>
                                    <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgiatu)</td>
                                    <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgiaden)</td>
                                    <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgia3)</td>
                                    <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgia4)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
        <!--end: Datatable-->
    </div>

</div>



