@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var mahs = ViewData["Mahs"];
    var dmNhomSpDvCongIch = (IEnumerable<GiaSpDvCongIchNhom>)ViewData["GiaSpDvCongIchNhom"];

}
<br />
<br />
   @model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIch

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">Mô tả: 01</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>

<div class="card card-custom" style="border: 1px solid #60aee4;">
   
    <hr />
    <div class="card-body" id="frm_data">
        @foreach (var manhom in ViewData["GroupMaNhom"] as List<string>)

        {
                @foreach (var dm in dmNhomSpDvCongIch)
                {
                    @if (manhom == dm.Manhom)
                    {
                    <p style="text-align: center; font-weight: bold; font-size: 15px;">@dm.Tennhom</p>
                    }
                }

            <table class="cellspacing=" 0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;"dulieubang">
                <thead>
                    <tr>
                        <th width="5%" style="text-align:center">Hiển thị</th>
                        <th width="60%" style="text-align:center">Danh mục</th>
                        <th width="10%" style="text-align:center">Đơn vị tính</th>
                        <th width="5%" style="text-align:center">Mức giá từ</th>
                        <th width="5%" style="text-align:center">Mức giá đến</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @if (Model.GiaSpDvCongIchCt != null)
                        {
                            @foreach (var item in Model.GiaSpDvCongIchCt.Where(t => t.Capdo == "1" && t.Manhom == manhom))
                            {
                                <tr>
                                    
                                    <td style="text-align:center">@item.HienThi</td>
                                    <td style="text-align:left">@item.Ten</td>
                                    <td style="text-align:center">@item.Dvt</td>
                                    <td style="text-align:center">@item.Mucgiatu</td>
                                    <td style="text-align:center">@item.Mucgiaden</td>
                                   
                                </tr>

                                @foreach (var item1 in Model.GiaSpDvCongIchCt.Where(t => t.Magoc == item.Maso && t.Manhom == manhom))
                                {
                                    <tr>
                                      
                                        <td style="text-align:center">@item1.HienThi</td>
                                        <td style="text-align:left">@item1.Ten</td>
                                        <td style="text-align:center">@item1.Dvt</td>
                                        <td style="text-align:center">@item1.Mucgiatu</td>
                                        <td style="text-align:center">@item1.Mucgiaden</td>
                                        
                                    </tr>
                                    @foreach (var item2 in Model.GiaSpDvCongIchCt.Where(t => t.Magoc == item1.Maso && t.Manhom == manhom))
                                    {
                                        <tr>
                                          
                                            <td style="text-align:center">@item2.HienThi</td>
                                            <td style="text-align:left">@item2.Ten</td>
                                            <td style="text-align:center">@item2.Dvt</td>
                                            <td style="text-align:center">@item2.Mucgiatu</td>
                                            <td style="text-align:center">@item2.Mucgiaden</td>
                                            
                                        </tr>
                                    }
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        }
        <!--end: Datatable-->
    </div>
</div>



