@model CSDLGia_ASP.Models.Manages.KeKhaiGia.KkGiaXmTxdCt
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    @*<script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>*@
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
            <i class="fa fa-star text-warning "></i>
        </div>
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Quản lý nhận dữ liệu
                </span>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="ImportsExcelAH" asp-action="Store" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file excel dữ liệu mẫu:</label>
                <a href="~/UpLoad/FileMauExcel/AH.xlsx" target="_blank" class="btn btn-link"
                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <span style="font-weight:bold;">Link tải file mẫu AH.xlsx</span>
                </a>
            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin quản lý:giá lệ phí trước bạ</label>
            </div>
            <div class="row">
                <input hidden />
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold; color:blue"> Địa bàn </label>
                        <span class="form-control">@ViewData["TenHuyen"]</span>
                        <input hidden  />
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Số quyết định</label>
                        <span class="form-control">@ViewData["TenXa"]</span>
                        <input hidden  />
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Thời điểm</label>
                        <input type="date" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Thông tin hồ sơ</label>
                        <span class="form-control">@ViewData["TenHoSo"]</span>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Phân loại</label>
                        <span class="form-control">@ViewData["TenHoSo"]</span>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Tên lệ phí</label>
                        <span class="form-control">@ViewData["TenHoSo"]</span>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Phần trăm</label>
                        <span class="form-control">@ViewData["TenHoSo"]</span>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Mức thu từ</label>
                        <span class="form-control">@ViewData["TenHoSo"]</span>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Mức thu từ</label>
                        <span class="form-control">@ViewData["TenHoSo"]</span>
                    </div>
                </div>
               
               
            </div>

            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file dữ liệu:</label>
            </div>
            <div class="row">
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">File dữ liệu:</label>
                        <input type="file" accept=".xlsx" asp-for="FormFile" />
                        <span asp-validation-for="FormFile" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Sheet</label>
                        <input class="form-control" asp-for="Sheet" step="1" />
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Từ dòng</label>
                        <input class="form-control" asp-for="LineStart" step="1" />
                    </div>
                </div>
                <div class="col-xl-2">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight: bold; color: blue">Đến dòng</label>
                        <input class="form-control" asp-for="LineStop" step="1" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="QuanLyHoSoNCC" asp-action="Index" asp-route-MaHoSo="AH" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Nhận dữ liệu</button>
        </div>
    </form>
    <!--end::Form-->
    <!--end::Form-->
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }