@{
    Layout = "_LayoutReports";
    var record_id = 1;
    var cts = (IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDvKcbCt>)ViewData["ct"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDvKcb>
<br />
<br />
<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số: .........</td>
        <td style="text-align: right; vertical-align: top"><i style="margin-right: 25%;">, ngày....tháng....năm....</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT MỨC GIÁ DỊCH VỤ KHÁM CHỮA BỆNH</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["tungay"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["denngay"])</p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th>STT</th>
            <th>STT Hiển thị</th>
            <th>STT TT37</th>
            <th>Mã dịch vụ</th>
            <th>Tên dịch vụ</th>
            <th>Đơn giá</th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td colspan="7">
                    Mã hồ sơ: @item.Mahs
                </td>
            </tr>
            foreach (var ct in cts.Where(t => t.Mahs == item.Mahs).OrderBy(t => t.Sapxep))
            {
                <tr>
                    <td style="text-align:center">@(record_id++)</td>
                    <td style="text-align:center">@ct.Hienthi</td>
                    <td style="text-align:center">@ct.HienthiTT37</td>
                    <td style="text-align:center">@ct.Madichvu</td>
                    <td>@ct.Tenspdv</td>
                    <td style="text-align:right;font-weight:bold">@Helpers.ConvertDbToStr(ct.Giadv)</td>
                    <td>@ct.Ghichu</td>
                </tr>
            }
        }
    </tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span><br>
            - UBND tỉnh;<br />
            - Bộ tài chính;<br />
            - Lưu: VT, QLGCS.
        </td>
        <td style="vertical-align: top;">
            <b>THỦ TRƯỞNG ĐƠN VỊ</b><br>
            <i>(Ký tên, đóng dấu)</i>
        </td>
    </tr>
</table>