
@{
    Layout = "_LayoutReports";
    var donvis = (IEnumerable<DsDonVi>)ViewData["DonVis"];
    var hoso = (IEnumerable<GiaThueTaiNguyen>)ViewData["ChiTietHs"];
    var dmtmnxh = (IEnumerable<GiaThueTaiNguyenDm>)ViewData["Dmtmnxh"];

}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueTaiNguyenCt>

<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT GIÁ THUẾ TÀI NGUYÊN</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayTu"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayDen"])</p>


<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
  @*   <thead>
        <tr style="text-align:center">
            <th width="2%">TT</th>
            <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 1</th>
            <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 2</th>
            <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 3</th>
            <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 4</th>
            <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 5</th>
            <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 6</th>
            <th style="text-align:center">Loại tài nguyên</th>
            <th style="text-align:center" width="5%">Đơn vị tính</th>
            <th style="text-align:center" width="10%">Đơn giá</th>
        </tr>
    </thead> *@


    <thead>
        <tr style="text-align:center">
            <th width="2%">TT</th>
            @if (Model.Any(item => !string.IsNullOrEmpty(item.Cap1)))
            {
                <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 1</th>
            }
            @if (Model.Any(item => !string.IsNullOrEmpty(item.Cap2)))
            {
                <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 2</th>
            }
            @if (Model.Any(item => !string.IsNullOrEmpty(item.Cap3)))
            {
                <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 3</th>
            }
            @if (Model.Any(item => !string.IsNullOrEmpty(item.Cap4)))
            {
                <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 4</th>
            }
            @if (Model.Any(item => !string.IsNullOrEmpty(item.Cap5)))
            {
                <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 5</th>
            }
            @if (Model.Any(item => !string.IsNullOrEmpty(item.Cap6)))
            {
                <th style="text-align:center" width="5%">Mã nhóm tài nguyên cấp 6</th>
            }
            <th style="text-align:center">Loại tài nguyên</th>
            <th style="text-align:center" width="5%">Đơn vị tính</th>
            <th style="text-align:center" width="10%">Đơn giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donvi in donvis)
        {
            <tr>
                <td></td>
                <td colspan="9" style="font-weight: bold;" class="text-uppercase">@donvi.TenDv</td>
            </tr>
            var hosoInDv = hoso.Where(t => t.Madv == donvi.MaDv);
            @foreach (var hosoindv in hosoInDv)
            {
                <tr>
                    <td></td>
                    <td colspan="9" style="font-weight: bold; padding-left: 2em;">Số QĐ: @hosoindv.Soqd - Thời điểm: @Helpers.ConvertDateToStr(hosoindv.Thoidiem)</td>
                </tr>
                var chitieths = Model.Where(t => t.Mahs == hosoindv.Mahs);
                @foreach (var item in chitieths)
                {
                   @*  <tr>
                        <td ></td>
                        <td style="text-align:center">@item.Cap1</td>
                        <td style="text-align:center">@item.Cap2</td>
                        <td style="text-align:center">@item.Cap3</td>
                        <td style="text-align:center">@item.Cap4</td>
                        <td style="text-align:center">@item.Cap5</td>
                        <td style="text-align:center">@item.Cap6</td>
                        <td style="text-align:left">@item.Ten</td>
                        <td style="text-align:center">@item.Dvt</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Gia)</td>

                    </tr> *@

                    <tr>
                        <td></td>
                        @if (!string.IsNullOrEmpty(@item.Cap1))
                        {
                            <td style="text-align:center">@item.Cap1</td>
                        }
                        @if (!string.IsNullOrEmpty(@item.Cap2))
                        {
                            <td style="text-align:center">@item.Cap2</td>
                        }
                        @if (!string.IsNullOrEmpty(@item.Cap3))
                        {
                            <td style="text-align:center">@item.Cap3</td>
                        }
                        @if (!string.IsNullOrEmpty(@item.Cap4))
                        {
                            <td style="text-align:center">@item.Cap4</td>
                        }
                        @if (!string.IsNullOrEmpty(@item.Cap5))
                        {
                            <td style="text-align:center">@item.Cap5</td>
                        }
                        @if (!string.IsNullOrEmpty(@item.Cap6))
                        {
                            <td style="text-align:center">@item.Cap6</td>
                        }
                        <td style="text-align:left">@item.Ten</td>
                        <td style="text-align:center">@item.Dvt</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Gia)</td>
                    </tr>

                   
                }

            }
        }
    </tbody>
</table>


<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-collapse: collapse;font-size:14px">
    <tr>
        <td width="45%" style="text-align: left">
        </td>
        <td width="55%" style="text-align: center">
            <span style="font-weight: bold; text-transform:uppercase">
                @ViewData["ChucDanhNguoiKy"]
            </span><br />
            <span style="font-style: italic">(Ký tên, đóng dấu)</span><br />
        </td>
    </tr>
    <tr style="text-align: center; height:100px">
        <td style="font-weight: bold; padding-top: 90px"></td>
        <td style="font-weight: bold; padding-top: 90px; text-align:center">@ViewData["HoTenNguoiKy"]</td>
    </tr>
</table>