@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var danhMucLoaiRung = (IEnumerable<GiaRungDm>)ViewData["DmLoaiRung"];
    int record_id = 1;
}
<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaRung

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">Mô tả: @Model.Mota</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th>STT</th>
            <th>Phân loại</th>
            <th>Loại rừng</th>
            <th>Đơn vị khai thác(thuê)</th>
            <th>Nội dung chi tiết</th>
            <th>Diện tích rừng</th>
            <th>Diện tích sử dụng</th>
            <th>Đơn vị tính</th>
            <th>Giá trị</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.GiaRungCt != null)
            {
                @foreach (var item in Model.GiaRungCt)
                {
                    <tr>
                        <td style="text-align:center">@(record_id++)</td>
                        <td class="active">@item.Phanloai</td>
                        <td style="text-align:center">
                            @foreach (var lr in danhMucLoaiRung)
                            {
                                @if (item.Manhom == lr.Manhom)
                                {
                                    <span>@lr.Tennhom</span>
                                }
                            }
                        </td>
                        <td style="text-align:center">@item.Dvthue</td>
                        <td style="text-align:center">@item.Noidung</td>
                        <td style="text-align:right;font-weight: bold">@item.Dientich</td>
                        <td style="text-align:right;font-weight: bold">@item.Dientichsd</td>
                        <td style="text-align:center">@item.Dvt</td>
                        <td style="text-align:right;font-weight: bold">@Helpers.ConvertDbToStr(item.Dongia)</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

