@{
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
}

@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaMuaTaiSanCt>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        function exportToExcel(tableId, filename) {
            var table = document.getElementById(tableId);
            var currencyCells = table.getElementsByClassName("sotien");
            Array.from(currencyCells).forEach(cell => {
                cell.textContent = cell.textContent.replace(/\./g, "");
            });

            var wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
            XLSX.writeFile(wb, filename + ".xlsx");
        }
    </script>

}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Thông tin hồ sơ giá giá trúng thầu mua hàng hóa dịch vụ
                </span>
            </h3>
        </div>
        <div class="col-xl-6" style="text-align:right;margin-top: auto">
            <button class="btn btn-primary font-weight-bolder" onclick="exportToExcel('sample_3','DuLieuKetXuat')">
                <i class="la la-print"></i>Kết xuất
            </button>
        </div>
    </div>
    <hr />
    <div class="card-body">
 
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align: center">
                    <th width="3%">STT</th>
                    <td>Đơn vị nhập</td>
                    <td>Địa bàn áp dụng</td>
                    <td>Thời điểm</td>
                    <th>Thông tin quyết định</th>
                    <th>Tên nhà thầu</th>
                    <th>Tên công tác</th>
                    <th>Đơn vị</th>
                    <th>Khối lượng<br>mời thầu</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th style="text-align: center" width="3%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="text-align:center">
                                @if (!string.IsNullOrEmpty(item.Madv))
                                    @dsdonvi.FirstOrDefault(x => x.MaDv == item.Madv).TenDv
                            </td>
                            <td style="text-align:center">
                                @if (!string.IsNullOrEmpty(item.Madiaban))
                                    @(dsdiaban.FirstOrDefault(x => x.MaDiaBan == item.Madiaban)?.TenDiaBan ?? "")
                            </td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                            <td>@item.Thongtinqd</td>
                            <td>@item.Tennhathau</td>
                            <td class="active">@item.Mota</td>
                            <td>@item.Dvt</td>
                            <td> @Helpers.ConvertDbToStr(item.KhoiLuong)</td>
                            <td> @Helpers.ConvertDbToStr(item.DonGia)</td>
                            <td> @Helpers.ConvertDbToStr(item.DonGia * item.KhoiLuong)</td>
                            <td>
                                <a asp-controller="GiaTrungThauHhDv" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết"
                                   target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer" style="text-align:center">
        <a asp-controller="GiaTrungThauHhDv" asp-action="Search" class="btn btn-danger">
            <i class="la la-reply"></i>Quay lại
        </a>
    </div>

</div>
