@{
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDvCi>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#Madv, #Nam').change(function () {
                var current_path_url = '/GiaDvCiHt?';
                var madv = '&Madv=' + $('#Madv').val();
                var nam = '&Nam=' + $('#Nam').val();
                var url = current_path_url + madv + nam;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hoàn thành định giá<small>&nbsp;dịch vụ công ích </small><br />

            </h3>
        </div>
        <div>
            <button type="button" data-target="#Tonghop_Modal" data-toggle="modal" class="btn btn-warning font-weight-bolder" title="Tổng hợp">
                <i class="la la-plus"></i>Tổng hợp hồ sơ
            </button>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Năm</label>
                    <select class="form-control" id="Nam" name="Nam">
                        <option value="all">--Tất cả--</option>
                        @{
                            var nam_start = DateTime.Now.Year - 5;
                            var nam_stop = DateTime.Now.Year + 1;
                            for (var i = nam_start; i <= nam_stop; i++)
                            {
                                <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>Năm @i</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control select2basic" id="Madv" name="Madv">
                        @foreach (var db in dsdiaban)
                        {
                            <optgroup label="@db.TenDiaBan">
                                @{
                                    var dv = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan && t.ChucNang != "QUANTRI");
                                }
                                @foreach (var item in dv)
                                {
                                    <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">STT</th>
                    <th>Cơ quan chuyển hồ sơ</th>
                    <th>Địa bàn</th>
                    <th>Thời điểm<br />xác đinh</th>
                    <th>Trạng thái</th>
                    <th>Cơ quan tiếp nhận hồ sơ</th>
                    <th width="20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="text-align: center">

                                @if (dsdonvi != null)
                                {
                                    @if (item.Level == "ADMIN")
                                    {
                                        @if (item.Trangthai_h == "CCB")
                                        {
                                            @foreach (var ten in dsdonvi)
                                            {
                                                @if (ten.MaDv == item.Madv_h)
                                                {
                                                    <span>@ten.TenDv</span>
                                                }
                                            }
                                        }
                                        else if (item.Trangthai_t == "CCB")
                                        {
                                            @foreach (var ten in dsdonvi)
                                            {
                                                @if (ten.MaDv == item.Madv_t)
                                                {
                                                    <span>@ten.TenDv</span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @foreach (var ten in dsdonvi)
                                            {
                                                @if (ten.MaDv == item.Madv)
                                                {
                                                    <span>@ten.TenDv</span>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @foreach (var ten in dsdonvi)
                                        {
                                            @if (ten.MaDv == item.Madv)
                                            {
                                                <span>@ten.TenDv </span>
                                            }
                                        }
                                    }
                                }
                            </td>

                            <td class="text-center danger"></td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                            <td style="text-align: center">
                                @if (item.Trangthai_ad == "CB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline text-success">Công bố</span>
                                    <br />
                                }
                                else if (item.Trangthai_ad == "HCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline text-danger">Huỷ công bố</span>
                                    <br />
                                }
                                else if (item.Trangthai_t == "BTL" || item.Trangthai_h == "BTL")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline text-danger">Huỷ hoàn thành</span>
                                    <br />
                                }
                                else if (item.Trangthai_ad == "CCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline text-warning">Chưa công bố</span>
                                    <br />
                                }
                                else
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline text-warning">Chưa hoàn thành</span>
                                    <br />
                                }
                            </td>
                            <td style="text-align: center">
                                @if (dsdonvi != null && item.Level != "ADMIN")
                                {
                                    @if (item.Trangthai_h == "CCB")
                                    {
                                        @foreach (var ten in dsdonvi)
                                        {
                                            @if (ten.MaDv == item.Macqcq_h)
                                            {
                                                <span>@ten.TenDv</span>
                                            }
                                        }
                                    }
                                    else if (item.Trangthai_t == "CCB")
                                    {
                                        @foreach (var ten in dsdonvi)
                                        {
                                            @if (ten.MaDv == item.Macqcq_t)
                                            {
                                                <span>@ten.TenDv</span>
                                            }
                                        }
                                    }
                                }
                            </td>
                            <td>
                                <a asp-controller="GiaDichVuCongIch" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem Chi tiết"
                                   target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dg.dvci.htg", "Approve"))
                                {
                                    @if (item.Level == "ADMIN")
                                    {
                                        @if (item.Trangthai_ad == "CB")
                                        {
                                            <button type="button" class="btn btn-sm btn-clean btn-icon" title="Hủy công bố" data-toggle="modal" data-target="#HuyCongBo_Modal"
                                                    onclick="HuyCongBo('@item.Mahs')">
                                                <i class="icon-lg la la-times text-danger "></i>
                                            </button>

                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-sm btn-clean btn-icon" title="Công bố" data-toggle="modal" data-target="#CongBo_Modal"
                                                    onclick="CongBo('@item.Mahs')">
                                                <i class="icon-lg la la-send text-primary "></i>
                                            </button>

                                            <button type="submit" class="btn btn-sm btn-clean btn-icon" title="Trả lại" data-toggle="modal" data-target="#TraLai_Modal"
                                                    onclick="TraLai('@item.Id','@item.Macqcq')">
                                                <i class="icon-lg la la-reply text-danger "></i>
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        @if (item.Trangthai_ad == null || item.Trangthai_t == "BTL" || item.Trangthai_h == "BTL")
                                        {
                                            <button type="button" class="btn btn-sm btn-clean btn-icon" title="Hoàn thành" data-toggle="modal"
                                                    data-target="#Complete_Modal" onclick="SetComplete('@item.Mahs')">
                                                <i class="icon-lg la la-check text-primary"></i>
                                            </button>
                                            <button type="submit" class="btn btn-sm btn-clean btn-icon" title="Trả lại" data-toggle="modal" data-target="#TraLai_Modal"
                                                    onclick="TraLai( '@item.Id','@item.Macqcq')">
                                                <i class="icon-lg la la-reply text-danger "></i>
                                            </button>
                                        }
                                    }
                                }
                                <button type="button" onclick="get_attack('@item.Mahs')" class="btn btn-default btn-xs mbs" data-target="#dinhkem-modal-confirm" data-toggle="modal" title="Tải tệp">
                                    <i class="icon-lg la la-download text-warning"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDichVuCongIch/HoanThanh/Modal.cshtml")
