@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueTaiSanCongCt>


<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th style="text-align:center" width="2%">STT</th>
            <th style="text-align:center" width="10%">Mã tài sản</th>
            <th style="text-align:center">Tên tài sản</th>
            <td style="text-align:center">Đơn vị thuê</td>
            <td style="text-align:center" width="5%">Hợp đồng số</td>
            <td style="text-align:center" width="5%">Thời hạn</td>
            <td style="text-align:center" width="5%">Từ ngày</td>
            <td style="text-align:center" width="5%">Đơn vị tính</td>
            <th style="text-align:center" width="10%">Đơn giá</th>
            <td style="text-align:center" width="10%">Thành tiền</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">@(record_id++)</td>
                <td style="text-align:center">@item.Mataisan</td>
                <td style="text-align:left">@item.Tentaisan</td>
                <td style="text-align:left"> @item.Dvthue</td>
                <td style="text-align:center">@item.Hdthue</td>
                <td style="text-align:center">@item.Ththue</td>
                <td style="text-align:center">@Helpers.ConvertDateToStr(item.Thuetungay)</td>
                <td style="text-align:center">@item.Dvt</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongiathue)</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Sotienthuenam)</td>

            </tr>
        }
    </tbody>
</table>







