@{
    var session = HttpContextAccessor?.HttpContext?.Session ?? null;
}

<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | CSDL Giá</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    @*     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700" />
    @* <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" /> *@
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/Admin/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->

    <link href="~/Admin/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    @if (session != null && !string.IsNullOrEmpty(session.GetString("SsAdmin")))
    {
        <link href="~/Admin/assets/css/themes/layout/header/base/dark.css" rel="stylesheet" type="text/css" />
        <link href="~/Admin/assets/css/themes/layout/header/menu/dark.css" rel="stylesheet" type="text/css" />
        <link href="~/Admin/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
        <link href="~/Admin/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    }
    else
    {
        <link href="~/Admin/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
        <link href="~/Admin/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
        <link href="~/Admin/assets/css/themes/layout/brand/light.css" rel="stylesheet" type="text/css" />
        <link href="~/Admin/assets/css/themes/layout/aside/light.css" rel="stylesheet" type="text/css" />
    }
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/Admin/FileUpload/Logo/Icon_Life.png" />
    @RenderSection("custom_style", required: false)
    <style>
        #loadingOverlay {
            display: none; /* Mặc định ẩn đi */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0); /* Màu trắng nhẹ nhàng có độ trong suốt */
            z-index: 9999; /* Đảm bảo hiển thị trên cùng */
            text-align: center;
        }

        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Di chuyển sang giữa màn hình */
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.9); /* Màu nền nhẹ nhàng */
            padding: 20px; /* Để tạo khoảng cách với viền của phần tử cha */
            border-radius: 10px; /* Tạo bo tròn cho phần tử */
        }

            .loading .spinner {
                margin-bottom: 20px; /* Khoảng cách giữa spinner và văn bản */
                margin-top: 10px; /* Khoảng cách giữa spinner và văn bản */
            }
    </style>

</head>
<!--end::Head-->
<!--begin::Body-->
<body onload="display_ct6()" id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed page-loading
      @(session != null && string.IsNullOrEmpty(session.GetString("SsAdmin")) ? " aside-minimize aside-minimize-hoverable" : " aside-minimize-hoverable")">
    <!--begin::Loading-->
    <div id="loadingOverlay" class="overlay overlay-block">
        <div class="bg-secondary loading">
            <div class="spinner spinner-lg spinner-primary"></div>
            <span class="text-dark">Đang xử lý! Vui lòng đợi trong giây lát...</span>
        </div>
    </div>
    <!--end::Loading-->
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile align-items-center header-mobile-fixed">
        <!--begin::Logo-->
        <a asp-controller="Home" asp-action="Index">
            <img alt="Logo" src="~/Admin/FileUpload/Logo/LogoKhanhHoa.png" style="margin: auto" width="5%" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">
            <!--begin::Aside Mobile Toggle-->
            <button class="btn p-0 burger-icon ml-4" id="kt_aside_mobile_toggle" title="Menu">
                <span></span>
            </button>
            <!--end::Aside Mobile Toggle-->
            <!--begin::Header Menu Mobile Toggle-->
            <!--<button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>-->
            <!--end::Header Menu Mobile Toggle-->
            <!--begin::Topbar Mobile Toggle-->
            <button class="btn btn-hover-text-primary p-0 ml-2" id="kt_header_mobile_topbar_toggle">
                <span class="svg-icon svg-icon-xl">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                            <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </button>
            <!--end::Topbar Mobile Toggle-->
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            <div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
                <!--begin::Brand-->
                <div class="brand flex-column-auto" id="kt_brand">
                    <!--begin::Logo-->
                    <a asp-controller="Home" asp-action="Index" class="brand-logo">
                        <img alt="Logo" src="~/Admin/FileUpload/Logo/LogoKhanhHoa.png" style="margin: auto" width="28%" />
                    </a>
                    <!--end::Logo-->
                    <!--begin::Toggle-->
                    <button class="brand-toggle btn btn-sm px-0
                            @(session != null && string.IsNullOrEmpty(session.GetString("SsAdmin")) ? "" : " active")" id="kt_aside_toggle">
                        <span class="svg-icon svg-icon svg-icon-xl">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
                                    <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </button>
                    <!--end::Toolbar-->
                </div>
                <!--end::Brand-->
                <!--begin::Aside Menu-->
                <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
                    <!--begin::Menu Container-->
                    <div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
                        <!--begin::Menu Nav-->
                        <ul class="menu-nav">
                            <li class="menu-item menu-item" aria-haspopup="true" id="menu_home">
                                <a asp-controller="Home" asp-action="Index" class="menu-link">
                                    <span class="svg-icon menu-icon">
                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Home\Home.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z" fill="#000000" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-text">Trang chủ</span>
                                </a>
                            </li>
                            <!--Manages-->
                            @await Html.PartialAsync("~/Views/Admin/Menu/TrangChu/Manages.cshtml")
                            <!--Settings-->
                            @await Html.PartialAsync("~/Views/Admin/Menu/TrangChu/Settings.cshtml")
                            <!--Systems-->
                            @await Html.PartialAsync("~/Views/Admin/Menu/TrangChu/Systems.cshtml")

                        </ul>
                        <!--end::Menu Nav-->
                    </div>
                    <!--end::Menu Container-->
                </div>
                <!--end::Aside Menu-->
            </div>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <!--Test-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header header-fixed" @*style="background-image: url(Admin/assets/media/bg/bg-11.jpg)"*@>
                    <!--begin::Container-->
                    <div class="container-fluid d-flex align-items-stretch justify-content-between">
                        <!--begin::Header Menu Wrapper-->
                        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                            <!--begin::Header Menu-->
                            <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                                <!--begin::Header Nav-->
                                @* <ul class="menu-nav">
                                    <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here menu-item-active" data-menu-toggle="click" aria-haspopup="true">
                                        <a href="javascript:;" class="menu-link menu-toggle">
                                            <span class="svg-icon svg-icon-xl svg-icon-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                                                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </a>
                                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                            <ul class="menu-subnav">
                                                @if (session != null && !string.IsNullOrEmpty(session.GetString("SsAdmin")) && Helpers.GetSsAdmin(session, "Level") == "SSA")
                                                {
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a onclick="ImportHDSD()" class="menu-link">
                                                            <span class="svg-icon menu-icon">
                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Clothes/Briefcase.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                        <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                                                        <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                            <span class="menu-text">Chỉnh sửa tài liệu hướng dẫn sử dụng</span>
                                                        </a>
                                                    </li>
                                                }
                                                @if (ViewData.ContainsKey("FileHDSD") && ViewData["FileHDSD"] != null)
                                                {
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a href="@Url.Content("~/UpLoad/File/HuongDanSuDung/Life_HDSD" + ViewData["FileHDSD"])" target="_blank"
                                                           onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="menu-link">
                                                            <span class="svg-icon menu-icon">
                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Clothes/Briefcase.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                        <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                                                        <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                            <span class="menu-text">Tài liệu hướng dẫn sử dụng</span>
                                                        </a>
                                                    </li>
                                                }
                                                <li class="menu-item " aria-haspopup="true">
                                                    <a asp-controller="HuongDanSuDung" asp-action="Index" class="menu-link">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Clothes/Briefcase.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                                                    <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">Tài liệu hướng dẫn sử dụng</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item " aria-haspopup="true">
                                                    <a href="~/History/UpdateNcc.docx" target="_blank"
                                                       onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="menu-link">
                                                        <span class="svg-icon menu-icon">
                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Clothes/Briefcase.svg-->
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
                                                                    <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
                                                                </g>
                                                            </svg>
                                                            <!--end::Svg Icon-->
                                                        </span>
                                                        <span class="menu-text">Thông tin nâng cấp phần mềm</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                </ul> *@
                                <!--end::Header Nav-->
                            </div>
                            <!--end::Header Menu-->
                        </div>
                        <!--end::Header Menu Wrapper-->
                        <!--begin::Topbar-->
                        <div class="topbar">
                            <!--begin::Quick Actions-->
                            <div class="dropdown">
                                <!--begin::Toggle-->
                                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                                    <div class="btn btn-icon btn-hover-transparent-white btn-dropdown btn-lg mr-1">
                                        <span class="svg-icon svg-icon-xl svg-icon-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />
                                                    <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />
                                                </g>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <!--end::Toggle-->
                                <!--begin::Dropdown-->
                                <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
                                    <!--begin:Header-->
                                    <div class="d-flex flex-column flex-center py-10 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(Admin/assets/media/misc/bg-1.jpg)">
                                        <h4 class="text-white font-weight-bold">Trợ giúp</h4>
                                        @* <span class="btn btn-success btn-sm font-weight-bold font-size-sm mt-2">23 tasks pending</span> *@
                                    </div>
                                    <!--end:Header-->
                                    <!--begin:Nav-->
                                    <div class="row row-paddingless">
                                        <!--begin:Item-->
                                        <div class="col-6">
                                            <a href="~/History/UpdateNcc.docx" target="_blank"
                                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" class="d-block py-10 px-5 text-center bg-hover-light">
                                                <span class="svg-icon svg-icon-3x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Group.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                                <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">Thông tin nâng cấp phần mềm</span>
                                            </a>
                                        </div>
                                        <!--end:Item-->
                                        <!--begin:Item-->
                                        <div class="col-6">
                                            <a asp-controller="HuongDanSuDung" asp-action="Index" class="d-block py-10 px-5 text-center bg-hover-light border-bottom">
                                                <span class="svg-icon svg-icon-3x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Mail-attachment.svg-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path d="M14.8571499,13 C14.9499122,12.7223297 15,12.4263059 15,12.1190476 L15,6.88095238 C15,5.28984632 13.6568542,4 12,4 L11.7272727,4 C10.2210416,4 9,5.17258756 9,6.61904762 L10.0909091,6.61904762 C10.0909091,5.75117158 10.823534,5.04761905 11.7272727,5.04761905 L12,5.04761905 C13.0543618,5.04761905 13.9090909,5.86843034 13.9090909,6.88095238 L13.9090909,12.1190476 C13.9090909,12.4383379 13.8240964,12.7385644 13.6746497,13 L10.3253503,13 C10.1759036,12.7385644 10.0909091,12.4383379 10.0909091,12.1190476 L10.0909091,9.5 C10.0909091,9.06606198 10.4572216,8.71428571 10.9090909,8.71428571 C11.3609602,8.71428571 11.7272727,9.06606198 11.7272727,9.5 L11.7272727,11.3333333 L12.8181818,11.3333333 L12.8181818,9.5 C12.8181818,8.48747796 11.9634527,7.66666667 10.9090909,7.66666667 C9.85472911,7.66666667 9,8.48747796 9,9.5 L9,12.1190476 C9,12.4263059 9.0500878,12.7223297 9.14285008,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L14.8571499,13 Z" fill="#000000" opacity="0.3" />
                                                            <path d="M9,10.3333333 L9,12.1190476 C9,13.7101537 10.3431458,15 12,15 C13.6568542,15 15,13.7101537 15,12.1190476 L15,10.3333333 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 L9,10.3333333 Z M10.0909091,11.1212121 L12,12.5 L13.9090909,11.1212121 L13.9090909,12.1190476 C13.9090909,13.1315697 13.0543618,13.952381 12,13.952381 C10.9456382,13.952381 10.0909091,13.1315697 10.0909091,12.1190476 L10.0909091,11.1212121 Z" fill="#000000" />
                                                        </g>
                                                    </svg>
                                                    <!--end::Svg Icon-->
                                                </span>
                                                <span class="d-block text-dark-75 font-weight-bold font-size-h6 mt-2 mb-1">Tài liệu hướng dẫn sử dụng</span>
                                            </a>
                                        </div>
                                        <!--end:Item-->
                                    </div>
                                    <!--end:Nav-->
                                </div>
                                <!--end::Dropdown-->
                            </div>

                            <!--end::Quick Actions-->
                            <!--begin::User-->
                            <div class="topbar-item">

                                <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
                                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Xin chào,</span>
                                    <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">
                                        @(session != null && string.IsNullOrEmpty(session.GetString("SsAdmin")) ? "Guest" : Helpers.GetSsAdmin(session, "Name"))
                                    </span>
                                    <span class="symbol symbol-lg-30 symbol-25 symbol-light-success">
                                        <img src="@Url.Content("~/Admin/assets/media/users/blank.png" + Helpers.GetSsAdmin(HttpContextAccessor.HttpContext.Session, "Avatar"))" width="35" height="35" />
                                        <i class="symbol-badge bg-primary"></i>
                                    </span>
                                </div>

                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="background-image: url('../../../Admin/assets/media/bg/bg-3.jpg')">
                    <!--begin::Subheader-->
                    <div class="subheader py-2 py-lg-4 subheader-solid bg-white" id="kt_subheader">
                        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center flex-wrap mr-1">
                                <!--begin::Page Heading-->
                                <div class="d-flex align-items-baseline flex-wrap mr-5">
                                    <!--begin::Page Title-->
                                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">@ViewData["Title"]</h5>
                                    <!--end::Page Title-->
                                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                                    <!--begin::Breadcrumb-->
                                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                                        <li class="breadcrumb-item text-muted">
                                            <a asp-controller="Home" asp-action="Index" class="text-muted">Trang chủ</a>
                                        </li>
                                        <li class="breadcrumb-item text-muted">
                                            <a href="" class="text-muted">@ViewData["Title"]</a>
                                        </li>

                                    </ul>
                                    <!--end::Breadcrumb-->
                                </div>
                                <!--end::Page Heading-->
                            </div>
                            <!--end::Info-->
                            <!--begin::Toolbar-->
                            <div class="d-flex align-items-center">
                                <a href="#" class="btn btn-sm btn-light font-weight-bold mr-2">
                                    <span id='ct6' @*class="label label-white font-weight-bold label-light-danger label-inline"*@
                                          class="text-primary font-size-base font-weight-bolder"
                                    @*style="font-size:12px; width:170px; height:30px; font-weight:bold"*@></span>
                                </a>
                            </div>
                            <!--end::Toolbar-->
                        </div>
                    </div>
                    <!--end::Subheader-->
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class="container-fluid">
                            <!--begin::Row-->
                            @RenderBody()
                            <!--end::Row-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                <div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted font-weight-bold mr-2">Copyright © 2012-@DateTime.Now.Year.ToString()</span>
                            <a href="https://phanmemcuocsong.com/" target="_blank" class="text-dark-75 text-hover-primary">LifeSoft</a>
                            <span class="text-muted font-weight-bold mr-2">Tiện ích hơn - Hiệu quả hơn</span>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Nav-->
                        <div class="nav nav-dark">
                            <a href="https://phanmemcuocsong.com/gioi-thieu/" target="_blank" class="nav-link pl-0 pr-5">Về chúng tôi</a>
                            @*<a href="#" target="_blank" class="nav-link pl-0 pr-5">Team</a>*@
                            <a href="https://phanmemcuocsong.com/lien-he/" target="_blank" class="nav-link pl-0 pr-0">Liên hệ</a>
                            <input hidden id="MenuLv1" value="@ViewData["MenuLv1"]" />
                            <input hidden id="MenuLv2" value="@ViewData["MenuLv2"]" />
                            <input hidden id="MenuLv3" value="@ViewData["MenuLv3"]" />
                            <input hidden id="MenuLv4" value="@ViewData["MenuLv4"]" />
                        </div>
                        <!--end::Nav-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!-- begin::User Panel-->
    <div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
        <!--begin::Header-->
        <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
            <h3 class="font-weight-bold m-0">
                @if (session != null && !string.IsNullOrEmpty(session.GetString("SsAdmin")))
                {
                    <span>Thông tin tài khoản</span>
                }
                else
                {
                    <span>Bạn chưa đăng nhập hệ thống</span>
                }
                <small class="text-muted font-size-sm ml-2"></small>
            </h3>
            <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
                <i class="ki ki-close icon-xs text-muted"></i>
            </a>
        </div>
        <!--end::Header-->
        <!--begin::Content-->
        <div class="offcanvas-content pr-5 mr-n5">
            <!--begin::Header-->
            <div class="d-flex align-items-center mt-5">
                <div class="symbol symbol-100 mr-5">
                    <div class="symbol-label">
                        <img src="@Url.Content("~/Admin/assets/media/users/blank.png" + Helpers.GetSsAdmin(session, "Avatar"))"
                             width="100" height="100" />
                        <i class="symbol-badge bg-primary"></i>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">
                        @(session != null && string.IsNullOrEmpty(session.GetString("SsAdmin")) ? "Chưa xác định" : Helpers.GetSsAdmin(session, "Name"))
                    </a>
                    <div class="text-muted mt-1">
                        @(session != null && string.IsNullOrEmpty(session.GetString("SsAdmin")) ? "Chưa xác định" : Helpers.GetSsAdmin(session, "Username"))
                    </div>
                    <div class="navi mt-2">
                        <a href="#" class="navi-item">
                            <span class="navi-link p-0 pb-2">
                                <span class="navi-icon mr-1">
                                    <span class="svg-icon svg-icon-lg svg-icon-primary">
                                        <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Mail-notification.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000" />
                                                <circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <span class="navi-text text-muted text-hover-primary">
                                    @(session != null && string.IsNullOrEmpty(session.GetString("SsAdmin")) ? "chuaxacdinh@gmail.com" : Helpers.GetSsAdmin(session, "Email"))
                                </span>
                            </span>
                        </a>
                        @if (session != null && !string.IsNullOrEmpty(session.GetString("SsAdmin")))
                        {

                            <button type="button" class="btn btn-sm btn-light-danger font-weight-bolder py-2 px-5" title="Đăng xuất" data-toggle="modal" data-target="#Logout_Modal">
                                Đăng xuất
                            </button>
                        }
                        else
                        {
                            <a asp-controller="Login" asp-action="Login" class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5">Đăng nhập</a>
                        }

                    </div>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Separator-->
            <div class="separator separator-dashed mt-8 mb-5"></div>
            <!--end::Separator-->
            <!--begin::Nav-->
            @if (session != null && !string.IsNullOrEmpty(session.GetString("SsAdmin")))
            {
                <div class="navi navi-spacer-x-0 p-0">
                    <a asp-controller="Home" asp-action="ChangePassword" class="navi-item">
                        <div class="navi-link">
                            <div class="symbol symbol-40 bg-light mr-3">
                                <div class="symbol-label">
                                    <span class="svg-icon svg-icon-md svg-icon-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <mask fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                                <g></g>
                                                <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z" fill="#000000"></path>
                                            </g>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="navi-text">
                                <div class="font-weight-bold">Mật khẩu truy cập</div>
                                <div class="text-muted">
                                    Thay đổi mật khẩu
                                    <span class="label label-light-primary label-inline font-weight-bold">Cập nhật</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="separator separator-dashed my-7"></div>
                    <!--end::Nav-->
                </div>
            }

            <!--end::Content-->
        </div>
        <!-- end::User Panel-->
        <!--begin::Scrolltop-->
        <div id="kt_scrolltop" class="scrolltop">
            <span class="svg-icon">
                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1"></rect>
                        <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero"></path>
                    </g>
                </svg>
                <!--end::Svg Icon-->
            </span>
        </div>
        <!--end::Scrolltop-->
        <!--end::Demo Panel-->
        <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
        <!--begin::Global Config(global config for global JS scripts)-->
        <script>
            var KTAppSettings = {
                "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": {
                    "theme": {
                        "base": {
                            "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32"
                        }, "light": {
                            "wte": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0"
                        }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" }
                    }, "gray":
                        { "gray - 100": "#F3F6F9", "gray - 200": "#EBEDF3", "gray - 300": "#E4E6EF", "gray - 400": "#D1D3E0", "gray - 500": "#B5B5C3", "gray - 600": "#7E8299", "gray- 700": "#5E6278", "gray- 800": "#3F4254", "gray - 900": "#181C32" }
                }, "font-family": "Nunito Sans"
            };</script>
        <!--end::Global Config-->
        <!--begin::Global Theme Bundle(used by all pages)-->
        <script src="~/Admin/assets/plugins/global/plugins.bundle.js"></script>
        <script src="~/Admin/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
        <script src="~/Admin/assets/js/scripts.bundle.js"></script>
        <!--end::Global Theme Bundle-->
        <!--begin::Page Vendors(used by this page)-->
        <script src="~/Admin/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
        <!--end::Page Vendors-->
        <!--begin::Page Scripts(used by this page)-->
        <script src="~/Admin/assets/js/pages/widgets.js"></script>
        <!--end::Page Scripts-->
        <script>
            $(document).ready(function () {
                setMenuClasses();
            });

            function setMenuClasses() {
                var menu1 = document.getElementById("MenuLv1").value;
                var menu2 = document.getElementById("MenuLv2").value;
                var menu3 = document.getElementById("MenuLv3").value;
                var menu4 = document.getElementById("MenuLv4").value;

                if (menu4 != '') {
                    document.getElementById(menu1).className = "menu-item menu-item-open menu-item-here";
                    document.getElementById(menu2).className = "menu-item menu-item-submenu menu-item-open menu-item-here";
                    document.getElementById(menu3).className = "menu-item menu-item-submenu menu-item-open menu-item-here";
                    document.getElementById(menu4).className = "menu-item menu-item-active";
                    scrollToElementById(menu4);
                } else if (menu3 != '') {
                    document.getElementById(menu1).className = "menu-item menu-item-open menu-item-here";
                    document.getElementById(menu2).className = "menu-item menu-item-submenu menu-item-open menu-item-here";
                    document.getElementById(menu3).className = "menu-item menu-item-active";
                    scrollToElementById(menu3);
                } else if (menu2 != '') {
                    document.getElementById(menu1).className = "menu-item menu-item-open";
                    document.getElementById(menu2).className = "menu-item menu-item-active";
                    scrollToElementById(menu2);
                } else if (menu1 != '') {
                    document.getElementById(menu1).className = "menu-item menu-item-active";
                    scrollToElementById(menu1);
                }
            }
            function scrollToElementById(elementId) {
                var targetElement = $('#' + elementId);
                if (targetElement.length) {
                    $('#kt_aside_menu').animate({
                        scrollTop: targetElement.offset().top - $(window).height() / 2
                    }, 'slow');
                }
            }

            function showLoadingOverlay() {
                $('#loadingOverlay').css('display', 'block'); // Hiển thị LoadingOverlay
            }
            function hideLoadingOverlay() {
                $('#loadingOverlay').css('display', 'none') // Ẩn LoadingOverlay khi xong quá trình xử lý
            }
            // Gọi hàm showLoadingOverlay khi trang bắt đầu tải
            document.addEventListener("DOMContentLoaded", function () {
                showLoadingOverlay();
            });

            // Gọi hàm hideLoadingOverlay khi trang đã tải xong
            window.onload = function () {
                hideLoadingOverlay();
            };
            function MoneyDecimalMask() {
                $('.money-decimal-mask').inputmask({
                    alias: 'numeric',
                    groupSeparator: '.',
                    radixPoint: ',', // Dấu phân cách thập phân
                    autoGroup: true,
                    allowMinus: false, // Không cho phép nhập số âm
                    digits: 3, // Số lượng chữ số thập phân
                    placeholder: "0",
                    rightAlign: true, // Căn lề sang phải
                    onBeforePaste: function (pastedValue, opts) {
                        // Xử lý trường hợp khi người dùng dán giá trị vào input
                        var processedValue = pastedValue.replace(/[^0-9,]/g, ''); // Loại bỏ các ký tự không phải là số hoặc dấu phân cách
                        return processedValue;
                    }
                });
            }
            function display_ct6() {
                var x = new Date()
                var month = x.getMonth() + 1;
                var date = x.getDate();
                var year = x.getFullYear();
                var hour = x.getHours();
                var minute = x.getMinutes();
                var second = x.getSeconds();

                if (date < 10) { date = '0' + date }
                if (month < 10) { month = '0' + month }
                if (hour < 10) { hour = '0' + hour }
                if (minute < 10) { minute = '0' + minute }
                if (second < 10) { second = '0' + second }

                var x1 = date + "/" + month + "/" + year;
                x1 = x1 + " - " + hour + ":" + minute + ":" + second;
                document.getElementById('ct6').innerHTML = x1;
                display_c6();
            }
            function display_c6() {
                var refresh = 1000; // Refresh rate in milli seconds
                mytime = setTimeout('display_ct6()', refresh)
            }
            display_c6()

            function ImportHDSD() {
                $('#ImportHDSD_Modal').modal('show');
            }
            function UpdateHDSD() {
                showLoadingOverlay();
                var file = new FormData();
                file.append("FileUpLoad", $("#file_HDSD")[0].files[0]);

                $.ajax({
                    url: '/UpdateHDSD',
                    type: 'POST',
                    data: file,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.status == 'success') {
                            toastr.success("Cập nhật thành công!!!", "Thành công!");
                            location.reload();
                        } else {
                            toastr.error(data.message, "Lỗi!");
                        }
                        hideLoadingOverlay();
                    }
                })

            }
        </script>
        @RenderSection("custom_script", required: false)
        @await RenderSectionAsync("Scripts", required: false)
    </div>


</body>

<!--end::Body-->
</html>
<div class="modal fade" id="Logout_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Login" asp-action="LogOut">
                <div class="modal-header">
                    <h3 class="card-label">
                        Xác nhận đăng xuất chương trình
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="ImportHDSD_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Cập nhật tài liệu hướng dẫn
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label style="font-weight:bold">File đính kèm</label>
                            <input type="file" class="form-control" id="file_HDSD" name="file_HDSD" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="UpdateHDSD()" id="btn_HDSD">Cập nhật</button>
                <div id="loading_HDSD" style="display:none">
                    <span class="mr-2 text-muted">Loading...</span>
                    <span class="spinner spinner-primary mr-10"></span>
                </div>
            </div>
        </div>
    </div>
</div>