@using CSDLGia_ASP.Models.Systems
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdiabanapdung = (IEnumerable<Districts>)ViewData["DsDiaBanApDung"];
    var DsDonvi = (IEnumerable<DsDonVi>)ViewData["DsDonvi"];
}

@model CSDLGia_ASP.Models.Systems.DsDonVi
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin đơn vị<small>&nbsp;thêm mới</small>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="DsDonVi" asp-action="Store" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <input hidden asp-for="DiaBanApDung" />
            
            <div class="row">
                @* <div class="col-xl-4">
                    <div class="form-group">
                        <label>Mã quan hệ ngân sách</label>
                        <input type="text" class="form-control" asp-for="MaQhNs" />
                    </div>
                </div> *@
                @* <div class="col-xl-4">
                    <div class="form-group">
                        <label>Mã đơn vị</label>
                        <input type="text" class="form-control" asp-for="MaDv" required />
                    </div>
                </div> *@
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Tên đơn vị<span class="require">*</span></label>
                        <input type="text" class="form-control" asp-for="TenDv" />
                        <span asp-validation-for="TenDv" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Tên đơn vị hiển thị báo cáo<span class="require">*</span></label>
                        <input type="text" class="form-control" asp-for="TenDvHienThi" />
                        <span asp-validation-for="TenDvHienThi" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Tên đơn vị cấp trên</label>
                        <input type="text" class="form-control" asp-for="TenDvCqHienThi" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa chỉ trụ sở</label>
                        <input type="text" class="form-control" asp-for="DiaChi" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa danh</label>
                        <input type="text" class="form-control" asp-for="DiaDanh" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Chức vụ người ký</label>
                        <input type="text" class="form-control" asp-for="ChucVuKy" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Họ và tên người ký</label>
                        <input type="text" class="form-control" asp-for="NguoiKy" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Chức vụ người ký thay</label>
                        <input type="text" class="form-control" asp-for="ChucVuKyThay" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa bàn quản lý</label>
                        <select asp-for="MaDiaBan" class="form-control">
                            @foreach (var item in dsdiaban)
                            {
                                <option value="@item.MaDiaBan">@item.TenDiaBan</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Phân loại chức năng</label>
                        <select asp-for="ChucNang" class="form-control">
                            <option value="QUANTRI">Quản trị</option>
                            <option value="TONGHOP">Tổng hợp</option>
                            <option value="NHAPLIEU">Nhập liệu</option>
                        </select>
                    </div>
                </div>
            </div>

             <div class="row">                
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Địa bàn áp dụng</label>
                        <select id="DiaBanApDung_mul" class="form-control select2basic" multiple="true">
                            @foreach (var item in dsdiabanapdung)
                            {
                                <option value="@item.Mahuyen">@item.Tenhuyen</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhập liệu</label>
                        <select asp-for="NhapLieu" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Xét duyệt</label>
                        <select asp-for="XetDuyet" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Công bố</label>
                        <select asp-for="CongBo" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Quản trị</label>
                        <select asp-for="QuanTri" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Email quản lý</label>
                        <input type="text" class="form-control" asp-for="EmailQl" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Email quản trị</label>
                        <input type="text" class="form-control" asp-for="EmailQt" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số ngày làm việc</label>
                        <select asp-for="SoNgayLv" class="form-control">
                            @for (var i = 1; i < 8; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Đơn vị cấp trên</label>
                        <select asp-for="MaCqcq" class="form-control">
                            <option value="">--Chọn--</option>
                            @foreach (var item in DsDonvi)
                            {
                                <option value="@item.MaDv">@item.TenDv</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Thông tin liên hệ</label>
                        <textarea asp-for="TtLienHe" class="form-control" cols="12" rows="5" placeholder="Thông tin, số điện thoại liên lạc với các bộ phận"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="DsDonVi" asp-action="Index" asp-route-MaDiaBan="@ViewData["MaDiaBan"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2" onclick="chkDaTa()"><i class="la la-check"></i>Thêm mới</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function chkDaTa() {
        $('#DiaBanApDung').val($('#DiaBanApDung_mul').val());
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}