@using CSDLGia_ASP.Models.Systems
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdiabanapdung = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanApDung"];
    var DsDonvi = (IEnumerable<DsDonVi>)ViewData["DsDonvi"];
}

@model CSDLGia_ASP.Models.Systems.DsDonVi
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        @*<div class="ribbon-target bg-danger" style="top: -2px; right: 20px;">
        <i class="fa fa-star text-warning "></i>
        </div>*@
        <div class="card-title">
            <h3 class="card-label">
                Thông tin đơn vị<small>&nbsp;chỉnh sửa</small>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="DsDonVi" asp-action="Update" method="post" enctype="multipart/form-data">
        <div class="card-body">
            @* <input hidden asp-for="MaDiaBan" /> *@
            <input hidden asp-for="Id" />
            <input hidden asp-for="DiaBanApDung" />

            <div class="row">
                @* <div class="col-xl-4">
                <div class="form-group">
                <label>Mã quan hệ ngân sách</label>
                <input type="text" class="form-control" asp-for="MaQhNs" />
                </div>
                </div> *@
                @* <div class="col-xl-4">
                <div class="form-group">
                <label>Mã đơn vị</label>
                <input type="text" class="form-control" asp-for="MaDv" required />
                </div>
                </div> *@
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Tên đơn vị<span class="require">*</span></label>
                        <input type="text" class="form-control" asp-for="TenDv" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Tên đơn vị hiển thị báo cáo<span class="require">*</span></label>
                        <input type="text" class="form-control" asp-for="TenDvHienThi" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Tên đơn vị cấp trên</label>
                        <input type="text" class="form-control" asp-for="TenDvCqHienThi" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa chỉ trụ sở</label>
                        <input type="text" class="form-control" asp-for="DiaChi" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa danh</label>
                        <input type="text" class="form-control" asp-for="DiaDanh" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Chức vụ người ký</label>
                        <input type="text" class="form-control" asp-for="ChucVuKy" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Họ và tên người ký</label>
                        <input type="text" class="form-control" asp-for="NguoiKy" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Chức vụ người ký thay</label>
                        <input type="text" class="form-control" asp-for="ChucVuKyThay" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa bàn quản lý</label>
                        <select asp-for="MaDiaBan" class="form-control">
                            @foreach (var item in dsdiaban)
                            {
                                <option value="@item.MaDiaBan">@item.TenDiaBan</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Phân loại chức năng</label>
                        <select asp-for="ChucNang" class="form-control">
                            <option value="QUANTRI">Quản trị</option>
                            <option value="TONGHOP">Tổng hợp</option>
                            <option value="NHAPLIEU">Nhập liệu</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Địa bàn áp dụng</label>
                        <select id="DiaBanApDung_mul" class="form-control select2basic" multiple="true">
                            @foreach (var item in dsdiabanapdung)
                            {
                                if (string.IsNullOrEmpty(Model.DiaBanApDung))
                                {
                                    <!option value="@item.MaDiaBan">@item.TenDiaBan</!option>
                                }
                                else
                                {
                                    <!option value="@item.MaDiaBan" @(Model.DiaBanApDung.Contains(item.MaDiaBan) ? "selected" : "") >@item.TenDiaBan</!option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhập liệu</label>
                        <select asp-for="NhapLieu" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Xét duyệt</label>
                        <select asp-for="XetDuyet" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Công bố</label>
                        <select asp-for="CongBo" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Quản trị</label>
                        <select asp-for="QuanTri" class="form-control">
                            <option value="true">Có</option>
                            <option value="false">Không</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Email quản lý</label>
                        <input type="text" class="form-control" asp-for="EmailQl" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Email quản trị</label>
                        <input type="text" class="form-control" asp-for="EmailQt" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số ngày làm việc</label>
                        <select asp-for="SoNgayLv" class="form-control">
                            @for (var i = 1; i < 8; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Đơn vị cấp trên</label>
                        <select asp-for="MaCqcq" class="form-control">
                            <option value="">--Chọn--</option>
                            @foreach (var item in DsDonvi)
                            {
                                <option value="@item.MaDv">@item.TenDv</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Thông tin liên hệ</label>
                        <textarea asp-for="TtLienHe" class="form-control" cols="12" rows="5" placeholder="Thông tin, số điện thoại liên lạc với các bộ phận"></textarea>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover class-nosort">
                <thead>
                    <tr style="text-align:center">
                        <th width="5%">STT</th>
                        <th>Lĩnh vực hàng hoá, dịch vụ</th>
                        <th>Đơn vị xét duyệt</th>
                        <th width="10%">Thao tác</th>
                    </tr>

                </thead>
                <tbody>

                    <tr>
                        <td style="text-align:center;">1</td>
                        <td>Giá thuê đất đối với đất có mặt nước trên địa bàn tỉnh</td>
                        <td style="text-align:center;">Sở Tài nguyên và Môi trường</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">2</td>
                        <td>Giá thuế tài nguyên</td>
                        <td style="text-align:center;">Sở Tài chính</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">3</td>
                        <td>Giá cho thuê, thuê mua nhà ở xã hội</td>
                        <td style="text-align:center;">Sở Xây dựng</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">4</td>
                        <td>Giá lệ phí trước bạ</td>
                        <td style="text-align:center;">Sở Tài chính</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">5</td>
                        <td>Giá dịch vụ tối đa</td>
                        <td style="text-align:center;">Sở Xây dựng</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">6</td>
                        <td>Giá hàng hoá, dịch vụ thị trường</td>
                        <td style="text-align:center;">Sở Tài chính</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">7</td>
                        <td>Bảng giá đất</td>
                        <td style="text-align:center;">Sở Tài chính</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">8</td>
                        <td>Giá tài sản công</td>
                        <td style="text-align:center;">Sở Tài chính</td>
                        <td>
                            <button type="button" data-target="#Edit_Modal" data-toggle="modal"
                                    onclick="SetEdit()" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                <i class="icon-lg la la-edit text-primary"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="DsDonVi" asp-action="Index" asp-route-MaDiaBan="@ViewData["MaDiaBan"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="submit" class="btn btn-primary mr-2" onclick="chkDaTa()"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>

<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="" asp-action="" id="frm_tralai" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thông tin đơn vị xét duyệt
                    </h3>
                </div>
                <div class="modal-body">                    
                    <div class="row">
                        <div class="col-xl-12">
                            <label>Lĩnh vực hàng hoá, dịch vụ</label>
                            <select class="form-control">
                                <option value="Giá thuê đất đối với đất có mặt nước trên địa bàn tỉnh">Giá thuê đất đối với đất có mặt nước trên địa bàn tỉnh</option>                                
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <label>Đơn vị xét duyệt</label>
                            <select class="form-control">
                                <option value="Sở Tài chính">Sở Tài chính</option>
                            </select>
                        </div>
                    </div>
                    <input hidden id="id_tralai" name="id_tralai" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function chkDaTa() {
        $('#DiaBanApDung').val($('#DiaBanApDung_mul').val());
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}