@{
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDvKcbNhom>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged.init();
        });

    </script>
}

    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Nhóm<small>&nbsp; dịch vụ Khám chữa bệnh</small><br />
                </h3>
            </div>
            <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.khamchuabenh.danhmuc", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }

        </div>
    </div>
    <hr />
    <div class="card-body" id="frm_data">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr >
                    <th width="10%">STT</th>
                    <th style="text-align:center">Danh mục giá khám bệnh, chữa bệnh</th>
                    <th style="text-align:center">Theo dõi</th>
                    <th style="text-align:center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>

                            <td style="text-align: left">@item.Tennhom</td>
                            <td style="text-align: left">
                                @if (item.Hientrang == "TD")
                                {
                                    <!span class="label font-weight-bold label-lg  label-light-info label-inline text-success">Theo dõi</!span>
                                }
                                else
                                {
                                    <!span class="label font-weight-bold label-lg  label-light-info label-inline text-warning">Không theo dõi</!span>
                                }
                            </td>

                            <td >
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Sửa" data-toggle="modal" data-target="#Edit_Modal" onclick="SetEdit('@item.Id')">
                                    <i class="icon-lg la la-edit text-warning"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>
                                @if (item.Hientrang == "TD")
                                {
                                    <a asp-controller="DvKhamChuaBenhDm" asp-action="Index" asp-route-Manhom="@item.Manhom" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết">
                                        <i class="icon-lg la la-eye text-success"></i>
                                    </a>
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<!--create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ khám chữa bệnh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Nhóm Danh mục giá khám bệnh, chữa bệnh*</b></label>
                            <input type="text" id="tennhom_create" name="tennhom_create" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <label><b>Trạng thái*</b></label>
                        <select id="hientrang_create" name="hientrang_create" class="form-control">
                            <option value="TD">Đang theo dõi</option>
                            <option value="KTD">Không theo dõi</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-danger font-weight-bold" onclick="SetCreate()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa thông tin???
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="GetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>


<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa danh mục giá dịch vụ khám chữa bệnh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="GetEdit()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>



<script>
    function SetCreate() {
        $.ajax({
            url: '/NhomDvKcb/Store',
            type: 'POST',
            data: {
                Tennhom: $('#tennhom_create').val(),
                Hientrang: $('#hientrang_create').val(),
            },
            dataType: 'JSON',
            success: function(data) {
                if (data.status == 'success') {
                    location.reload();
                    toastr.success("Thêm mới thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function() {
                        TableManaged4.init();
                    });
                    $('#Create_Modal').modal("hide");

                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }
    function GetDelete() {
        $.ajax({
            url: '/NhomDvKcb/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function(data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function() {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Modal').modal("hide");
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }


    function SetEdit(id_edit) {
        $.ajax({
            url: '/NhomDvKcb/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function(data) {
                if (data.status == 'success') {
                    //toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);

                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }


    function GetEdit() {
        $.ajax({
            url: '/NhomDvKcb/Update',
            type: 'POST',
            data: {
                Tennhom: $('#tennhom_edit').val(),
                Hientrang: $('#hientrang_edit').val(),
                Id: $('#id_edit').val()
            },
            dataType: 'JSON',
            success: function(data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function() {
                        TableManaged4.init();
                    });
                    $('#Edit_Modal').modal("hide");
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

</script>