@{
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<VMDsDonVi>)ViewData["DsDonVi"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaNuocSh>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#Donvi, #Nam').change(function () {
                var current_path_url = '/GiaNuocSh?';
                var madv = '&Madv=' + $('#Donvi').val();
                var nam = '&Nam=' + $('#Nam').val();
                var url = current_path_url + madv + nam;
                window.location.href = url;
            })
        });

    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ<small>&nbsp;giá nước sạch sinh hoạt</small><br />
                <small style="color: blue;">Mã số thuế: @ViewData["Donvi"]</small>
            </h3>
        </div>
        <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.nuocsh.thongtin", "Create"))
            {
                <a class="btn btn-primary font-weight-bolder" asp-controller="GiaNuocSh" asp-action="Create"
                   asp-route-Madv="@ViewData["Madv"]">
                    <i class="la la-plus"></i>Thêm mới
                </a>
            }&ensp;
            <a class="btn btn-success font-weight-bolder" asp-controller="GiaNuocSh" asp-action="NhanExcel"
               asp-route-Madv="@ViewData["Madv"]">
                <i class="la la-file-excel-o"></i>Nhận dữ liệu
            </a>

        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Năm</label>
                    <select class="form-control" id="Nam" name="Nam">
                        <option value="all">--Tất cả--</option>
                        @{
                            var nam_start = DateTime.Now.Year - 5;
                            var nam_stop = DateTime.Now.Year + 1;
                            for (var i = nam_start; i <= nam_stop; i++)
                            {
                                <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>Năm @i</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control select2basic" id="Donvi" name="Donvi">
                        @foreach (var db in dsdiaban)
                        {
                            <optgroup label="@db.TenDiaBan">
                                @{
                                    var dv = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan);
                                }
                                @foreach (var item in dv)
                                {
                                    <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th>STT</th>
                    <th>Số QĐ</th>
                    <th>Thời điểm xác định</th>
                    <th>Mô tả</th>
                    <th>Trạng thái</th>
                    <th>Cơ quan tiếp nhận</th>
                    <th width="20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td class="text-center active">@item.Soqd</td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                            <td>@item.Mota</td>
                            <td style="text-align: center">
                                @if (item.Trangthai == "CHT")
                                {
                                    <span class="label font-weight-bold label-lg  label-outline-warning label-inline">Chưa hoàn thành</span>
                                }
                                @if (item.Trangthai == "HHT")
                                {
                                    <span class="label font-weight-bold label-lg  label-outline-danger label-inline">Bị trả lại</span>
                                    <p>Lý do:&nbsp;@item.Lydo</p>
                                }
                                @if (item.Trangthai == "HT")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline">Đã hoàn thành và gửi đi</span>
                                }
                                @if (item.Trangthai == "CB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-success label-inline">Công bố</span>
                                }
                                @if (item.Trangthai == "HCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-danger label-inline">Hủy công bố</span>
                                }
                                @if (item.Trangthai == "CCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-warning label-inline">Chưa công bố</span>
                                }
                            </td>

                            @if (item.Macqcq != null)
                            {
                                @foreach (var dv in dsdonvi)
                                {
                                    @if (item.Macqcq == dv.MaDv)
                                    {
                                        <td style="text-align: center">@dv.TenDv</td>
                                    }
                                }
                            }
                            else
                            {
                                <td style="text-align: center"></td>
                            }

                            <td>
                                <a asp-controller="TrangThaiHoSo" target="_blank" asp-action="Index" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Trạng Thái Hồ Sơ"
                                   target="_blank">
                                    <i class="icon-lg la la-redo-alt text-danger"></i>

                                </a>
                                <a asp-controller="GiaNuocSh" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết"
                                   target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                                @if (item.Trangthai == "CHT" || item.Trangthai == "HHT")
                                {
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dg.dct.ttg", "Edit"))
                                    {
                                        <a asp-controller="GiaNuocSh" asp-action="Edit" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                            <i class="icon-lg la la-edit text-primary"></i>
                                        </a>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dg.dct.ttg", "Delete"))
                                    {

                                        <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                            <i class="icon-lg la la-trash text-danger"></i>
                                        </button>
                                    }
                                    <button type="button" class="btn btn-sm btn-clean btn-icon" title="Hoàn thành" data-toggle="modal" data-target="#Complete_Modal" onclick="SetComplete('@item.Mahs')">
                                        <i class="icon-lg la la-check text-primary"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="GiaNuocSh" asp-action="Delete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý xóa thông tin???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Complete Modal-->
<div class="modal fade" id="Complete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="GiaNuocSh" asp-action="Complete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý hoàn thành hồ sơ?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:blue">Hồ sơ đã hoàn thành sẽ được chuyển lên đơn vị tiếp nhận. Bạn cần liên hệ đơn vị tiếp nhận để chỉnh sửa hồ sơ nếu cần!</p>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Cơ quan tiếp nhận*</label>
                                <select class="form-control" id="macqcq_chuyen" name="macqcq_chuyen">
                                    @foreach (var db in dsdiaban)
                                    {
                                        <optgroup label="@db.TenDiaBan">
                                            @{
                                                var donvi = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan);
                                            }
                                            @foreach (var item in donvi)
                                            {
                                                <!option value="@item.MaDv">@item.TenDv</!option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input id="mahs_complete" name="mahs_complete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Hoàn thành</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetComplete(mahs) {
        document.getElementById("mahs_complete").value = mahs;
    }

</script>