@{
    Layout = "_LayoutReports";
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    int record_id = 1;
}

<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaNuocSh

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ </p>
<p style="text-align: left; font-size: 16px;">Số quyết định:@Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Helpers.ConvertDateToStr(Model.Thoidiem)</p>
<p style="text-align: left; font-size: 16px;">Mô tả: @Model.Mota</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr>
            <th style="text-align:center">STT</th>
            <th style="text-align:center">Mục đích sử dụng</th>
            <th style="text-align:center">Tỷ trọng tiêu thụ (%)</th>
            <th style="text-align:center">Sản lượng (m3)</th>
            <th style="text-align:center">Đơn giá chưa bao gồm thuế GTGT <br />(đồng/m3)</th>
            <th style="text-align:center">Đơn giá đã bao gồm thuế GTGT <br />(đồng/m3)</th>
        </tr>

    </thead>
    <tbody>
        @if (Model.GiaNuocShCt != null)
        {
            @foreach (var item in Model.GiaNuocShCt.OrderBy(t=>t.STTSapxep))
            {
                string HtmlStyle = Helpers.ConvertStrToStyle(item.Style);
                <tr>
                    <td style="text-align:center; @HtmlStyle">@item.STTHienthi</td>
                    <td style="text-align:left; @HtmlStyle">@item.Doituongsd</td>
                    <td style="text-align:center; @HtmlStyle">@item.TyTrongTieuThu</td>
                    <td style="text-align:center; @HtmlStyle">@Helpers.ConvertDbToStr(Helpers.ConvertStrToDb(item.SanLuong))</td>
                    <td style="text-align:right; @HtmlStyle">@Helpers.ConvertDbToStr(item.DonGia1)</td>
                    <td style="text-align:right; @HtmlStyle">@Helpers.ConvertDbToStr(item.DonGia2)</td>
                </tr>
            }
        }
    </tbody>

</table>