
@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.ThamDinhGia.ThamDinhGiaCt>

<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM</p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th style="text-align: center" width="4%">#</th>
            <th style="text-align: center">Đơn vị nhập</th>
            <th style="text-align: center">Thời điểm</th>
            <th style="text-align: center">Thông tin tài sản thẩm định</th>
            <th style="text-align: center">Đơn vị yêu cầu thẩm định</th>
            <th style="text-align: center">Tên tài sản</th>
            <th style="text-align: center">Số lượng</th>
            <th style="text-align: center">Giá đề nghị</th>
            <th style="text-align: center">Giá thẩm định</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td style="text-align: center">@item.Tendv</td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: center">@item.Tttstd</td>
                    <td style="text-align: center">@item.Dvyeucau</td>
                    <td style="text-align: center">@item.Tents</td>
                    <td style="text-align: center">@item.Sl</td>
                    <td style="text-align: right; font-weight:bold;">@Helpers.ConvertDbToStr(item.Giadenghi)</td>
                    <td style="text-align: right; font-weight:bold;">@Helpers.ConvertDbToStr(item.Giatritstd)</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="ThamDinhGia" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>&ensp;
</div>

