@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var nhomtn = (IEnumerable<GiaThueTaiNguyenNhom>)ViewData["NhomTn"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Tìm kiếm thông tin sản phẩm dịch dụ cụ thể
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaSpDvCuThe" target="_blank" asp-action="Result" method="post" id="frm_spdvcuthe_timkiem">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Đơn vị</label>
                        <select class="form-control select2basic" id="madv" name="madv">
                            <option value="all">--Tất cả các đơn vị--</option>
                            @foreach (var db in dsdiaban)
                            {
                                <optgroup label="@db.TenDiaBan">
                                    @{
                                        var company = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan);
                                    }
                                    @foreach (var item in company)
                                    {
                                        <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Tên hàng hóa</label>
                        <input type="text" id="tenhanghoa" name="tenhanghoa" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Địa bàn áp dụng</label>
                        <select class="form-control select2basic" id="madiaban" name="madiaban">
                            <option value="all">--Tất cả các địa bàn--</option>
                            @foreach (var db in dsdiaban)
                            {
                                <!option value="@db.MaDiaBan">@db.TenDiaBan</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Phân loại nhóm hàng hóa dịch vụ</label>
                        <select id="PhanLoaiHoSo" name="PhanLoaiHoSo" class="form-control select2basic">
                            <option value="all">--Tất cả hồ sơ--</option>
                            <!option value="XE">Hồ sơ giá trông giữ xe</!option>
                            <!option value="CHO">Hồ sơ giá diện tích bán hàng tại chợ</!option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời gian nhập từ</label>
                        <input type="date" id="ngaynhap_tu" name="ngaynhap_tu" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời gian nhập đến</label>
                        <input type="date" id="ngaynhap_den" name="ngaynhap_den" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Mức giá - Từ</label>
                        <input type="text" id="beginPrice" name="beginPrice" class="form-control money" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Mức giá - Đến</label>
                        <input type="text" id="endPrice" name="endPrice" class="form-control money" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValSpDvCuTheTk()"><i class="la la-check"></i>Tìm kiếm</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValSpDvCuTheTk() {
        if ($('#endPrice').val() != "" || $('#endPrice').val() != 0) {
            if ($('#beginPrice').val() > $('#endPrice').val()) {
                toastr.error("Đơn giá nhập từ không được nhỏ hơn đơn giá nhập đến!", "Lỗi!!!")
            }
            else {
                document.getElementById("frm_spdvcuthe_timkiem").submit();
            }
        }
        else {
            document.getElementById("frm_spdvcuthe_timkiem").submit();
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}