@{
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCuTheCt>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        function exportToExcel(tableId, filename) {
            var table = document.getElementById(tableId);
            var currencyCells = table.getElementsByClassName("sotien");
            Array.from(currencyCells).forEach(cell => {
                cell.textContent = cell.textContent.replace(/\./g, "");
            });

            var wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
            XLSX.writeFile(wb, filename + ".xlsx");
        }
    </script>

}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Thông tin hồ sơ giá sản phẩm dịch vụ cụ thể
                </span>
            </h3>
        </div>
        <div class="col-xl-6" style="text-align:right;margin-top: auto">
            <button class="btn btn-primary font-weight-bolder" onclick="exportToExcel('sample_3','DuLieuKetXuat')">
                <i class="la la-print"></i>Kết xuất
            </button>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr>
                    <th style="text-align:center" width="2%">STT</th>
                    <td style="text-align:center" width="5%">Đơn vị nhập</td>
                    <td style="text-align:center" width="10%">Phân loại hồ sơ</td>
                    <td style="text-align:center" width="5%">Địa bàn áp dụng</td>
                    <td style="text-align:center" width="5%">Số QĐ</td>
                    <td style="text-align:center" width="5%">Thời điểm</td>
                    <td style="text-align:center" width="20%">Mô tả</td>
                    <th style="text-align:center">Tên sản phẩm, dịch vụ</th>
                    <td style="text-align:center" width="5%">Đơn vị tính</td>
                    <th style="text-align:center" width="5%">
                        Thành phố <br />
                        / Điểm giữ xe<br />thông thường và<br />danh lam thắng cảnh
                    </th>
                    <th style="text-align:center" width="5%">
                        Thị xã<br />
                        / Điểm giữ xe<br />có nhu cầu<br />sử dụng lớn
                    </th>
                    <th style="text-align:center" width="5%">Nông thôn</th>
                    <th style="text-align:center" width="5%">Miền núi</th>
                    <th style="text-align:center" width="5%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td style="text-align: center">@item.Tendv</td>
                        @{
                            switch (item.PhanLoaiHoSo)
                            {
                                case "XE":
                                    <td>Hồ sơ giá trông giữ xe</td>
                                    break;
                                default:
                                    <td>Hồ sơ giá diện tích bán hàng tại chợ</td>
                                    break;
                            }
                        }
                        <td style="text-align: center">
                            @if (!string.IsNullOrEmpty(item.MaDiaBan))
                                @dsdiaban.FirstOrDefault(x => x.MaDiaBan == item.MaDiaBan).TenDiaBan
                        </td>
                        <td style="text-align: center">@item.Soqd</td>
                        <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                        <td style="text-align: left">@item.GhiChu</td>
                        <td style="text-align: left">@item.TenSpDv</td>
                        <td style="text-align: left">@item.Dvt</td>
                        <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Mucgia1)</td>
                        <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Mucgia2)</td>
                        <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Mucgia3)</td>
                        <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Mucgia4)</td>
                        <td>
                            <a asp-controller="GiaSpDvCuThe" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết hồ sơ"
                               target="_blank">
                                <i class="icon-lg la la-eye text-success"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer" style="text-align:center">
        <a asp-controller="GiaSpDvCuThe" asp-action="Search" class="btn btn-danger">
            <i class="la la-reply"></i>Quay lại
        </a>&ensp;
    </div>
</div>






