@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaHangHoaTaiSieuThiCt>

<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>


<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr>
            <th rowspan="2" width="2%" style="text-align:center">STT</th>
            <th rowspan="2" style="text-align:center">Đơn vị</th>
            <th rowspan="2" style="text-align:center">Số QĐ/Thời điểm</th>
            <th rowspan="2" style="text-align:center">Tên hàng hóa</th>
            <th colspan="2" style="text-align:center">Đơn giá</th>
        </tr>
        <tr>
            <th style="text-align:center">Giá từ</th>
            <th style="text-align:center">Giá đến</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td style="text-align:center">@item.Tendv</td>
                    <td style="text-align:center">@item.Soqd <br />@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align:center">@item.Tenhanghoa</td>
                    <td style="text-align:right;">@Helpers.ConvertDbToStr(item.Giatu)</td>
                    <td style="text-align:right;">@Helpers.ConvertDbToStr(item.Giaden)</td>
                </tr>
            }
        }
    </tbody>
</table>






