@{
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["Cqcq"];

    string NgayTu = ((DateTime)ViewData["NgayTu"]).ToString("yyyy-MM-dd");
    string NgayDen = ((DateTime)ViewData["NgayDen"]).ToString("yyyy-MM-dd");
   

    var DanhSachHoSo = (IEnumerable<GiaHangHoaTaiSieuThi>)ViewData["DanhSachHoSo"];

    int record_id = 1;

}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaHangHoaTaiSieuThiCt>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
            MoneyDecimalMask();
        });

        function ClickSearch() {
            var fromDate = document.getElementById("NgayTu_Search").value;
            var toDate = document.getElementById("NgayDen_Search").value;
            if (fromDate === "" || toDate === "") {
                toastr.error("Vui lòng nhập đủ ngày từ và ngày đến", "Lỗi!!!");
            } else {
                var fromDateObj = new Date(fromDate);
                var toDateObj = new Date(toDate);

                if (fromDateObj <= toDateObj) {
                    var current_path_url = '/GiaHangHoaTaiSieuThi/Search?';
                    var Madv = '&Madv=' + $('#Madv_Search').val();
                    var NgayTu = '&NgayTu=' + $('#NgayTu_Search').val();
                    var NgayDen = '&NgayDen=' + $('#NgayDen_Search').val();
                    var Mahs = '&Mahs=' + $('#Mahs_Search').val();
                    var DonGiaTu = '&DonGiaTu=' + $('#DonGiaTu_Search').val().replace(/\./g, "").replace(/,/g, ".");
                    var DonGiaDen = '&DonGiaDen=' + $('#DonGiaDen_Search').val().replace(/\./g, "").replace(/,/g, ".");

                    var url = current_path_url + Madv + NgayTu + NgayDen + Mahs + DonGiaTu + DonGiaDen;
                    window.location.href = url;
                } else {
                    toastr.error("Ngày từ phải nhỏ hơn hoặc bằng ngày đến.", "Lỗi!!!");
                }
            }
        }

        function Print() {
            var form = document.getElementById("frm_search");
            form.submit();
        }

    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Thông tin hồ sơ giá hàng hóa siêu thị
                </span>
            </h3>
        </div>
        <div class="col-xl-6" style="text-align:right;margin-top: auto">
            <button class="btn btn-primary font-weight-bolder" onclick="Print()">
                <i class="la la-print"></i>Kết xuất
            </button>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <form asp-controller="GiaHangHoaTaiSieuThi" asp-action="Print" method="post" target="_blank" id="frm_search">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold;">Đơn vị</label>
                        <select class="form-control select2basic" id="Madv_Search" name="Madv_Search">
                            <option value="all">--Tất cả--</option>
                            @foreach (var item in dscqcq)
                            {
                                <!option value="@item.MaDv" @(ViewData["Madv"].ToString() == item.MaDv ? "selected" : "")>@item.TenDv</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Thời gian nhập từ</label>
                        <input type="date" class="form-control" name="NgayTu_Search" id="NgayTu_Search" value="@NgayTu" onchange="GetList()" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Thời gian nhập đến</label>
                        <input type="date" class="form-control" name="NgayDen_Search" id="NgayDen_Search" value="@NgayDen" onchange="GetList()" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label style="font-weight:bold;">Thông tin quyết định</label>
                        <select class="form-control select2basic" id="Mahs_Search" name="Mahs_Search">
                            <option value="all">--Tất cả---</option>
                            @foreach (var item in DanhSachHoSo)
                            {
                                <!option value="@item.Mahs" @(ViewData["Mahs"].ToString() == item.Mahs ? "selected" : "")>
                                Số QĐ: @item.Soqd -Thời điểm: @Helpers.ConvertDateToStr(item.Thoidiem)
                                </!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Đơn giá từ</label>
                        <input type="text" class="form-control money-decimal-mask" name="DonGiaTu_Search" id="DonGiaTu_Search" value="@ViewData["DonGiaTu"]" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Đơn giá đến</label>
                        <input type="text" class="form-control money-decimal-mask" name="DonGiaDen_Search" id="DonGiaDen_Search" value="@ViewData["DonGiaDen"]" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xl-12" style="text-align:center">
                <button class="btn btn-danger" onclick="ClickSearch()"><i class="la la-search"></i>Tìm kiếm</button>
            </div>
        </div>
        <hr />
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr>
                    <th rowspan="2" width="2%" style="text-align:center">STT</th>
                    <th rowspan="2" style="text-align:center">Đơn vị</th>
                    <th rowspan="2" style="text-align:center">Số QĐ/Thời điểm</th>
                    <th rowspan="2" style="text-align:center">Tên hàng hóa</th>
                    <th colspan="2" style="text-align:center">Đơn giá</th>
                    <th rowspan="2" width="5%" style="text-align:center">Thao tác</th>
                </tr>
                <tr>
                    <th style="text-align:center">Giá từ</th>
                    <th style="text-align:center">Giá đến</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="text-align:center">@item.Tendv</td>
                            <td style="text-align:center">@item.Soqd <br />@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                            <td style="text-align:left">@item.Tenhanghoa</td>
                            <td style="text-align:right;">@Helpers.ConvertDbToStr(item.Giatu)</td>
                            <td style="text-align:right;">@Helpers.ConvertDbToStr(item.Giaden)</td>
                            <td>
                                <a asp-controller="GiaHangHoaTaiSieuThi" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết hồ sơ"
                                   target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function GetList() {
        var fromDate = document.getElementById("NgayTu_Search").value;
        var toDate = document.getElementById("NgayDen_Search").value;
        if (fromDate === "" || toDate === "") {
            toastr.error("Vui lòng nhập đủ ngày từ và ngày đến", "Lỗi!!!");
        } else {
            var fromDateObj = new Date(fromDate);
            var toDateObj = new Date(toDate);

            if (fromDateObj <= toDateObj) {

                $.ajax({
                    url: '/GiaHangHoaTaiSieuThi/GetListHoSo',
                    type: 'POST',
                    data: {
                        ngaytu: fromDate,
                        ngayden: toDate,
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#Mahs_Search').replaceWith(data.message);
                        } else {
                            toastr.error(data.message, "Lỗi!!!");
                        }
                    }
                });
            } else {
                toastr.error("Ngày từ phải nhỏ hơn hoặc bằng ngày đến.", "Lỗi!!!");
            }
        }
    }
</script>