@model CSDLGia_ASP.Models.Manages.DinhGia.GiaGocVlxdTh
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    Tổng hợp giá gốc<small>&nbsp;vật liệu xây dựng chỉnh sửa</small>
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="GiaGocVlxdTh" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_giagocvlxdth_update">
            <div class="card-body">
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>
                <input hidden asp-for="Ipf1" />
                <input hidden asp-for="Mahs" />
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Tháng hồ sơ</label>
                            <select class="form-control" asp-for="Thang">
                            @for (var i = 1; i <= 12; i++)
                            {
                                <!option value="@i" @((string)ViewData["Thang"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>@i</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Năm hồ sơ</label>
                        <select class="form-control" asp-for="Nam">
                            @{
                                var nam_start = DateTime.Now.Year - 5;
                                var nam_stop = DateTime.Now.Year + 1;
                                for (var i = nam_start; i <= nam_stop; i++)
                                {
                                    <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>@i</!option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số báo cáo*</label>
                        <input type="text" asp-for="Sobc" class="form-control">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Nội dung*</label>
                        <textarea class="form-control" rows="2" asp-for="Noidung"></textarea>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>File đính kèm</label>
                        @if (!string.IsNullOrEmpty(Model.Ipf1))
                        {
                            <a href="~/UpLoad/File/DinhGia/@Model.Ipf1" target="_blank"
                           onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                @Model.Ipf1
                            </a>
                        }
                        <input type="file" asp-for="Ipf1upload" accept=".doc, .pdf, .xlsx, .txt" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaGocVlxdTh" asp-action="Index" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValTh()"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValTh() {
        if ($('#Sobc').val().trim() == '') {
            toastr.error("Số báo cáo không được để trống", "Lỗi")
        } else {
            if ($('#Noidung').val().trim() == '') {
                toastr.error("Nội dung không được để trống", "Lỗi")
            } else {
                document.getElementById("frm_giagocvlxdth_update").submit();
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }