@{
    Layout = "_LayoutReports";
    var donvis = (IEnumerable<DsDonVi>)ViewData["DonVis"];
    var hoso = (IEnumerable<GiaDauGiaDat>)ViewData["ChiTietHs"];
    var DsDiaBanHuyen = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanHuyen"];
    var DsDiaBanXa = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanXa"];

}
@* @model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDauGiaDatCt> *@
    @model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDauGiaDatCt>

<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO TỔNG HỢP GIÁ TRÚNG THẦU QUYỀN SỬ DỤNG ĐẤT</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayTu"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayDen"])</p>


<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr style="text-align:center">
            <th style="text-align: center" width="2%">TT</th>
            <th style="text-align: center">Tên dự án</th>
            <th style="text-align: center">Giá khởi điểm</th>
            <th style="text-align: center">Giá trúng thầu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donvi in donvis)
        {
            <tr>
                <td></td>
                <td colspan="5" style="font-weight: bold;" class="text-uppercase">@donvi.TenDv</td>
            </tr>
            var hosoInDv = hoso.Where(t => t.Madv == donvi.MaDv);
            @foreach (var hosoindv in hosoInDv)
            {
                <tr>
                    <td></td>
                    <td colspan="5" style="font-weight: bold; padding-left: 2em;">Số QĐ: @hosoindv.Soqdpagia - Thời điểm: @Helpers.ConvertDateToStr(hosoindv.Thoidiem)</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="12" style="font-weight: bold; padding-left: 4em;"> @ViewData["TenTinh"]</td>
                </tr>
                var chitieths = Model.Where(t => t.Mahs == hosoindv.Mahs);

                @foreach (var huyen in DsDiaBanHuyen)
                {
                    var datahuyen = chitieths.Where(x => x.MaDiaBanCapHuyen == huyen.MaDiaBan);
                    if (datahuyen.Any())
                    {
                        <tr>
                            <td></td>
                            <td colspan="12" style="font-weight: bold; padding-left: 6em;">@huyen.TenDiaBan</td>
                        </tr>
                        foreach (var xa in DsDiaBanXa)
                        {
                            var dataXa = datahuyen.Where(x => x.MaDiaBan == xa.MaDiaBan);
                            if (dataXa.Any())
                            {
                                <tr>
                                    <td></td>
                                    <td colspan="12" style="font-weight: bold; padding-left: 8em;">@xa.TenDiaBan</td>
                                </tr>
                                @foreach (var item in dataXa)
                                {
                                    <tr>
                                        <td></td>
                                        <td style="text-align: left;padding-left: 8em;">@item.TenDuAn</td>
                                        <td style="text-align: right">@Helpers.ConvertDbToStr(item.Giakhoidiem)</td>
                                        <td style="text-align: right">@Helpers.ConvertDbToStr(item.Giadaugia)</td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            }
        }
    </tbody>
</table>


<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-collapse: collapse;font-size:14px">
    <tr>
        <td width="45%" style="text-align: left">
        </td>
        <td width="55%" style="text-align: center">
            <span style="font-weight: bold; text-transform:uppercase">
                @ViewData["ChucDanhNguoiKy"]
            </span><br />
            <span style="font-style: italic">(Ký tên, đóng dấu)</span><br />
        </td>
    </tr>
    <tr style="text-align: center; height:100px">
        <td style="font-weight: bold; padding-top: 90px"></td>
        <td style="font-weight: bold; padding-top: 90px; text-align:center">@ViewData["HoTenNguoiKy"]</td>
    </tr>
</table>