@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var cts = (IEnumerable<GiaThueMuaNhaXhCt>)ViewData["ct"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXh>
<br />
<br />
<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số: .........</td>
        <td style="text-align: right; vertical-align: top"><i style="margin-right: 25%;">, ngày....tháng....năm....</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO ĐỊNH GIÁ THUÊ TÀI SẢN CÔNG</p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th rowspan="2" width="2%" style="text-align: center">STT</th>
            <th rowspan="2" style="text-align: center">Tên khu đất</th>
            <th rowspan="2" style="text-align: center">Đơn vị thuê</th>
            <th rowspan="2" style="text-align: center">Địa chỉ</th>
            <th colspan="2" style="text-align: center">Quyết định phê<br />duyệt chủ trương</th>
            <th colspan="2" style="text-align: center">Quyết định phê <br />duyệt giá</th>
            <th colspan="3" style="text-align: center">Giá dịch vụ / năm</th>
            <th rowspan="2" style="text-align: center"> Hợp đồng thuê</th>
            <th rowspan="2" style="text-align: center"> Thời gian <br /> cho thuê</th>
            <th rowspan="2" style="text-align: center">Từ ngày <br /> đến ngày </th>
            <th rowspan="2" style="text-align: center"> Ghi chú</th>
        </tr>
        <tr>
            <th style="text-align: center">Số QĐ</th>
            <th style="text-align: center">Ngày tháng</th>
            <th style="text-align: center">Số QĐ</th>
            <th style="text-align: center">Ngày tháng</th>
            <th style="text-align: center">Diện tích</th>
            <th style="text-align: center">Giá thuê</th>
            <th style="text-align: center">Giá bán</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td colspan="7">
                        <b>Mã hồ sơ: </b>@item.Mahs
                    </td>
                </tr>
                int record_id_ct = 1;
                foreach (var ct in cts.Where(t => t.Mahs == item.Mahs))
                {
                    <tr>
                        <td style="text-align: center">@(record_id - 1).@(record_id_ct++)</td>
                        <td style="text-align: center"> @ct.Tennha </td>
                        <td style="text-align: center"> @ct.Tendv </td>
                        <td style="text-align: center"> @ct.Diachi </td>
                        <td style="text-align: center"> @ct.Soqdpd </td>
                        <td style="text-align: center">@Helpers.ConvertDateToStr(ct.Thoigianpd)</td>
                        <td style="text-align: center"> @ct.Soqddg </td>
                        <td style="text-align: center">@Helpers.ConvertDateToStr(ct.Thoidiem) </td>
                        <td style="text-align: center">  @ct.Dientich</td>
                        <td style="text-align: center"> @ct.Dongiathue </td>
                        <td style="text-align: center"> @ct.Dongia </td>
                        <td style="text-align: center"> @ct.Hdthue</td>
                        <td style="text-align: center"> @ct.Ththue</td>
                        <td style="text-align: center"> Từ ngày: @Helpers.ConvertDateToStr(item.Tungay)<br>Đến ngày: @Helpers.ConvertDateToStr(item.Denngay)</td>
                        <td style="text-align: center"> @ct.Ghichu</td>

                    </tr>
                }
            <tr>
                <td colspan="9">Tổng cộng:</td>
                <td>@cts.Where(x=>x.Mahs==item.Mahs).Sum(x => x.Dongiathue).</td>
                <td>@cts.Where(x => x.Mahs == item.Mahs).Sum(x => x.Dongia)</td>
                <td colspan="4"></td>
            </tr>
            }
            <tr>
                <td colspan="3">Tổng cộng:@Model.Count() hồ sơ</td>
            </tr>
        }
    </tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span><br>
            - UBND tỉnh;<br />
            - Bộ tài chính;<br />
            - Lưu: VT, QLGCS.
        </td>
        <td style="vertical-align: top;">
            <b>THỦ TRƯỞNG ĐƠN VỊ</b><br>
            <i>(Ký tên, đóng dấu)</i>
        </td>
    </tr>
</table>