@* @{
    Layout = "_LayoutReports";
    int record_id = 1;
    var cts = (IEnumerable<GiaThueMuaNhaXhCt>)ViewData["ct"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXh>
<br />
<br />
<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số: .........</td>
        <td style="text-align: right; vertical-align: top"><i style="margin-right: 25%;">, ngày....tháng....năm....</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT ĐỊNH GIÁ THUÊ, MUA NHÀ XÃ HỘI</p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th rowspan="2" width="2%" style="text-align: center">STT</th>
            <th rowspan="2" style="text-align: center">Tên khu đất</th>
            <th rowspan="2" style="text-align: center">Đơn vị thuê</th>
            <th rowspan="2" style="text-align: center">Địa chỉ</th>
            <th colspan="2" style="text-align: center">Quyết định phê<br />duyệt chủ trương</th>
            <th colspan="2" style="text-align: center">Quyết định phê <br />duyệt giá</th>
            <th colspan="3" style="text-align: center">Giá dịch vụ / năm</th>
            <th rowspan="2" style="text-align: center"> Hợp đồng thuê</th>
            <th rowspan="2" style="text-align: center"> Thời gian <br /> cho thuê</th>
            <th rowspan="2" style="text-align: center">Từ ngày <br /> đến ngày </th>
            <th rowspan="2" style="text-align: center"> Ghi chú</th>
        </tr>
        <tr>
            <th style="text-align: center">Số QĐ</th>
            <th style="text-align: center">Ngày tháng</th>
            <th style="text-align: center">Số QĐ</th>
            <th style="text-align: center">Ngày tháng</th>
            <th style="text-align: center">Diện tích</th>
            <th style="text-align: center">Giá thuê</th>
            <th style="text-align: center">Giá bán</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td colspan="7">
                        <b>Mã hồ sơ: </b>@item.Mahs
                    </td>
                </tr>
                int record_id_ct = 1;
                foreach (var ct in cts.Where(t => t.Mahs == item.Mahs))
                {
                    <tr>
                        <td style="text-align: center">@(record_id - 1).@(record_id_ct++)</td>
                        <td style="text-align: center"> @ct.Tennha </td>
                        <td style="text-align: center"> @ct.Tendv </td>
                        <td style="text-align: center"> @ct.Diachi </td>
                        <td style="text-align: center"> @ct.Soqdpd </td>
                        <td style="text-align: center">@Helpers.ConvertDateToStr(ct.Thoigianpd)</td>
                        <td style="text-align: center"> @ct.Soqddg </td>
                        <td style="text-align: center">@Helpers.ConvertDateToStr(ct.Thoidiem) </td>
                        <td style="text-align: center">  @ct.Dientich</td>
                        <td style="text-align: center"> @ct.Dongiathue </td>
                        <td style="text-align: center"> @ct.Dongia </td>
                        <td style="text-align: center"> @ct.Hdthue</td>
                        <td style="text-align: center"> @ct.Ththue</td>
                        <td style="text-align: center"> Từ ngày: @Helpers.ConvertDateToStr(item.Tungay)<br>Đến ngày: @Helpers.ConvertDateToStr(item.Denngay)</td>
                        <td style="text-align: center"> @ct.Ghichu</td>

                    </tr>
                }
            <tr>
                <td colspan="9">Tổng cộng:</td>
                <td>@cts.Where(x=>x.Mahs==item.Mahs).Sum(x => x.Dongiathue).</td>
                <td>@cts.Where(x => x.Mahs == item.Mahs).Sum(x => x.Dongia)</td>
                <td colspan="4"></td>
            </tr>
            }
            <tr>
                <td colspan="3">Tổng cộng:@Model.Count() hồ sơ</td>
            </tr>
        }
    </tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span><br>
            - UBND tỉnh;<br />
            - Bộ tài chính;<br />
            - Lưu: VT, QLGCS.
        </td>
        <td style="vertical-align: top;">
        <td style="vertical-align: top;">

            <p><b>@ViewData["chucvu"]</b></p>
            <i>(Ký tên, đóng dấu)</i>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p><b>@ViewData["tenthutruong"]</b></p>
        </td>
    </tr>
</table> *@


@{
    Layout = "_LayoutReports";
    var donvis = (IEnumerable<DsDonVi>)ViewData["DonVis"];
    var hoso = (IEnumerable<GiaThueMuaNhaXh>)ViewData["ChiTietHs"];
    var dmtmnxh = (IEnumerable<GiaThueMuaNhaXhDm>)ViewData["Dmtmnxh"];

}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXhCt>

<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT GIÁ THUÊ MUA NHÀ XÃ HỘI</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayTu"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayDen"])</p>


<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th style="text-align:center" width="2%">TT</th>
            <th style="text-align:center">Tên nhà</th>
            <th style="text-align:center">Đơn vị thuê</th>
            <th width="5%" style="text-align:center">Đơn vị tính</th>
            <th width="10%" style="text-align:center">Giá bán</th>
            <th width="10%" style="text-align:center">Giá thuê</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donvi in donvis)
        {
            <tr>
                <td></td>
                <td colspan="5" style="font-weight: bold;" class="text-uppercase">@donvi.TenDv</td>
            </tr>
            var hosoInDv = hoso.Where(t => t.Madv == donvi.MaDv);
            @foreach (var hosoindv in hosoInDv)
            {
                <tr>
                    <td></td>
                    <td colspan="5" style="font-weight: bold; padding-left: 2em;">@hosoindv.Soqd - @Helpers.ConvertDateToStr(hosoindv.Thoidiem)</td>
                </tr>
                var chitieths = Model.Where(t => t.Mahs == hosoindv.Mahs);
                @foreach (var item in chitieths)
                {
                    <tr>
                        <td></td>
                        @if (item.Maso != null)
                        {
                            @foreach (var dm in dmtmnxh)
                            {
                                @if (item.Maso == dm.Maso)
                                {
                                    <td style="text-align: left">@dm.Tennha</td>
                                }
                            }
                        }
                        else
                        {
                            <td style="text-align: center"></td>
                        }
                        <td style="text-align:center">@item.Dvthue</td>
                        <td style="text-align:center">@item.Dvt</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongia)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongiathue)</td>
                    </tr>

                }

            }
        }
    </tbody>
</table>


<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-collapse: collapse;font-size:14px">
    <tr>
        <td width="45%" style="text-align: left">
        </td>
        <td width="55%" style="text-align: center">
            <span style="font-weight: bold; text-transform:uppercase">
                @ViewData["ChucDanhNguoiKy"]
            </span><br />
            <span style="font-style: italic">(Ký tên, đóng dấu)</span><br />
        </td>
    </tr>
    <tr style="text-align: center; height:100px">
        <td style="font-weight: bold; padding-top: 90px"></td>
        <td style="font-weight: bold; padding-top: 90px; text-align:center">@ViewData["HoTenNguoiKy"]</td>
    </tr>
</table>