@{
    var record_id = 1;
    var record_id_td = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdoanhnghiep = (IEnumerable<Company>)ViewData["DsDoanhNghiep"];

    var comct = (IEnumerable<VMCompanyLvCc>)ViewData["CompanyLvcc"];
    var dn = (CSDLGia_ASP.ViewModels.Systems.VMTtDnTd)ViewData["TtDnTd"];
    var dnct = (IEnumerable<VMTtDnTdCt>)ViewData["TtDnTdCt"];
}
@model CSDLGia_ASP.ViewModels.Systems.VMCompany

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>

        $(function () {
            $('#Madv').change(function () {
                var current_path_url = '/DoanhNghiep/DanhSach?';
                var madv = '&Madv=' + $('#Madv').val();
                var url = current_path_url + madv;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                THÔNG TIN DOANH NGHIỆP
            </h3>
        </div>
        <div class="card-toolbar">
            @* @if (dn == null || dn.Trangthai != "CD")
            {
                <a class="btn btn-light" asp-controller="TtDnTd" asp-action="Edit" asp-route-Madv="@ViewData["Madv"]">
                    <i class="la la-edit"></i>Thay đổi thông tin
                </a>
            }
            &nbsp;&nbsp;
            @if (dn != null && (dn.Trangthai == "CC" || dn.Trangthai == "BTL"))
            {
                <a class="btn btn-light" asp-controller="TtDnTd" asp-action="Chuyen" asp-route-Madv="@ViewData["Madv"]">
                    <i class="la la-forward"></i>Chuyển thông tin
                </a>
            } *@

        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control select2basic" id="Madv" name="Madv">
                        @foreach (var item in dsdoanhnghiep)
                        {
                            <!option value="@item.Madv" @((string)ViewData["Madv"] == item.Madv ? "selected" : "")>&emsp;@item.Tendn</!option>
                        }
                    </select>
                </div>
            </div>
        </div>
        @if (dn != null)
        {
            @if (dn.Trangthai == "BTL")
            {
                <div class="row">
                    <div class="col-xl-12">
                        <h3 style="font-weight: bold; color: #ff0000">Hồ sơ bị trả lại</h3>
                        <p><i><u>Lý do:</u></i><b> @dn.Lydo</b></p>
                    </div>
                </div>
            }
            else if (dn.Trangthai == "CD")
            {
                <div class="row">
                    <div class="col-xl-12">
                        <h3 style="font-weight: bold; color: #ff0000">Hồ sơ đang chờ duyệt</h3>
                    </div>
                </div>
            }
        }

        <div class="row">
            <div class="col-xl-6">
                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        @if (Model != null)
                        {
                            <tr>
                                <td colspan="2" style="text-align: center;color: #5b9bd1"><b>Thông tin hiện tại</b></td>
                            </tr>
                            <tr>
                                <td style="width:15%"> <b>Tên doanh nghiệp</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Tendn</span> </td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Mã số thuế</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Madv</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Địa chỉ trụ sở chính</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Diachi</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Điện thoại trụ sở chính</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Tel</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Số fax trụ sở chính</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Fax</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Email quản lý</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Email</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Chức danh người ký</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Chucdanh</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Họ và tên người ký</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Nguoiky</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Địa bàn bàn đăng ký</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Tendiaban</span></td>
                            </tr>
                            <tr>
                                <td style="width:15%"><b>Địa danh</b></td>
                                <td style="width:35%"><span class="text-muted">@Model.Diadanh</span></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-striped table-bordered table-hover">
                    @if (comct != null)
                    {
                        <tr style="text-align: center">
                            <th>STT</th>
                            <th>Ngành nghề kinh doanh</th>
                        </tr>
                        @foreach (var item in comct)
                        {
                            <tr>
                                <td class="text-center">@(record_id++)</td>
                                <td>@item.Tennghe</td>
                            </tr>
                        }
                    }
                </table>

            </div>
            @if (dn != null)
            {
                <div class="col-xl-6">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            @if (dn != null)
                            {
                                <tr>
                                    <td colspan="2" style="text-align: center;color: #5b9bd1"><b>Thông tin thay đổi</b></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"> <b>Tên doanh nghiệp</b></td>
                                    <td style="width:35%"><span class="text-muted"></span>@dn.Tendn</td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Mã số thuế</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Madv</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Địa chỉ trụ sở chính</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Diachi</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Điện thoại trụ sở chính</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Tel</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Số fax trụ sở chính</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Fax</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Email quản lý</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Email</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Chức danh người ký</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Chucdanh</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Họ và tên người ký</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Nguoiky</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Địa bàn bàn đăng ký</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Tendiaban</span></td>
                                </tr>
                                <tr>
                                    <td style="width:15%"><b>Địa danh</b></td>
                                    <td style="width:35%"><span class="text-muted">@dn.Diadanh</span></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <table class="table table-striped table-bordered table-hover">
                        @if (dnct != null)
                        {
                            <tr style="text-align: center">
                                <th>STT</th>
                                <th>Ngành nghề kinh doanh</th>
                            </tr>
                            @foreach (var item in dnct)
                            {
                                <tr>
                                    <td class="text-center">@(record_id_td++)</td>
                                    <td>@item.Tennghe</td>
                                </tr>
                            }
                        }
                    </table>

                </div>
            }
        </div>

    </div>
</div>