@{
    var modelCt = (IEnumerable<GiaHhDvkCtTh>)ViewData["modelCt"];
    //var modelNhom = (IEnumerable<GiaHhDvkNhom>)ViewData["modelNhom"];
    var modelHh = (IEnumerable<GiaHhDvkDm>)ViewData["modelHh"];
    int record_id = 0;
}

@*@model CSDLGia_ASP.Models.Manages.DinhGia.GiaHhDvk*@
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Tổng hợp giá hàng hóa dịch vụ khác thêm mới
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaHhDvkTh" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_giahhdvkTh_store">

        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <input name="Mahs" id="Mahs" value="@ViewData["Mahs"]" hidden/>
            <input name="Matt" id="Matt" value="@ViewData["Matt"]" type="hidden" />
            <input name="Thang" id="Thang" value="@ViewData["Thang"]" type="hidden" />
            <input name="Nam" id="Nam" value="@ViewData["Nam"]" type="hidden" />
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Số báo cáo</label>
                        <input name="Sobc" id="Sobc" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày báo cáo</label>
                        <input type="date" name="Ngaybc" id="Ngaybc" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày chốt báo cáo</label>
                        <input type="date" name="Ngaychotbc" id="Ngaychotbc" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea name="Ghichu" id="Ghichu" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <table class="table table-striped table-bordered table-hover" id="tableCt">
                            <thead>
                                <tr style="text-align:center">
                                    <th width="4%">STT</th>
                                    <th>Tên hàng hóa dịch vụ</th>
                                    <th>Đơn vị tính</th>
                                    <th>Đơn giá</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (modelCt != null)
                                {
                                    @foreach (var ct in modelCt)
                                    {
                                        <tr>
                                            <td style="text-align: center">@(++record_id)</td>
                                            <td>@ct.Tenhhdv</td>
                                            <td>@ct.Dvt</td>
                                            <td>@ct.Gia</td>
                                            <td style="text-align: center">
                                                <button type="button" data-target="#modal-edit" data-toggle="modal" class="btn btn-default btn-xs mbs" onclick="editItem('@ct.Id')"><i class="fa fa-edit"></i>&nbsp;Kê khai</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaHhDvkTh" asp-action="Index" asp-route-Matt="@ViewData["Matt"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValThueTn()"><i class="la la-check"></i>Hoàn Thành</button>
        </div>
    </form>
    <!--end::Form-->
</div>

<!--Modal Edit-->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tổng hợp giá hàng hóa dịch vụ khác </h4>
            </div>
            <div class="modal-body" id="tttsedit">
                <select class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Thoát</button>
                <button type="button" class="btn btn-primary" onclick="updatets()">Cập nhật</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    function ValThueTn() {
        if ($('#Sobc').val().trim() == '') {
            toastr.error("Số báo cáo không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Ngaybc').val().trim() == '') {
                toastr.error("Ngày báo cáo không được để trống!", "Lỗi!!!")
            } else {
                if ($('#Ngaychotbc').val().trim() == '') {
                    toastr.error("Ngày chốt báo cáo không được để trống!", "Lỗi!!!")
                } else {
                    if ($('#Ghichu').val().trim() == '') {
                        toastr.error("Ghi chú không được để trống!", "Lỗi!!!")
                    } else {
                        document.getElementById("frm_giahhdvkTh_store").submit();
                    }

                }
            }
        }
    }
    function editItem(id) {
        $.ajax({
            url: '/GiaHhDvk/TongHopCt/Edit',
            type: 'GET',
            data: {
                id: id
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#tttsedit').replaceWith(data.message);
                    //InputMask();
                }
                else
                    toastr.error("Không thể chỉnh sửa thông tin hàng hóa dịch vụ!", "Lỗi!");
            }
        })
    }

    function updatets() {
        $.ajax({
            url: '/GiaHhDvk/TongHopCt/Update',
            type: 'GET',
            data: {
                Id: $('#Id').val(),
                Gia: $('#Gia').val(),
                Gialk: $('#Gialk').val(),
                Loaigia: $('#Loaigia').val(),
                Nguontt: $('#Nguontt').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Chỉnh sửa thông tin hàng hóa dịch vụ thành công", "Thành công!");
                    $('#tableCt').replaceWith(data.message);
                    jQuery(document).ready(function () {
                        TableManaged.init();
                    });
                    $('#modal-edit').modal("hide");


                } else
                    toastr.error("Bạn cần kiểm tra lại thông tin vừa nhập!", "Lỗi!");
            }
        })
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}