@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var nhomhhdvk = (IEnumerable<GiaHhDvkNhom>)ViewData["Nhomhhdvk"];
}
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaHhDvkTh
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Hồ sơ tổng hợp giá hàng hóa dịch vụ thị trường<small> chỉnh sửa</small>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaHhDvkTh" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_giahhdvk_update">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <input hidden asp-for="Matt" />

            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Theo thông tư quyết định</label>
                        <select asp-for="Matt" class="form-control" disabled="disabled">
                            @foreach (var item in nhomhhdvk)
                            {
                                <!option value="@item.Matt" @((string)Model.Matt == item.Matt ? "selected" : "")>@item.Tentt</!option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Tháng báo cáo: <span style="font-weight: bold; color: blue;">@Model.Thang</span></label>
                        <input hidden asp-for="Thang">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Năm báo cáo: <span style="font-weight: bold; color: blue;">@Model.Nam</span></label>
                        <input hidden asp-for="Nam">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Số báo cáo*</label>
                        <input type="text" asp-for="Sobc" class="form-control" required />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày áp dụng*</label>
                        <input type="date" asp-for="Ngaybc" class="form-control" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Nội dung</label>
                        <textarea class="form-control" rows="2" asp-for="Ttbc"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" rows="2" asp-for="Ghichu"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm (Word)
                            @if (!string.IsNullOrEmpty(Model.ipf_word))
                            {
                                <a href="~/UpLoad/File/DinhGia/@Model.ipf_word" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="ipf_word" accept=".doc, .docx" class="form-control" />
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm (PDF)
                            @if (!string.IsNullOrEmpty(Model.ipf_pdf))
                            {
                                <a href="~/UpLoad/File/DinhGia/@Model.ipf_pdf" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="ipf_pdf" accept=".pdf" class="form-control" />
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm (Excel)
                            @if (!string.IsNullOrEmpty(Model.ipf_excel))
                            {
                                <a href="~/UpLoad/File/DinhGia/@Model.ipf_excel" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="ipf_excel" accept=".xls, .xlsx" class="form-control" />
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaHhDvk/TongHop/Detail.cshtml")

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaHhDvkTh" asp-action="Index" asp-route-Nam="@Model.Nam" asp-route-Thang="@Model.Thang"
               asp-route-Madv="@Model.Madv" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Hoàn Thành</button>
        </div>
    </form>
    <!--end::Form-->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}