@{
    int record_id = 1;
    var dsnhom = (IEnumerable<GiaHhDvkNhom>)ViewData["Dsnhom"];
    var hoso = (IEnumerable<GiaHhDvk>)ViewData["Hoso"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaHhDvkTh>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
    }

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
            TableManaged2.init();
            TableManaged4.init();
            $('.select2multi').select2();
        });

        $(function () {
            $('#Nam, #Thang, #Matt').change(function () {
                var current_path_url = '/GiaHhDvk/TongHop?';
                var nam = '&Nam=' + $('#Nam').val();
                var thang = '&Thang=' + $('#Thang').val();
                var matt = '&Matt=' + $('#Matt').val();
                var url = current_path_url + nam + thang + matt;
                window.location.href = url;
            })
        });
    </script>
}

    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Tổng hợp giá hàng hóa dịch vụ khác
                </h3>
            </div>
            <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.hhdvk.th", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }

        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Tháng</label>
                    <select class="form-control" id="Thang" name="Thang">
                        <option value="all">--Tất cả--</option>
                        @for (var i = 1; i <= 12; i++)
                        {
                            <!option value="@i" @((string)ViewData["Thang"] == i.ToString() ? "selected" : "")>@i</!option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Năm</label>
                    <select class="form-control" id="Nam" name="Nam">
                        <option value="all">--Tất cả--</option>
                        @{
                            var nam_start = DateTime.Now.Year - 5;
                            var nam_stop = DateTime.Now.Year + 1;
                            for (var i = nam_start; i <= nam_stop; i++)
                            {
                                <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>@i</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Nhóm hàng hóa</label>
                    <select class="form-control" id="Matt" name="Matt">
                        @foreach(var item in dsnhom){
                            <!option value="@item.Matt" @((string)ViewData["Matt"] == item.Matt ? "selected" : "")>@item.Tentt</!option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="datatable_4">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">#</th>
                    <th>Thông tư quyết định</th>
                    <th>Thông tin báo cáo</th>
                    <th>Ngày báo cáo</th>
                    <th>Số báo cáo</th>
                    <th>Trạng thái</th>
                    <th width="20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="font-weight: bold">@item.Tentt</td>
                            <td>@item.Ttbc</td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngaybc)</td>
                            <td style="text-align: center">@item.Sobc</td>
                            <td style="text-align: center">
                                @if (item.Trangthai == "CHT")
                                {
                                    <span class="label font-weight-bold label-lg  label-outline-warning label-inline">Chưa hoàn thành</span>
                                }
                                @if (item.Trangthai == "HHT")
                                {
                                    <span class="label font-weight-bold label-lg  label-outline-danger label-inline">Hủy hoàn thành</span>
                                }
                                @if (item.Trangthai == "HT")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline">Hoàn thành</span>
                                }
                                @if (item.Trangthai == "CB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-success label-inline">Công bố</span>
                                }
                                @if (item.Trangthai == "HCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-danger label-inline">Hủy công bố</span>
                                }
                                @if (item.Trangthai == "CCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-warning label-inline">Chưa công bố</span>
                                }
                            </td>
                            <td>
                                @if (item.Trangthai == "CHT" || item.Trangthai == "HHT")
                                {
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.hhdvk.th", "Edit"))
                                    {
                                        <a asp-controller="GiaHhDvkTh" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                            <i class="icon-lg la la-edit text-warning"></i>
                                        </a>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.hhdvk.th", "Delete"))
                                    {
                                        <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                            <i class="icon-lg la la-trash text-danger"></i>
                                        </button>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.hhdvk.tt", "Create"))
                                    {
                                        <button type="button" class="btn btn-sm btn-clean btn-icon" title="Tạo hồ sơ" data-toggle="modal" data-target="#CreateHs_Modal" onclick="SetCreateHs('@item.Mahs')">
                                            <i class="icon-lg la la-plus text-primary"></i>
                                        </button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaHhDvk/TongHop/Modal.cshtml")