@{
    var dsdonvi = (IEnumerable<VMDsDonVi>)ViewData["DsDonVi"];

    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["Cqcq"];

    
    //var allModelAverage = (IEnumerable<ChiSoGiaTdAverage>)ViewData["allModelAverage"];
    var allModel = (IEnumerable<ChiSoGiaTdDmCt>)ViewData["allModel"];
}
<style>
    .dropdown-submenu .dropdown-menu {
        top: -3px;
        left: 100%;
        margin-top: -1px;
    }
</style>


@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>


}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Thêm mới hồ sơ chỉ số giá
            </h3>
        </div>
        <div class="card-toolbar">

        </div>
    </div>
    <hr />
    <div class="card-body" id="frm_data">
        <input value="@ViewData["nam"]" id="Nam" name="Nam" />
        <input value="@ViewData["ThangDd"]" id="ThangDd" name="ThangDd" />
        <input value="@ViewData["Thang"]" id="Thang" name="Thang" />
        <input value="@ViewData["Mahs"]" id="Mahs" name="Mahs" />
        <input value="@ViewData["Type"]" id="Type" name="Type" />

        <div class="card-title">
            <h3 class="card-label">
                Chọn nhóm dự đoán
            </h3>
        </div>

        <div class="row">
            <div class="col-xl-12" id="dropList">
                <div class="form-group fv-plugins-icon-container">
                    <label>Nhom 1</label>
                    <select id="grp1" class="form-control" multiple="multiple">
                        @foreach (var list in allModel.Where(x => x.Masonhomhanghoa == "1"))
                        {
                            <option value="@list.Masohanghoa">@list.Tenhanghoa</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <label>Nhom 2</label>
                    <select id="grp2" class="form-control" multiple="multiple"></select>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <label>Nhom 3</label>
                    <select id="grp3" class="form-control" multiple="multiple"></select>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-light-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>

    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("select").select2();
        $("select").change(function (e) {
            var id = $(this).val();
            var nhom = $(this).attr("id");

            $.ajax({
                type: "POST",
                url: "/DuDoanChiSoGiaTieuDung/DropList",
                data:
                {
                    id: id,
                    nhom: nhom,
                    Nam:$("#Nam").val(),
                    Type:$("#Type").val(),
                },
                dataType: "json",
                success: function (data) {
                    if (nhom == "grp1") {
                        $("#grp2").html(data.message);
                    }
                    if (nhom == "grp2") {
                        $("#grp3").html(data.message);
                    }
                },
            });
        });
    });
    
</script>
@await Html.PartialAsync("~/Views/Admin/Manages/ChiSoGiaTd/Dudoan/Update.cshtml")
