@{
    var record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dmnghekd = (IEnumerable<DmNgheKd>)ViewData["DmNgheKd"];
}
@model IEnumerable<CSDLGia_ASP.Models.Systems.TtDnTd>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#Madv').change(function () {
                var current_path_url = '/DoanhNghiep/XetDuyet?';
                var madv = '&Madv=' + $('#Madv').val();
                var url = current_path_url + madv;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                XÉT DUYỆT THÔNG TIN DOANH NGHIỆP
            </h3>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị quản lý tài khoản</label>
                    <select class="form-control select2basic" id="Madv" name="Madv">
                        <option value="all">--Tất cả--</option>
                        @foreach (var item in dsdonvi)
                        {
                            <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                        }
                    </select>
                </div>
            </div>
            @* <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Lĩnh vực kinh doanh</label>
                    <select class="form-control select2basic" id="Manghe" name="Manghe">
                        @foreach (var item in dmnghekd)
                        {
                            <!option value="@item.Manghe" @((string)ViewData["Manghe"] == item.Manghe ? "selected" : "")>&emsp;@item.Tennghe</!option>
                        }
                    </select>
                </div>
            </div> *@
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">#</th>
                    <th>Tên doanh nghiệp</th>
                    <th width="30%">Ngày chuyển</th>
                    <th width="20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td>@item.Tendn</td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngaychuyen)</td>
                            <td>
                                <a asp-controller="TtDnTdXd" asp-action="Show" asp-route-Madv="@item.Madv" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết"
                                   target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>