@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaRungCt>

<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr>
            <th rowspan="3" width="2%" style="text-align:center">STT</th>
            <th rowspan="3" style="text-align:center">Đơn vị</th>
            <th rowspan="3" style="text-align:center">Số QĐ/Thời điểm</th>
            <th rowspan="3" style="text-align:center">Hồ sơ</th>
            <th rowspan="3" style="text-align:center">Mô tả</th>
            <th colspan="6" width="30%" style="text-align:center">Giá rừng</th>
            <th colspan="2" width="10%" rowspan="2" style="text-align:center">Giá cho thuê quyền sử dụng rừng/năm</th>
            <th colspan="6" width="30%" style="text-align:center">Giá bồi thường thiệt hại đối với rừng tự nhiên</th>
        </tr>
        <tr>
            <th colspan="2" style="text-align:center">Đặc dụng</th>
            <th colspan="2" style="text-align:center">Phòng hộ</th>
            <th colspan="2" style="text-align:center">Sản xuất</th>
            <th colspan="2" style="text-align:center">Đặc dụng</th>
            <th colspan="2" style="text-align:center">Phòng hộ</th>
            <th colspan="2" style="text-align:center">Sản xuất</th>
        </tr>
        <tr>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td style="text-align:center">@item.Tendv</td>
                <td style="text-align:center">@item.SoQD <br />@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                <td style="text-align:center">@item.Tennhom</td>
                <td style="text-align:left">@item.MoTa</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaRung1)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaRung2)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaRung3)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaRung4)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaRung5)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaRung6)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaChoThue1)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaChoThue2)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaBoiThuong1)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaBoiThuong2)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaBoiThuong3)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaBoiThuong4)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaBoiThuong5)</td>
                <td style="text-align:center">@Helpers.ConvertDbToStr(item.GiaBoiThuong6)</td>
            </tr>
        }
    </tbody>
</table>

