@{
    Layout = "_LayoutReports";
    var donvis = (IEnumerable<DsDonVi>)ViewData["DonVis"];
    var hoso = (IEnumerable<GiaSpDvCongIch>)ViewData["ChiTietHs"];

}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIchCt>

<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT GIÁ SẢN PHẨM DỊCH VỤ CÔNG ÍCH</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayTu"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayDen"])</p>


<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr>
            <th style="text-align:center" rowspan="2">TT</th>
            <th style="text-align:center" rowspan="2">Tên sản phẩm dịch vụ</th>
            <th style="text-align:center" rowspan="2">Đơn vị tính</th>
            <th style="text-align:center" colspan="2">Loại đô thị</th>
            <th style="text-align:center" colspan="2">Mức giá</th>
        </tr>
        <tr>
            <th style="text-align:center">Loại II</th>
            <th style="text-align:center">Loại III - V</th>
            <th style="text-align:center">Mức giá 1</th>
            <th style="text-align:center">Mức giá 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donvi in donvis)
        {
            <tr>
                <td></td>
                <td colspan="6" style="font-weight: bold;" class="text-uppercase">@donvi.TenDv</td>
            </tr>
            var hosoInDv = hoso.Where(t => t.Madv == donvi.MaDv);
            @foreach (var hosoindv in hosoInDv)
            {
                <tr>
                    <td></td>
                    <td colspan="6" style="font-weight: bold; padding-left: 2em;">Số QĐ: @hosoindv.Soqd - Thời điểm: @Helpers.ConvertDateToStr(hosoindv.Thoidiem)</td>
                </tr>
                var chitieths = Model.Where(t => t.Mahs == hosoindv.Mahs);
                @foreach (var item in chitieths.OrderBy(t=>t.Sapxep))
                {

                    <tr>
                        <td style="text-align:center">@item.HienThi</td>
                        <td style="text-align:left">@item.Ten</td>
                        <td style="text-align:center">@item.Dvt</td>
                        <td style="text-align:center">@item.LoaiDoThi</td>
                        <td style="text-align:center">@item.LoaiDoThi2</td> 
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgiatu)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Mucgiaden)</td>
                    </tr>

                }

            }
        }
    </tbody>
</table>


<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-collapse: collapse;font-size:14px">
    <tr>
        <td width="45%" style="text-align: left">
        </td>
        <td width="55%" style="text-align: center">
            <p style="font-style: italic;">@ViewData["DinhDanh"],&nbsp;@ViewData["NgayTaoBaoCao"]</p><br />
            <span style="font-weight: bold; text-transform:uppercase">
                @ViewData["ChucDanhNguoiKy"]
            </span><br />
            <span style="font-style: italic">(Ký tên, đóng dấu)</span><br />
        </td>
    </tr>
    <tr style="text-align: center; height:100px">
        <td style="font-weight: bold; padding-top: 90px"></td>
        <td style="font-weight: bold; padding-top: 90px; text-align:center">@ViewData["HoTenNguoiKy"]</td>
    </tr>
</table>