@{
    Layout = "_LayoutReports";
    var record_id = 1;
    var cts = (IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIchCt>)ViewData["ct"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCongIch>
<br />
<br />

<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT GIÁ SP DỊCH VỤ CÔNG ÍCH</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["tungay"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["denngay"])</p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th width="2%" style="text-align: center">STT</th>
            <th style="text-align: center">Tên sản phẩm dịch vụ</th>
            <th style="text-align: center">Mức giá từ</th>
            <th style="text-align: center">Mức giá đến</th>
          
        </tr>
    </thead>
   <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                 <td colspan="7">

                    Mã hồ sơ:@item.Mahs

                </td>
                
            </tr>
             var record_id_ct = 1;

            foreach (var ct in cts.Where(t => t.Mahs == item.Mahs))
            {
                <tr>
                    <td style="text-align: center">@(record_id - 1).@(record_id_ct++)</td>
                    <td style="text-align: center">@ct.Maspdv</td>
                    <td style="text-align: center">@ct.Mucgiatu</td>
                    <td style="text-align: center">@ct.Mucgiaden</td>
                   
                </tr>
            }
        }
    </tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span><br>
            - UBND tỉnh;<br />
            - Bộ tài chính;<br />
            - Lưu: VT, QLGCS.
        </td>
        <td style="vertical-align: top;">
            <b>THỦ TRƯỞNG ĐƠN VỊ</b><br>
            <i>(Ký tên, đóng dấu)</i>
        </td>
    </tr>
</table>