@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var TenTinh = ViewData["TenTinh"];
    var DsDiaBanHuyen = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanHuyen"];
    var DsDiaBanXa = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanXa"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDauGiaDatCt>

<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr style="text-align:center">
            <th style="text-align: center">STT</th>
            <th style="text-align: center">Địa bàn</th>
            <th style="text-align: center">Tên dự án</th>
            <th style="text-align: center">Số lô</th>
            <th style="text-align: center">Số thửa</th>
            <th style="text-align: center">Tờ bản đồ</th>
            <th style="text-align: center">Diện tích</th>
            <td style="text-align: center">Thời điểm</td>
            <th style="text-align: center">Giá khởi điểm</th>
            <th style="text-align: center">Giá trúng thầu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td style="text-align: center">@item.TenDiaBan</td>
                <td style="text-align: left">@item.TenDuAn</td>
                <td style="text-align: center">@item.Solo</td>
                <td style="text-align: center">@item.Sothua</td>
                <td style="text-align: center">@item.Tobanbo</td>
                <td style="text-align: center">@item.Dientich</td>
                <td style="text-align: center">@Helpers.ConvertDateToStr(item.ThoiDiem)</td>
                <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Giakhoidiem)</td>
                <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Giadaugia)</td>
            </tr>
        }
        <tr>
            <td colspan="12" style="font-weight:bold;text-align:left">&emsp; @TenTinh</td>
        </tr>
        @foreach (var huyen in DsDiaBanHuyen)
        {
            var dataHuyen = Model.Where(x => x.MaDiaBanCapHuyen == huyen.MaDiaBan);
            if (dataHuyen.Any())
            {
                <tr>
                    <td colspan="12" style="font-weight:bold;text-align:left">&emsp;&emsp; @huyen.TenDiaBan</td>
                </tr>
            }
            foreach (var xa in DsDiaBanXa.Where(x => x.MaDiaBanCq == huyen.MaDiaBan))
            {
                var dataXa = dataHuyen.Where(x => x.Maxp == xa.MaDiaBan);
                if (dataXa.Any())
                {
                    <tr>
                        <td colspan="12" style="font-weight:bold;text-align:left">&emsp;&emsp;&emsp; @xa.TenDiaBan</td>
                    </tr>
                    @foreach (var item in dataXa)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="text-align: left">@item.TenDuAn</td>
                            <td style="text-align: center">@item.Solo</td>
                            <td style="text-align: center">@item.Sothua</td>
                            <td style="text-align: center">@item.Tobanbo</td>
                            <td style="text-align: center">@item.Dientich</td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.ThoiDiem)</td>
                            <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Giakhoidiem)</td>
                            <td style="text-align: right" class="sotien">@Helpers.ConvertDbToStr(item.Giadaugia)</td>
                        </tr>
                    }
                }
            }
        }

    </tbody>
</table>