@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["dsdonvi"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDauGiaDat>
<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM</p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th style="text-align: center">STT</th> 
            <td style="text-align: center">Thời điểm</td>
            <th style="text-align: center">Tên dự án</th>
            <th style="text-align: center">Giá khởi điểm</th>
            <th style="text-align: center">Giá trúng thầu</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: center">@item.Tenduan</td>
                    <td style="text-align: center">@item.Giakhoidiem</td>
                    <td style="text-align: center">@item.Giadaugia</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaTrungThauDat" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>
</div>

