@{
    Layout = "_LayoutReports";
    var donvis = (IEnumerable<DsDonVi>)ViewData["DonVis"];
    var hoso = (IEnumerable<GiaRung>)ViewData["ChiTietHs"];
    var DmNhom = (IEnumerable<GiaRungDm>)ViewData["DmNhom"];

}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaRungCt>

<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT GIÁ RỪNG</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayTu"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["NgayDen"])</p>


<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr>
       
            <th rowspan="3" width="2%" style="text-align:center">Mã TTR</th>
            <th rowspan="3" style="text-align:center">Trạng thái rừng</th>
            <th colspan="6" width="30%" style="text-align:center">Giá rừng</th>
            <th colspan="2" width="10%" rowspan="2" style="text-align:center">Giá cho thuê quyền sử dụng rừng/năm</th>
            <th colspan="6" width="30%" style="text-align:center">Giá bồi thường thiệt hại đối với rừng tự nhiên</th>
           
        </tr>
        <tr>
            <th colspan="2" style="text-align:center">Đặc dụng</th>
            <th colspan="2" style="text-align:center">Phòng hộ</th>
            <th colspan="2" style="text-align:center">Sản xuất</th>
            <th colspan="2" style="text-align:center">Đặc dụng</th>
            <th colspan="2" style="text-align:center">Phòng hộ</th>
            <th colspan="2" style="text-align:center">Sản xuất</th>
        </tr>
        <tr>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
            <th style="text-align:center">Tối thiểu</th>
            <th style="text-align:center">Tối đa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donvi in donvis)
        {
            <tr>
                <td></td>
                <td colspan="15" style="font-weight: bold;" class="text-uppercase">@donvi.TenDv</td>
            </tr>
            var hosoInDv = hoso.Where(t => t.Madv == donvi.MaDv);
            @foreach (var hosoindv in hosoInDv)
            {
                <tr>
                    <td></td>
                    <td colspan="15" style="font-weight: bold; padding-left: 2em;">Số QĐ: @hosoindv.Soqd - Thời điểm: @Helpers.ConvertDateToStr(hosoindv.Thoidiem)</td>
                </tr>
                @foreach( var nhom in DmNhom.OrderBy(t=>t.STTSapXep))
                {
                    var chitieths = Model.Where(t => t.Mahs == hosoindv.Mahs && t.Manhom == nhom.Manhom);
                    if (chitieths.Any())
                    {
                        <tr>
                            <td></td>
                            <td colspan="15" class="text-uppercase" style="font-weight: bold; text-align: center;">@nhom.Tennhom</td>
                        </tr>
                        @foreach (var item in chitieths.OrderBy(t=>t.STTSapXep))
                        {
                            <tr>
                                <td style="text-align: center">@item.STTHienThi</td>
                                <td style="text-align:left">@item.MoTa</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaRung1)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaRung2)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaRung3)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaRung4)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaRung5)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaRung6)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaChoThue1)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaChoThue2)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaBoiThuong1)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaBoiThuong2)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaBoiThuong3)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaBoiThuong4)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaBoiThuong5)</td>
                                <td style="text-align:right">@Helpers.ConvertDbToStr(item.GiaBoiThuong6)</td>
                            </tr>
                        }
                    }
                }
            }
        }
    </tbody>
</table>


<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-collapse: collapse;font-size:14px">
    <tr>
        <td width="45%" style="text-align: left">
        </td>
        <td width="55%" style="text-align: center">
            <span style="font-weight: bold; text-transform:uppercase">
                @ViewData["ChucDanhNguoiKy"]
            </span><br />
            <span style="font-style: italic">(Ký tên, đóng dấu)</span><br />
        </td>
    </tr>
    <tr style="text-align: center; height:100px">
        <td style="font-weight: bold; padding-top: 90px"></td>
        <td style="font-weight: bold; padding-top: 90px; text-align:center">@ViewData["HoTenNguoiKy"]</td>
    </tr>
</table>





