@{

    var dsdvt = (IEnumerable<DmDvt>)ViewData["Donvitinh"];
    var PhanLoaiDichVu = (IEnumerable<GiaSpDvCongIchDm>)ViewData["PhanLoaiDichVu"];

}
<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm 
                    @* <span class="d-block text-muted pt-2 font-size-sm">Thêm mới sản phẩm dịch vụ cụ thể</span> *@
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="manhom_create" name="manhom_create" value="@ViewData["Manhom"]" />
                <input hidden id="madv_create" name="madv_create" value="@ViewData["Madv"]" />
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Sắp xếp</label>
                            <input type="text" id="sapxep_create" name="sapxep_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group fv-plugins-icon-container">
                            <label>TT</label>
                            <input type="text" id="hienthi_create" name="hienthi_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label style="font-weight:bold;color:blue">Kiểu in hiển thị:</label>
                            <select class="form-control select2multi" multiple="multiple" id="style_create" name="style_create" style="width:100%">
                                <option value="Chữ in hoa">Chữ in hoa</option>
                                <option value="Chữ in đậm">Chữ in đậm</option>
                                <option value="Chữ in nghiêng">Chữ in nghiêng</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Tên sản phẩn dịch vụ</label>
                            <input type="text" id="tenspdv_create" name="tenspdv_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đơn vị tính</label>
                            <input type="text" id="dvt_create" name="dvt_create" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Store()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ công ích
                    <span class="d-block text-muted pt-2 font-size-sm">Chỉnh sửa sản phẩm dịch vụ công ích</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="edit_thongtin">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Update()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ công ích
                    <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa thông tin sản phẩm dịch vụ công ích???</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="GiaSpDvCongIchDm" asp-action="Delete">
                <div class="modal-body">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Remove_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ công ích
                    <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa dữ liệu sản phẩm dịch vụ công ích???</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="GiaSpDvCongIchDm" asp-action="Remove">
                <div class="modal-body">
                    <input hidden id="manhom_remove" name="manhom_remove" value="@ViewData["Manhom"]"/>
                    <input hidden id="madv_remove" name="madv_remove" value="@ViewData["Madv"]" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Lock Modal-->
<div class="modal fade" id="Lock_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin chi tiết
                    <span class="d-block text-muted pt-2 font-size-sm">Khóa/Mở khóa tất cả chi tiết danh mục</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="manhom_lock" name="manhom_lock" value="@ViewData["Manhom"]" />
                    <input id="madv_lock" name="madv_lock" value="@ViewData["Manhom"]" />
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Trạng thái</label>
                            <select id="theodoi_lock" name="theodoi_lock" class="form-control">
                                <option value="TD">Đang theo dõi</option>
                                <option value="KTD">Không theo dõi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Lock()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>


<!--Thêm phân loại sản phẩm-->
<div class="modal fade" id="Plspdv_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin phân loại
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label"> Phân loại sản phẩm dịch vụ<span class="require">*</span></label>
                        <input id="plspdv_add" class="form-control" name="plspdv_add" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Plspdv()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Thêm đơn vị tính -->
<div class="modal fade" id="Dvt_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin đơn vị tính
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Đơn vị tính<span class="require">*</span></label>
                        <input id="dvt_add" class="form-control" name="dvt_add" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Dvt()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Thêm đơn vị tính edit  -->
<div class="modal fade" id="Dvt_Modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin đơn vị tính edit
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label">Đơn vị tính<span class="require">*</span></label>
                        <input id="dvt_addedit" class="form-control" name="dvt_addedit" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Dvtedit()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Thêm phân loại sản phẩm-->
<div class="modal fade" id="Plspdv_Modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin phân loại
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <label class="form-control-label"> Phân loại sản phẩm dịch vụ<span class="require">*</span></label>
                        <input id="plspdv_addedit" class="form-control" name="plspdv_addedit" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Plspdvedit()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Excel Modal-->
<div class="modal fade" id="Excel_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin sản phẩm dịch vụ công ích
                    <span class="d-block text-muted pt-2 font-size-sm">Nhận dữ liệu từ file excel</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input hidden id="Manhom" name="Manhom" value="@ViewData["Manhom"]" />
                    <input hidden id="Madv" name="Madv" value="@ViewData["Madv"]" />
                    <div class="mb-3 font-weight-bold font-size-lg">
                        <label style="color: blue;font-weight: bold; text-transform: uppercase">@ViewData["Tennhom"]</label>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Tên sản phẩm</label>
                            <select id="Ten_excel" name="Ten_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "1" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Mô tả</label>
                            <select id="Mota_excel" name="Mota_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "2" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Giá</label>
                            <select id="Gia_excel" name="Gia_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "3" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đơn vị tính</label>
                            <select id="Dvt_excel" name="Dvt_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "4" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Phân loại</label>
                            <select id="Phanloai_excel" name="Phanloai_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "5" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Hiện trạng</label>
                            <select id="Hientrang_excel" name="Hientrang_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "6" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>File dữ liệu:</label><br />
                            <input type="file" accept=".xls,.xlsx" id="file_excel" name="file_excel" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Sheet</label>
                            <input type="number" class="form-control" id="sheet_excel" name="sheet_excel" value="1" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div cla ss="form-group fv-plugins-icon-container">
                            <label>Từ dòng</label>
                            <input type="number" class="form-control" id="linestart_excel" name="linestart_excel" value="3" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đến dòng</label>
                            <input type="number" class="form-control" id="linestop_excel" name="linestop_excel" value="111" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Excel()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>

    function Dvt() {
        $('#Dvt_Modal').modal('hide');
        var gt = $('#dvt_add').val();
        $('#dvt_create').append(new Option(gt, gt, true, true));
        $('#dvt_create').val(gt).trigger('change');
    }

    function Plspdv() {
        $('#Plspdv_Modal').modal('hide');
        var gt = $('#plspdv_add').val();
        $('#plspdv_create').append(new Option(gt, gt, true, true));
        $('#plspdv_create').val(gt).trigger('change');
    }

    function Plspdvedit() {
        $('#Plspdv_Modal_edit').modal('hide');
        var gt = $('#plspdv_addedit').val();
        $('#plspdv_edit').append(new Option(gt, gt, true, true));
        $('#plspdv_edit').val(gt).trigger('change');
    }

    function Dvtedit() {
        $('#Dvt_Modal_edit').modal('hide');
        var gt = $('#dvt_addedit').val();
        $('#dvt_edit').append(new Option(gt, gt, true, true));
        $('#dvt_edit').val(gt).trigger('change');
    }

    function Store() {
        $.ajax({
            url: '/GiaSpDvCongIchDmCt/Store',
            type: 'POST',
            data: {
                Madv: $('#madv_create').val(),
                HienThi: $('#hienthi_create').val(),
                manhom: $('#manhom_create').val(),
                tenspdv: $('#tenspdv_create').val(),
                dvt: $('#dvt_create').val(),
                mucgia1: $('#mucgia1_create').val(),
                mucgia2: $('#mucgia2_create').val(),
                sapxep: $('#sapxep_create').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success(data.message);
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function getmaxsapxep(manhom) {
        $.ajax({
            url: '/GiaSpDvCongIchDmCt/GetMaxSapXep',
            type: 'POST',
            data: {
                Manhom: $('#manhom_create').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                $('#sapxep_create').val(data + 1)
            }
        })

    }

    function getId(id, tennhom) {
        document.getElementById("id_delete").value = id;
        document.getElementById("tennhom_delete").innerHTML = tennhom;
    }

    function editId(id_edit) {
        $.ajax({
            url: '/GiaSpDvCongIchDmCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);
                    $('.select2multi').select2();
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function Update() {
      
            $.ajax({
                url: '/GiaSpDvCongIchDmCt/Update',
                type: 'POST',
                data: {
                  
                    Tenspdv: $('#tenspdv_edit').val(),
                    Sapxep: $('#sapxep_edit').val(),
                    HienThi: $('#hienthi_edit').val(),
                    Dvt: $('#dvt_edit').val(),
                    Id: $('#id_edit').val()
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success(data.message);
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        
    }

    function Lock() {
        $.ajax({
            url: '/GiaSpDvCongIchDmCt/Lock',
            type: 'POST',
            data: {
                Madv: $('#madv_lock').val(),
                Manhom: $('#manhom_lock').val(),
                Theodoi: $('#theodoi_lock').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success(data.message);
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function Excel() {
        if ($('#file_excel').val() == '') {
            toastr.error("File đính kèm không được để trống!!!", "Lỗi!");
        } else {
            var file = new FormData();
            file.append("Ten", $("#Ten_excel").val());
            file.append("Mota", $("#Mota_excel").val());
            file.append("Gia", $("#Gia_excel").val());
            file.append("Dvt", $("#Dvt_excel").val());
            file.append("Phanloai", $("#Phanloai_excel").val());
            file.append("Hientrang", $("#Hientrang_excel").val());
            file.append("FormFile", $("#file_excel")[0].files[0]);
            file.append("Sheet", $("#sheet_excel").val());
            file.append("LineStart", $("#linestart_excel").val());
            file.append("LineStop", $("#linestop_excel").val());
            file.append("Manhom", $("#Manhom").val());
            file.append("Madv", $("#Madv").val());

            $.ajax({
                url: '/GiaSpDvCongIchDmCt/Excel',
                type: 'POST',
                data: file,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success("Thêm mới thành công!!!", "Thành công!");
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    }
</script>