@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaHhDvkCt>

<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th width="4%">#</th>
            <th>Đơn vị nhập</th>
            <th>Thời điểm</th>
            <th>Nhóm hàng hóa</th>
            <th>Mã hàng hóa dịch vụ</th>
            <th>Tên hàng hóa dịch vụ</th>
            <th>Đặc điểm kỹ thuật</th>
            <th>Đơn vị tính</th>
            <th>Giá kỳ trước</th>
            <th>Giá kỳ này</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td>@item.Tendv</td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td>@item.Tentt</td>
                    <td style="text-align: center">@item.Mahhdv</td>
                    <td class="text-left active" style="font-weight: bold">@item.Tenhhdv</td>
                    <td>@item.Dacdiemkt</td>
                    <td style="text-align: center">@item.Dvt</td>
                    <td style="text-align: right; font-weight:bold;">@Helpers.ConvertDbToStr(item.Gialk)</td>
                    <td style="text-align: right; font-weight:bold;">@Helpers.ConvertDbToStr(item.Gia)</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaHhDvk" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>&ensp;
</div>





