@{
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.KeKhaiGia.VMKkGia>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged.init();
        });

        $(function() {
            $('#Madv, #Nam').change(function() {
                var current_path_url = '/XetDuyetGiaVtXtx?';
                var madv = '&Madv=' + $('#Madv').val();
                var nam = '&Nam=' + $('#Nam').val();
                var url = current_path_url + madv + nam;
                window.location.href = url;
            })
        });
    </script>
}

    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Thông tin xét duyệt kê khai giá<small>&nbsp;cước vận tải hành khách bằng xe taxi</small><br />
                </h3>
            </div>
            <div class="card-toolbar">
            </div>
        </div>
        <hr />
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold; color:blue">Năm</label>
                        <select class="form-control" id="Nam" name="Nam">
                            @{
                            var nam_start = DateTime.Now.Year - 5;
                            var nam_stop = DateTime.Now.Year + 1;
                            for (var i = nam_start; i <= nam_stop; i++)
                            {
                                <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>Năm @i</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control" id="Madv" name="Madv">
                        @foreach (var db in dsdiaban)
                        {
                            <optgroup label="@db.TenDiaBan">
                                @{
                                    var dv = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan && t.ChucNang != "QUANTRI");
                                }
                                @foreach (var item in dv)
                                {
                                    <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>@item.TenDv</!option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">#</th>
                    <th>Doanh nghiệp</th>
                    <th>Ngày<br />kê khai</th>
                    <th>Ngày thực hiện<br />mức giá</th>
                    <th>Số công văn</th>
                    <th>Người chuyển</th>
                    <th>Trạng thái</th>
                    <th width="15%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td class="active">@item.Tendn<br /><b>Mã số thuế:</b> @item.Macqcq</td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngaynhap)</td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngayhieuluc)</td>
                            <td class="text-center danger">@item.Socv</td>
                            <td>
                                @if (item.Ttnguoinop != "")
                                {
                                    <span>Họ và tên: @item.Ttnguoinop</span>

                                    <br />
                                    <span>Số điện thoại liên hệ: @item.Dtll</span>
                                }
                            </td>
                            <td style="text-align: center">
                                @if (item.Trangthai == "CD")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline">Chờ duyệt</span>
                                    <br />
                                    <span>Thời gian chuyển: <br /><b>@Helpers.ConvertDateToStr(item.Ngaychuyen)</b></span>
                                }
                                @if (item.Trangthai == "DD")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-success label-inline">Đã duyệt</span>
                                    <br />
                                    <span>Thời gian chuyển: <br /><b>@Helpers.ConvertDateToStr(item.Ngaychuyen)</b></span>
                                }
                            </td>
                            <td>
                                <a asp-controller="KkGiaVtXtx" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết"
                           target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kknygia.kkgvtxtx.giakkxd", "Approve"))
                                {
                                    @if (item.Level == "ADMIN")
                                    {
                                        @if (item.Trangthai_ad == "CB")
                                        {
                                            <button type="button" class="btn btn-sm btn-clean btn-icon" title="Hủy công bố" data-toggle="modal" data-target="#HuyCongBo_Modal"
                                onclick="HuyCongBo('@item.Mahs','HCB')">
                                                <i class="icon-lg la la-times text-danger "></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-sm btn-clean btn-icon" title="Công bố" data-toggle="modal" data-target="#CongBo_Modal"
                                onclick="CongBo('@item.Mahs','CB')">
                                                <i class="icon-lg la la-send text-primary "></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-clean btn-icon" title="Trả lại" data-toggle="modal" data-target="#TraLai_Modal"
                                onclick="TraLai('@item.Id', '@item.Macqcq')">
                                                <i class="icon-lg la la-reply text-danger "></i>
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        @if (item.Trangthai == "CD")
                                        {
                                            <button type="button" class="btn btn-sm btn-clean btn-icon" title="Nhận hồ sơ" data-toggle="modal" data-target="#XetDuyet_Modal"
                                onclick="XetDuyet('@item.Id')">
                                                <i class="icon-lg la la-share text-primary "></i>
                                            </button>
                                        }

                                        @if (item.Trangthai_ad == "" || item.Trangthai_ad == null)
                                        {
                                            @if (item.Trangthai == "CD" || item.Trangthai == "DD" || item.Trangthai == "BTL")
                                            {
                                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Trả lại" data-toggle="modal" data-target="#TraLai_Modal"
                                onclick="TraLai('@item.Id', '@item.Macqcq')">
                                                    <i class="icon-lg la la-reply text-danger "></i>
                                                </button>
                                            }

                                            @if (item.Trangthai == "DD" || item.Trangthai == "BTL")
                                            {
                                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Chuyển công bố" data-toggle="modal" data-target="#ChuyenXd_Modal"
                                onclick="ChuyenXd('@item.Mahs', '@item.Macqcq')">
                                                    <i class="icon-lg la la-check text-primary "></i>
                                                </button>
                                            }
                                        }


                                    }
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/KeKhaiGia/KkGiaVtXtx/XetDuyet/Modal.cshtml")