@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaThueMuaNhaXh
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var mahs = ViewData["Mahs"];
    int record_id = 1;
    var tennha = (IEnumerable<GiaThueMuaNhaXhDm>)ViewData["Tennha"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    Thông tin hồ sơ giá<small>&nbsp;thuê mua nhà xã hội</small>
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="Giathuemuanhaxh" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_tmnxh_update">
            <div class="card-body">
                <input hidden asp-for="Madv" />
                <input hidden asp-for="Mahs" />
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Địa bàn</label>
                            <select class="form-control" id="MaDiaBan" name="MaDiaBan">
                                @foreach (var item in dsdiaban)
                            {
                                <!option value="@item.MaDiaBan" @(@Model.Madiaban == item.MaDiaBan ? "selected" : "" )>@item.TenDiaBan</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định</label>
                        <input type="text" class="form-control" asp-for="Soqd" id="Soqd" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Thời điểm*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Nội dung hồ sơ</label>
                        <input type="text" class="form-control" asp-for="Ghichu" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf1" type="file" accept=".jpg,.jpeg,.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf2" type="file" accept=".jpg,.jpeg,.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf3" type="file" accept=".jpg,.jpeg,.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf4" type="file" accept=".jpg,.jpeg,.png" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf5" type="file" accept=".jpg,.jpeg,.png" />
                    </div>
                </div>
            </div>


        </div>

    </form>
    <!--end::Form-->
</div>
<div class="card-body" id="frm_data">
    <table class="table table-striped table-bordered table-hover" id="datatable_4">
        <thead>
            <tr style="text-align:center">
                <th>STT</th>
                <th>Tên nhà</th>
                <th>Đơn vị thuê</th>
                <th>Đơn vị tính</th>
                <th>Giá bán</th>
                <th>Giá thuê</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @if (Model.GiaThueMuaNhaXhCt != null)
                {
                    @foreach (var item in Model.GiaThueMuaNhaXhCt)
                    {
                        <tr>
                            <td style="text-align:center">@(record_id++)</td>
                            <td style="text-align:center">
                                @foreach (var tn in tennha)
                                {
                                    @if (item.Maso == tn.Maso)
                                    {
                                        <span>@tn.Tennha</span>
                                    }
                                }
                            </td>
                            <td style="text-align:center">@item.Dvthue</td>
                            <td style="text-align:center">@item.Dvt</td>
                            <td style="text-align:center">@item.Dongia</td>
                            <td style="text-align:center">@item.Dongiathue</td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <!--end: Datatable-->
</div>