@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dmtmnxh = (IEnumerable<GiaThueMuaNhaXhDm>)ViewData["GiaThueMuaNhaXhDm"];
}

<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXh

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ </p>
<p style="text-align: left; font-size: 16px;">Số quyết định:@Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Helpers.ConvertDateToStr(Model.Thoidiem)</p>
<p style="text-align: left; font-size: 16px;">Mô tả: @Model.Mota</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <tr>

        <th style="text-align: center">Phân loại</th>
        <th style="text-align: center">Tên nhà</th>
        <th style="text-align: center">Đơn vị thuê</th>
        <th style="text-align: center">Đơn vị tính</th>
        <th style="text-align: center">Giá bán</th>
        <th style="text-align: center">Giá thuê</th>

    </tr>
    @if (Model != null)
    {
        @foreach (var item in Model.GiaThueMuaNhaXhCt)
        {
            <tr>
                <td>@item.Phanloai</td>
                <td style="text-align:left">
                    @item.Tennha
                </td>
                <td style="text-align:left">@item.Dvthue</td>
                <td style="text-align:center">@item.Dvt</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongia)</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongiathue)</td>
            </tr>
        }
    }
</table>
