@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var NhomDm = (IEnumerable<GiaThueMatDatMatNuocNhom>)ViewData["DsNhom"];
}

<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMatDatMatNuoc

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ </p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
@* <p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p> *@
<p style="text-align: left; font-size: 16px;">Thời điểm: @Helpers.ConvertDateToStr(Model.Thoidiem)</p>
<p style="text-align: left; font-size: 16px;">Mô tả: @Model.Ghichu</p>
@* <p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p> *@

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>

@foreach (var nhom in NhomDm)
{
    var data_nhom = Model.GiaThueMatDatMatNuocCt.Where(t => t.MaNhom == nhom.Manhom);
    if (data_nhom.Any())
    {
        <p style="text-align:center; font-size:16px; text-transform:uppercase; font-weight:bold">@nhom.Tennhom</p>

        <table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
            <thead>
                <tr style="text-align:center">
                    <th rowspan="2" style="text-align:center">STT</th>
                    <th rowspan="2" style="text-align:center">Vị trí, địa bàn</th>
                    <th colspan="3" style="text-align:center">Tỷ lệ %</th>
                    <th rowspan="2" style="text-align:center">Đơn giá</th>
                </tr>
                <tr style="text-align:center">
                    <th style="text-align:center">Ngành, nghề đặc<br />biệt ưu đãi đầu tư</th>
                    <th style="text-align:center">Ngành, nghề ưu<br />đãi đầu tư</th>
                    <th style="text-align:center">Ngành, nghề khác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in data_nhom.OrderBy(t => t.SapXep))
                {
                    <tr style="text-align:center">
                        <td style="text-align:center">@item.HienThi</td>
                        <td style="text-align:left">@item.LoaiDat</td>
                        <td style="text-align:center">@Helpers.ConvertDbToStr(item.TyLe1)</td>
                        <td style="text-align:center">@Helpers.ConvertDbToStr(item.TyLe2)</td>
                        <td style="text-align:center">@Helpers.ConvertDbToStr(item.TyLe3)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongia1)</td>
                    </tr>
                }
            </tbody>
        </table>

    }
}