@{
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["Cqcq"];

    string NgayTu = ((DateTime)ViewData["NgayTu"]).ToString("yyyy-MM-dd");
    string NgayDen = ((DateTime)ViewData["NgayDen"]).ToString("yyyy-MM-dd");
   
    var DanhSachHoSo = (IEnumerable<GiaThueMuaNhaXh>)ViewData["DanhSachHoSo"];
    var DanhMucNhom = ViewData["Dmtmnxh"]
                    as IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXhDm>
                    ?? Enumerable.Empty<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXhDm>();

    int record_id = 1;
    var dmtmnxh = (IEnumerable<GiaThueMuaNhaXhDm>)ViewData["Dmtmnxh"];
    string PhanLoai = ViewData["PhanLoai"].ToString();

}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMuaNhaXhCt>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
            MoneyDecimalMask();
        });

        function ClickSearch() {
            var fromDate = document.getElementById("NgayTu_Search").value;
            var toDate = document.getElementById("NgayDen_Search").value;
            if (fromDate === "" || toDate === "") {
                toastr.error("Vui lòng nhập đủ ngày từ và ngày đến", "Lỗi!!!");
            } else {
                var fromDateObj = new Date(fromDate);
                var toDateObj = new Date(toDate);

                if (fromDateObj <= toDateObj) {
                    var current_path_url = '/Giathuemuanhaxh/Search?';
                    var Madv = '&Madv=' + $('#Madv_Search').val();
                    var Maso = '&PhanLoai=' + $('#PhanLoai_Search').val();
                    var NgayTu = '&NgayTu=' + $('#NgayTu_Search').val();
                    var NgayDen = '&NgayDen=' + $('#NgayDen_Search').val();
                    var Mahs = '&Mahs=' + $('#Mahs_Search').val();
                    var DonGiaTu = '&DonGiaTu=' + $('#DonGiaTu_Search').val().replace(/\./g, "").replace(/,/g, ".");
                    var DonGiaDen = '&DonGiaDen=' + $('#DonGiaDen_Search').val().replace(/\./g, "").replace(/,/g, ".");

                    var url = current_path_url + Madv + Maso + NgayTu + NgayDen + Mahs + DonGiaTu + DonGiaDen;
                    window.location.href = url;
                } else {
                    toastr.error("Ngày từ phải nhỏ hơn hoặc bằng ngày đến.", "Lỗi!!!");
                }
            }
        }

        function Print() {
            var form = document.getElementById("frm_search");
            form.submit();
        }

    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Thông tin hồ sơ giá thuê mua nhà ở xã hội
                </span>
            </h3>
        </div>
        <div class="col-xl-6" style="text-align:right;margin-top: auto">
            <button class="btn btn-primary font-weight-bolder" onclick="Print()">
                <i class="la la-print"></i>Kết xuất
            </button>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <form asp-controller="GiaThueMuaNhaXaHoi" asp-action="Print" method="post" target="_blank" id="frm_search">
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold;">Đơn vị</label>
                        <select class="form-control select2basic" id="Madv_Search" name="Madv_Search">
                            <option value="all">--Tất cả--</option>
                            @foreach (var item in dscqcq)
                            {
                                <!option value="@item.MaDv" @(ViewData["Madv"].ToString() == item.MaDv ? "selected" : "")>@item.TenDv</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold;">Phân loại hồ sơ:</label>
                        <select class="form-control select2basic" id="PhanLoai_Search" name="PhanLoai_Search">
                            <option value="all">--Tất cả --</option>
                            <!option value="Nhà ở xã hội" @(PhanLoai == "Nhà ở xã hội" ? "selected" : "" )>Nhà ở xã hội</!option>
                            <!option value="Nhà ở công vụ" @(PhanLoai == "Nhà ở công vụ" ? "selected" : "" )>Nhà ở công vụ</!option>
                            <!option value="Nhà ở thuộc sở hữu của nhà nước" @(PhanLoai == "Nhà ở thuộc sở hữu của nhà nước" ? "selected" : "" )>Nhà ở thuộc sở hữu của nhà nước</!option>
                            <!option value="Nhà ở khác" @(PhanLoai == "Nhà ở khác" ? "selected" : "" )>Nhà ở khác</!option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Thời gian nhập từ</label>
                        <input type="date" class="form-control" name="NgayTu_Search" id="NgayTu_Search" value="@NgayTu" onchange="GetList()" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Thời gian nhập đến</label>
                        <input type="date" class="form-control" name="NgayDen_Search" id="NgayDen_Search" value="@NgayDen" onchange="GetList()" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label style="font-weight:bold;">Thông tin quyết định</label>
                        <select class="form-control select2basic" id="Mahs_Search" name="Mahs_Search">
                            <option value="all">--Tất cả---</option>
                            @foreach (var item in DanhSachHoSo)
                            {
                                <!option value="@item.Mahs" @(ViewData["Mahs"].ToString() == item.Mahs ? "selected" : "")>
                                Số QĐ: @item.Soqd -Thời điểm: @Helpers.ConvertDateToStr(item.Thoidiem)
                                </!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Đơn giá từ</label>
                        <input type="text" class="form-control money-decimal-mask" name="DonGiaTu_Search" id="DonGiaTu_Search" value="@ViewData["DonGiaTu"]" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label style="font-weight:bold;">Đơn giá đến</label>
                        <input type="text" class="form-control money-decimal-mask" name="DonGiaDen_Search" id="DonGiaDen_Search" value="@ViewData["DonGiaDen"]" />
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xl-12" style="text-align:center">
                <div class="form-group">
                    <button class="btn btn-danger" onclick="ClickSearch()"><i class="la la-search"></i>Tìm kiếm</button>
                </div>
            </div>
        </div>
        <hr />
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr>
                    <th width="2%" style="text-align:center">STT</th>
                    <th style="text-align:center">Đơn vị</th>
                    <th style="text-align:center">Số QĐ/Thời điểm</th>
                    <th style="text-align:center">Phân loại</th>
                    <th>Tên nhà</th>
                    <th>Đơn vị thuê</th>
                    <th width="5%">Đơn vị tính</th>
                    <th width="10%">Giá bán</th>
                    <th width="10%">Giá thuê</th>
                    <th width="5%">Thao tác</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td style="text-align:center">@item.Tendv</td>
                        <td style="text-align:center">@item.SoQD <br />@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                        <td style="text-align:center">@item.Phanloai </td>
                        <td style="text-align:center">@item.Tennha</td>                       
                        <td style="text-align:center">@item.Dvthue</td>
                        <td style="text-align:center">@item.Dvt</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongia)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongiathue)</td>
                        <td style="text-align:center">
                            <a class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết hồ sơ" asp-controller="GiaThueMuaNhaXaHoi" asp-action="Show" asp-route-Mahs="@item.Mahs">
                                <i class="icon-lg la la-eye text-primary"></i>
                            </a>                          
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function GetList() {
        var fromDate = document.getElementById("NgayTu_Search").value;
        var toDate = document.getElementById("NgayDen_Search").value;
        if (fromDate === "" || toDate === "") {
            toastr.error("Vui lòng nhập đủ ngày từ và ngày đến", "Lỗi!!!");
        } else {
            var fromDateObj = new Date(fromDate);
            var toDateObj = new Date(toDate);

            if (fromDateObj <= toDateObj) {

                $.ajax({
                    url: '/GiaThueMuaNhaXh/GetListHoSo',
                    type: 'POST',
                    data: {
                        ngaytu: fromDate,
                        ngayden: toDate,
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status == 'success') {
                            toastr.success("Thành công!");
                            $('#mahs_Search').replaceWith(data.message);
                        } else {
                            toastr.error(data.message, "Lỗi!!!");
                        }
                    }
                });
            } else {
                toastr.error("Ngày từ phải nhỏ hơn hoặc bằng ngày đến.", "Lỗi!!!");
            }
        }
    }
</script>