@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var record_id = 1;
}
<!--Trả lại Modal-->
<div class="modal fade" id="TraLai_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaDatPlHt" asp-action="TraLai" id="frm_tralai">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Lý do trả lại hồ sơ*
                    </h3>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <textarea class="form-control" id="Lydo" name="Lydo" cols="12" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <p style="color: blue">Hồ sơ bị sẽ chuyển lại cho cơ quan gửi lên để có thể chỉnh sửa hồ sơ!</p>
                    <input hidden id="id_tralai" name="id_tralai" />
                    <input hidden id="madv_tralai" name="madv_tralai" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Trả lại</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--Tổng hợp Modal-->
<div class="modal fade" id="Tonghop_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-controller="GiaDatPlHt" asp-action="TongHop" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Tổng hợp hồ sơ giá xây dựng mới
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <hr />
                <table class="table table-striped table-bordered table-hover" id="sample_3">
                    <thead>
                        <tr style="text-align:center">
                            <th width="4%">STT</th>
                            <th>Đơn vị báo cáo</th>
                            <th>Thời điểm báo cáo</th>
                            <th>Chọn hồ sơ để tổng hợp</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center" width="3%">@(record_id++)</td>
                                    <td>@item.TendvCh</td>
                                    <td style="text-align: center">@item.Thoidiem</td>
                                    <td style="text-align: center" width="30%">
                                        <div class="form-group form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Tổng hợp</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Chuyen Xet Duyet Modal-->
<div class="modal fade" id="ChuyenXd_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaDatPlHt" asp-action="ChuyenXd">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý nhận hồ sơ?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: blue">Hồ sơ đã hoàn thành sẽ được chuyển lên đơn vị tiếp nhận. Bạn cần liên hệ đơn vị tiếp nhận để chỉnh sửa hồ sơ nếu cần!</p>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Cơ quan tiếp nhận*</label>
                                <select class="form-control" id="macqcq" name="macqcq">
                                    @foreach (var db in dsdiaban.Where(t => t.Level != "H" && t.MaDiaBan != (dsdonvi.FirstOrDefault(t => t.MaDv == (string)ViewData["Madv"]).MaDiaBan)))
                                    {
                                        <optgroup label="@db.TenDiaBan">
                                            @{
                                                var dv = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan && t.ChucNang != "QUANTRI"/* && t.MaDv != (string)ViewData["Madv"]*/);
                                            }
                                            @foreach (var item in dv)
                                            {
                                                <option value="@item.MaDv">@item.TenDv</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input hidden id="mahs" name="mahs" />
                    <input hidden id="madv" name="madv" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Cong Bo Modal-->
<div class="modal fade" id="CongBo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaDatPlHt" asp-action="CongBo">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý công bố?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden id="mahs_cb" name="mahs_cb" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Huy Cong Bo Modal-->
<div class="modal fade" id="HuyCongBo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaDatPlHt" asp-action="HuyCongBo">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý hủy công bố
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input hidden id="mahs_hcb" name="mahs_hcb" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function TraLai(id, madv) {
        document.getElementById("id_tralai").value = id;
        document.getElementById("madv_tralai").value = madv;
    }

    function ChuyenXd(mahs, madv) {
        document.getElementById("mahs").value = mahs;
        document.getElementById("madv").value = madv;
    }

    function CongBo(mahs_cb) {
        document.getElementById("mahs_cb").value = mahs_cb;
    }

    function HuyCongBo(mahs_hcb) {
        document.getElementById("mahs_hcb").value = mahs_hcb;
    }
</script>