@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["dsdonvi"];
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDvKcb>
<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr >
            <th style="text-align: center">STT</th>
            <td style="text-align: center">Đơn vị nhập</td>
            <td style="text-align: center">Thời điểm</td>
            <th style="text-align: center">Tên dịch vụ</th>
            <td style="text-align: center"> Phân loại</td>
            <td style="text-align: center">đơn giá</td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    @foreach (var dv in dsdonvi)
                    {
                        @if (dv.MaDv == item.Madv)
                        {
                            <td style="text-align: center">@dv.TenDv</td>
                        }
                    }
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: left">@item.Tenspdv</td>
                    <td style="text-align: center"></td>
                    <td style="text-align: center">@item.Giadv</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="DvKhamChuaBenh" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>
</div>





