@{
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<VMDsDonVi>)ViewData["DsDonVi"];
    var dsdonvith = (IEnumerable<DsDonVi>)ViewData["DsDonViTh"];
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["DsCqcq"];
    var DanhMucNhom = (IEnumerable<PhiLePhiNhom>)ViewData["DanhMucNhom"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.PhiLePhi>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />

}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
            TableManaged2.init();
            $('.select2multi').select2();
        });

        $(function () {
            $('#Madv, #Nam').change(function () {
                var current_path_url = '/PhiLePhi/DanhSach?';
                var madv = '&Madv=' + $('#Madv').val();
                var nam = '&Nam=' + $('#Nam').val();
                var url = current_path_url + madv + nam;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ phí, lệ phí
            </h3>
        </div>
        <div>
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.cacloaigiakhac.lephi.thongtin", "Create"))
            {
                @if (ViewData["Madv"].ToString() != "all" && ViewData["Madv"].ToString() != "")
                {
                    <button class="btn btn-primary font-weight-bolder" data-toggle="modal" data-target="#Create_Modal" type="buttom">
                        <i class="la la-plus"></i>Thêm mới
                    </button>

                    <a class="btn btn-success font-weight-bolder" asp-controller="PhiLePhiExcel" asp-action="Index"
                       asp-route-Madv="@ViewData["Madv"]">
                        <i class="la la-file-excel-o"></i>Nhận dữ liệu
                    </a>
                }
            }

        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Năm</label>
                    <select class="form-control select2basic" id="Nam" name="Nam">
                        <option value="all">--Tất cả--</option>
                        @{
                            var nam_start = DateTime.Now.Year - 5;
                            var nam_stop = DateTime.Now.Year + 1;
                            for (var i = nam_start; i <= nam_stop; i++)
                            {
                                <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>@i</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control select2basic" id="Madv" name="Madv">
                        <option value="all">--Tất cả--</option>
                        @foreach (var item in dsdonvi)
                        {
                            <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">#</th>
                    <th>Số quyết định</th>
                    <th>Mô tả</th>
                    <th>Thời điểm áp dụng</th>
                    <th>Trạng thái</th>
                    <th>Cơ quan tiếp nhận</th>
                    <th width="20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center" width="3%">@(record_id++)</td>
                            <td style="text-align: left">@item.Soqd</td>
                            <td style="text-align: left">@item.Ttqd</td>
                            <td style="text-align: center" width="10%">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                            <td style="text-align: center" width="15%">
                                @if (item.Trangthai == "CHT")
                                {
                                    <span class="label font-weight-bold label-lg  label-outline-warning label-inline">Chưa hoàn thành</span>
                                }
                                @if (item.Trangthai == "HHT")
                                {
                                    <span class="label font-weight-bold label-lg  label-outline-danger label-inline">Bị trả lại</span>
                                    <p>Lý do:&nbsp;@item.Lydo</p>
                                }
                                @if (item.Trangthai == "HT")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-info label-inline">Đã hoàn thành và gửi đi</span>
                                }
                                @if (item.Trangthai == "CB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-success label-inline">Công bố</span>
                                }
                                @if (item.Trangthai == "HCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-danger label-inline">Hủy công bố</span>
                                }
                                @if (item.Trangthai == "CCB")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-warning label-inline">Chưa công bố</span>
                                }
                                @if (item.Trangthai == "BTL")
                                {
                                    <span class="label font-weight-bold label-lg  label-light-danger label-inline">Bị trả lại</span>
                                    <p>Lý do:&nbsp;@item.Lydo</p>
                                }
                            </td>
                            <td style="text-align: left" width="15%">
                                @if (!string.IsNullOrEmpty(item.Macqcq))
                                    @(dscqcq.FirstOrDefault(x => x.MaDv == item.Macqcq)?.TenDv ?? "")


                            </td>
                            <td width="12%">

                                <a asp-controller="PhiLePhi" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết" target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                                <button type="button" onclick="GetFile('@item.Mahs')" class="btn btn-sm btn-clean btn-icon" title="Giấy tờ kèm theo">
                                    <i class="icon-lg la la-file-alt text-dark"></i>
                                </button>
                                @if (item.Trangthai == "CHT" || item.Trangthai == "HHT" || item.Trangthai == "BTL")
                                {
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.cacloaigiakhac.lephi.thongtin", "Edit"))
                                    {
                                        <a asp-controller="PhiLePhi" asp-action="Edit" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                            <i class="icon-lg la la-edit text-primary"></i>
                                        </a>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.cacloaigiakhac.lephi.thongtin", "Delete"))
                                    {
                                        <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                            <i class="icon-lg la la-trash text-danger"></i>
                                        </button>
                                    }
                                    <button type="button" class="btn btn-sm btn-clean btn-icon" title="Hoàn thành" data-toggle="modal" data-target="#Chuyen_Modal" onclick="Chuyen('@item.Mahs')">
                                        <i class="icon-lg la la-check text-primary "></i>
                                    </button>
                                }

                                <a asp-controller="TrangThaiHoSo" target="_blank" asp-action="Index" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Trạng Thái Hồ Sơ"
                                   target="_blank">
                                    <i class="icon-lg la la-redo-alt text-danger"></i>

                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thêm mới hồ sơ phí lệ phí
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-action="Create" asp-asp-controller="PhiLePhi" method="get">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Nhóm phí lệ phí</label>
                                <select id="manhom_create" name="manhom_create" class="form-control">
                                    @foreach (var item in DanhMucNhom)
                                    {
                                        <option value="@item.Manhom">@item.Tennhom</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input hidden id="madv_create" name="madv_create" value="@ViewData["Madv"]" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Chuyển Modal-->
<div class="modal fade" id="Chuyen_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="PhiLePhi" asp-action="Complete">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý hoàn thành hồ sơ?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:blue">Hồ sơ đã hoàn thành sẽ được chuyển lên đơn vị tiếp nhận. Bạn cần liên hệ đơn vị tiếp nhận để chỉnh sửa hồ sơ nếu cần!</p>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Cơ quan tiếp nhận*</label>
                                <select class="form-control select2basic" id="macqcq_chuyen" name="macqcq_chuyen">
                                    @foreach (var item in dsdonvith)
                                    {
                                        <!option value="@item.MaDv">@item.TenDv</!option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input hidden id="mahs_chuyen" name="mahs_chuyen" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="PhiLePhi" asp-action="Delete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý xóa thông tin???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function Chuyen(mahs) {
        document.getElementById("mahs_chuyen").value = mahs;
    }
</script>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/PhiLePhi/ThongTinGiayTo/Show.cshtml")