@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];   
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.PhiLePhi

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ GIÁ PHÍ, LỆ PHÍ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr style="text-align:center">
            <th>STT</th>
            <th>Nội dung</th>
            <th>Đơn vị<br />tính</th>
            <th>Mức giá</th>
            <th>Ghi chú</th>
        </tr>        
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.PhiLePhiCt != null)
            {
                @foreach (var item in Model.PhiLePhiCt.OrderBy(x => x.STT))
                {
                    <tr>
                        <td style="text-align:center">@item.HienThi</td>
                        <td>@item.Tendv</td>
                        <td>@item.Dvt</td>
                        <td>@item.Dongia</td>
                        <td></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
