@model CSDLGia_ASP.Models.Manages.DinhGia.GiaGiaoDichDat
@{
    int record_id = 1;
    var DanhMucNhom = (IEnumerable<GiaGiaoDichDatNhom>)ViewData["DanhMucNhom"];
}
<div class="mb-3 font-weight-bold font-size-lg">
    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin chi tiết</label>
</div>
<div class="card card-custom" style="border: 1px solid #60aee4;">
    <div class="card-body" id="frm_data">       
        @foreach (var nhom in DanhMucNhom)
        {
            var data = Model.GiaGiaoDichDatCt.Where(x => x.Manhom == nhom.Manhom);
            if (data.Any())
            {
                <p style="text-align:center; font-size:16px; text-transform:uppercase; font-weight:bold">@nhom.Tennhom</p>
                <table class="table table-striped table-bordered table-hover class-nosort">
                    <thead>
                        <tr style="text-align:center">
                            <th width="2%">STT</th>
                            <th width="25%">Phân loại đất thực tế trên thị trường</th>                            
                            <th>Đơn vị tính</th>
                            <th>Giá giao dịch</th>
                            <th width="5%">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in data)
                        {
                            <tr>
                                <td class="text-center">@(record_id++)</td>
                                <td class="active" style="font-weight:bold;">@item.Ten</td>                                
                                <td style="text-align: right; font-weight:bold">@item.Dvt</td>
                                <td style="text-align: right; font-weight:bold">@Helpers.ConvertDbToStr(item.Gia)</td>
                                <td>
                                    <button type="button" data-target="#Edit_Modal" data-toggle="modal" class="btn btn-sm btn-clean btn-icon"
                                            onclick="SetEdit('@item.Id')" title="Nhập Giá">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
        }        
    </div>
</div>
<hr />


<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa thông tin
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>

            </div>
        </div>
    </div>
</div>
<script>
    function SetEdit(id_edit) {
        $.ajax({
            url: '/GiaGiaoDichDatCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Thành công!");
                    $('#edit_thongtin').replaceWith(data.message);
                    MoneyMask();
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function SetUpdate() {
        var gia = $('#gia_edit').val().replace(',', '');
        $.ajax({
            url: '/GiaGiaoDichDatCt/Update',
            type: 'POST',
            data: {
                Gia: gia,
                Id: $('#id_edit').val(),
                Dvt: $('#donvitinh_edit').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#frm_data').html(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $(document).ready(function () {
                        TableManagedClass.init();
                    });
                    $('#Edit_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>