@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonvi"];
    var dsdonvith = (IEnumerable<DsDonVi>)ViewData["DsDonViTh"];
    var nhomtn = (IEnumerable<GiaGiaoDichDatNhom>)ViewData["NhomTn"];
}
<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-controller="GiaGiaoDichDat" asp-action="Create" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thêm mới hồ sơ giá giao dịch đất thực tế trên thị trường
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="row">
                        <div hidden class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Đơn vị báo cáo</label>
                                <select id="MadvBc" name="MadvBc" class="form-control">
                                    @foreach (var dv in dsdonvi)
                                    {
                                        <!option value="@dv.MaDv" @((string)ViewData["Madv"] == dv.MaDv ? "selected" : "")>@dv.TenDv</!option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Phân loại nhóm hàng hóa dịch vụ</label>
                                <select id="Manhom" name="Manhom" class="form-control select2basic" style="width:100%">
                                    <option value="all" >--Chọn tất cả --</option>
                                    @foreach (var nhom in nhomtn)
                                    {
                                        <option value="@nhom.Manhom">@nhom.Tennhom</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!--Chuyển Modal-->
<div class="modal fade" id="Complete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="GiaGiaoDichDat" asp-action="Chuyen">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý chuyển hồ sơ lên đơn vị chủ quản?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:blue">Hồ sơ sẽ được chuyển lên đơn vị chủ quản. Bạn cần liên hệ đơn vị chủ quản để chỉnh sửa hồ sơ nếu cần!</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Hồ sơ:</label>
                                <select class="form-control" id="trangthai_complete" name="trangthai_complete">
                                    <option value="CD">Chờ duyệt</option>
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giagiaodichdattrenthitruong.xetduyet", "Approve"))
                                    {
                                        <option value="DD">Đã duyệt</option>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.giagiaodichdattrenthitruong.xetduyet", "Public"))
                                    {
                                        <option value="CB">Công bố</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input id="mahs_complete" name="mahs_complete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="GiaGiaoDichDat" asp-action="Delete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý xóa thông tin???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>               
                <div class="modal-body">
                    <label>Hồ sơ số:</label>
                    <label style="color:blue;" id="MoTaDelete"></label>
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function SetDelete(id,mota) {
        document.getElementById("id_delete").value = id;
        document.getElementById("MoTaDelete").innerHTML = mota;
    }

    function SetComplete(mahs) {
        document.getElementById("mahs_complete").value = mahs;
    }
</script>