@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaPhiLePhi>
<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM</p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th style="text-align:center" rowspan='2'>STT</th>
            <td style="text-align:center" rowspan='2'>Đơn vị nhập</td>
            <td style="text-align:center" rowspan='2'>Thời điểm</td>
            <td style="text-align:center" rowspan='2'>Mô tả</td>
            <td style="text-align:center" rowspan='2'>Phan loại</td>
            <th style="text-align:center" rowspan='2'>Tên phí, lệ phí</th>
            <td style="text-align:center" rowspan='2'>Phần trăm</td>
            <th style="text-align:center" colspan='2'>Mức thu</th>
        </tr>
        <tr>
            <th style="text-align:center">Từ</th>
            <th style="text-align:center">Đến</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>

                    <td style="text-align: center">
                        @foreach (var dv in dsdonvi)
                        {
                            @if (dv.MaDv == item.Madv)
                            {
                                <span style="text-align: center">@dv.TenDv</span>
                            }
                        }
                    </td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: center">@item.Mota</td>
                    <td style="text-align: center">@item.Phanloai</td>
                    <td style="text-align: center">@item.Tennhom</td>
                    <td style="text-align: center">@item.Phantram</td>
                    <td style="text-align: center">@item.Mucthutu</td>
                    <td style="text-align: center">@item.Mucthuden</td>

                </tr>
            }
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaLePhi" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>
</div>


