@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv", "PhanQuyen"))
{
    <li class="heading">
        <h3 class="uppercase">@HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv", "CSDL về mức giá HH-DV")</h3>
    </li>

    @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "dinhgia", "PhanQuyen"))
    {
        <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="Giá hàng hóa, dịch vụ do UBND định giá">
            @*<a href="javascript:;">
                < i class="icon-folder"></i>
                <span class="title">
                    @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "dinhgia", "Định giá")
                </span>
                <span class="arrow"></span>
            </a>*@
            <ul class="sub-menu">
                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadatpl", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giadatpl", "Giá đất phân loại")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            //Tài khoản nhập liệu
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadatpl", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaDatPhanLoai" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                //Tài khoản tổng hợp
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaDatPhanLoai" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaDatPhanLoai" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuedatnuoc", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giathuedatnuoc", "Giá thuê đất, nước")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuedatnuoc", "HS_DanhSach"))
                            {

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueDatNuoc" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueDatNuoc" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaThueDatNuoc" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>

                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giarung", "PhanQuyen"))
                {
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true"
                        data-original-title="Giá rừng bao gồm rừng sản xuất, rừng phòng hộ và rừng đặc dụng thuộc sở hữu toàn dân do Nhà nước làm đại diện chủ sở hữu">
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giarung", "Giá rừng")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giarung", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaRungDanhMuc" asp-action="DanhSach">Danh mục loại rừng</a>
                                </li>
                            }

                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giarung", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaRung" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaRung" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaRung" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }

                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giarung", "K_BaoCao"))
                            {
                                <li>
                                    <a asp-controller="GiaRung" asp-action="DanhSachBaoCao">Báo cáo tổng hợp</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuemuanhaxh", "PhanQuyen"))
                {
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true">
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giathuemuanhaxh", "Giá thuê mua nhà xã hội")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuemuanhaxh", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaThueMuaNhaXHDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }

                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuemuanhaxh", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueMuaNhaXH" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueMuaNhaXH" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaThueMuaNhaXH" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuemuanhaxh", "K_BaoCao"))
                            {
                                <li>
                                    <a asp-controller="GiaThueMuaNhaXH" asp-action="DanhSachBaoCao">Báo cáo tổng hợp</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "gianuocsh", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "gianuocsh", "Giá nước sạch sinh hoạt")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "gianuocsh", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaNuocSHDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }

                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "gianuocsh", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaNuocSH" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaNuocSH" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaNuocSH" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "gianuocsh", "K_BaoCao"))
                            {
                                <li>
                                    <a asp-controller="GiaNuocSH" asp-action="DanhSachBaoCao">Báo cáo tổng hợp</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetscong", "PhanQuyen"))
                {
                    <li class="tooltips" data-container="body" data-placement="right" data-html="true"
                        data-original-title="Giá cho thuê tài sản Nhà nước là công trình kết cấu hạ tầng đầu tư từ nguồn ngân sách địa phương">
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giathuetscong", "Giá thuê tài sản công")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetscong", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaThueTSCongDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetscong", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueTSCong" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueTSCong" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaThueTSCong" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetscong", "K_BaoCao"))
                            {
                                <li>
                                    <a asp-controller="GiaThueTSCong" asp-action="DanhSachBaoCao">Báo cáo tổng hợp</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvci", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giaspdvci", "Giá sản phẩm, dịch vụ công ích,... đặt hàng")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvci", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaSPDVCIDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvci", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVCI" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVCI" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaSPDVCI" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadvgddt", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giadvgddt", "Giá dịch vụ đào tạo")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadvgddt", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaDVGDDTDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadvgddt", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaDVGDDT" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaDVGDDT" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaDVGDDT" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadvkcb", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giadvkcb", "Giá dịch vụ khám chữa bệnh")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadvkcb", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaDVKCBDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadvkcb", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaDVKCB" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaDVKCB" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaDVKCB" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "trogiatrocuoc", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "trogiatrocuoc", "Mức trợ giá, trợ cước")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "trogiatrocuoc", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="TroGiaTroCuocDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "trogiatrocuoc", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="TroGiaTroCuoc" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="TroGiaTroCuoc" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="TroGiaTroCuoc" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giahhdvcn", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giahhdvcn", "Giá hàng hóa, dịch vụ khác theo quy định của pháp luật chuyên ngành")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giahhdvcn", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaHHDVCNDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giahhdvcn", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaHHDVCN" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaHHDVCN" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaHHDVCN" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @*Chưa có chức năng này*@
                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadatduan", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giadatduan", "Giá đất cụ thể dự án")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadatduan", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaDatDuAn" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaDatDuAn" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaDatDuAn" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giadatduan", "K_BaoCao"))
                            {
                                <li>
                                    <a asp-controller="GiaDatDuAn" asp-action="DanhSachBaoCao">Báo cáo tổng hợp</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @*Chưa có chức năng này*@
                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "daugiadatts", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "daugiadatts", "Giá đấu giá đất và tài sản gắn liền đất")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "daugiadatts", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="DauGiaDatTS" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="DauGiaDatTS" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="DauGiaDatTS" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetn", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giathuetn", "Giá thuế tài nguyên")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetn", "DM_DanhSach"))
                            {
                                <li>
                                    <a asp-controller="GiaThueTNDanhMuc" asp-action="DanhSach">Danh mục</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetn", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueTN" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueTN" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaThueTN" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuetn", "K_BaoCao"))
                            {
                                <li>
                                    <a asp-controller="GiaThueTN" asp-action="DanhSachBaoCao">Báo cáo tổng hợp</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giacuocvanchuyen", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giacuocvanchuyen", "Giá cước vận chuyển")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giacuocvanchuyen", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaCuocVanChuyen" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaCuocVanChuyen" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaCuocVanChuyen" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvcuthe", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giaspdvcuthe", "Giá sản phẩm, dịch vụ cụ thể")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvcuthe", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVCuThe" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVCuThe" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaSPDVCuThe" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvtoida", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giaspdvtoida", "Giá sản phẩm, dịch vụ tối đa")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvtoida", "HS_DanhSach"))
                            {


                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVToiDa" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVToiDa" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaSPDVToiDa" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvkhunggia", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giaspdvkhunggia", "Khung giá sản phẩm, dịch vụ")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giaspdvkhunggia", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVKhungGia" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }

                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "TongHop"))
                                {
                                    <li>
                                        <a asp-controller="GiaSPDVKhungGia" asp-action="DanhSachXetDuyet">Xét duyệt hồ sơ</a>
                                    </li>
                                }

                                <li>
                                    <a asp-controller="GiaSPDVKhungGia" asp-action="TimKiemHoSo">Tìm kiếm hồ sơ</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @*Chưa có chức năng này*@
                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuenhacongvu", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "giathuenhacongvu", "Giá thuê nhà công vụ")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "giathuenhacongvu", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="GiaThueNhaCongVu" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }

                @*Chưa có chức năng này*@
                @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "bannhataidinhcu", "PhanQuyen"))
                {
                    <li>
                        <a href="javascript:;">
                            @HamDungChung.GetChucNang(HttpContextAccessor.HttpContext.Session, "bannhataidinhcu", "Giá bán nhà tái định cư")
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @if (HamDungChung.ChkPhanQuyen(HttpContextAccessor.HttpContext.Session, "bannhataidinhcu", "HS_DanhSach"))
                            {
                                @if (HamDungChung.ChkChucNangTaiKhoan(HttpContextAccessor.HttpContext.Session, "NhapLieu"))
                                {
                                    <li>
                                        <a asp-controller="BanNhaTaiDinhCu" asp-action="DanhSachHoSo">Thông tin hồ sơ</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
}
