@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaThueDNCt>
<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">TÌM KIẾM HỒ SƠ GIÁ THUÊ MẶT ĐẤT MẶT NƯỚC</p>
<br />
<br />

<table class="table table-striped table-bordered table-hover" id="sample_3">
    <thead>
        <tr style="text-align:center">
            <th width="4%">STT</th>
            <th style="text-align: center">Đơn vị nhập</th>
            <th style="text-align: center">Thời điểm</th>
            <th style="text-align: center">Vị trí</th>
            <th style="text-align: center">Địa giới từ</th>
            <th style="text-align: center">Địa giới đến</th>
            <th style="text-align: center">Diện tích</th>
            <th style="text-align: center">Giá trị</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td tyle="text-align: center">
                        @foreach (var ds in dsdonvi)
                        {
                            @if (item.Madv == ds.MaDv)
                            {
                                @ds.TenDv
                            }
                        }
                    </td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: center">@item.PhanLoaiDatNuoc</td>
                    <td style="text-align: center">@item.Vitri</td>
                    <td style="text-align: center">@item.Diemdau</td>
                    <td style="text-align: center">@item.Diemcuoi</td>
                    <td style="text-align: center">@item.Dientich</td>
                    <td style="text-align: center">@item.Giatri</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="card card-custom">
   
    <div class="card-footer" style="text-align:center">
        <a asp-controller="GiaThueDN" asp-action="Search" class="btn btn-danger">
            <i class="la la-reply"></i>Quay lại
        </a>
    </div>
</div>





