@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaThueMatDatMatNuocCt>

<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>


<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th rowspan="2" width="2%" style="text-align:center">STT</th>
            <th rowspan="2" style="text-align:center">Đơn vị</th>
            <th rowspan="2" style="text-align:center">Số QĐ/Thời điểm</th>
            <th rowspan="2" style="text-align:center">Hồ sơ</th>
            <th rowspan="2" style="text-align:center">Vị trí, địa bàn</th>
            <th colspan="3" width="30%" style="text-align:center">Tỷ lệ (%) </th>
            <th rowspan="2" width="10%" style="text-align:center">Đơn giá</th>
        </tr>
        <tr>
            <th style="text-align:center">Ngành, nghề đặc biệt ưu đãi đầu tư</th>
            <th style="text-align:center">Ngành, nghề ưu đãi đầu tư</th>
            <th style="text-align:center">Ngành, nghề khác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td style="text-align:center">@item.Tendv</td>
                <td style="text-align:center">@item.SoQD <br />@Helpers.ConvertDateToStr(item.ThoiDiem)</td>
                <td style="text-align:center">@item.Tennhom</td>
                <td style="text-align:left;">@item.LoaiDat</td>
                <td style="text-align:center;">@item.TyLe1</td>
                <td style="text-align:center;">@item.TyLe2</td>
                <td style="text-align:center;">@item.TyLe3</td>
                <td style="text-align:center;">@Helpers.ConvertDbToStr(item.Dongia1)</td>                
            </tr>
        }
    </tbody>
</table>






