@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaThueDNCt>
<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th width="4%">STT</th>
            <th style="text-align: center">Đơn vị nhập</th>
            <th style="text-align: center">Phân loại mặt đất mặt nước</th>
            <th style="text-align: center">Thời điểm</th>
            <th style="text-align: center">Vị trí</th>
            <th style="text-align: center">Địa giới từ</th>
            <th style="text-align: center">Địa giới đến</th>
            <th style="text-align: center">Diện tích</th>
            <th style="text-align: center">Giá trị</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    @foreach (var ds in dsdonvi)
                    {
                        @if (item.Madv == ds.MaDv)
                        {

                            <td style="text-align: center">@ds.TenDv</td>
                        }
                    }
                    <td style="text-align: center">@item.PhanLoaiDatNuoc</td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: center">@item.Vitri</td>
                    <td style="text-align: center">@item.Diemdau</td>
                    <td style="text-align: center">@item.Diemcuoi</td>
                    <td style="text-align: center">@item.Dientich</td>
                    <td style="text-align: center">@item.Giatri</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="card card-custom">

    <div class="card-footer" style="text-align:center">
        <a asp-controller="GiaThueDN" asp-action="Search" class="btn btn-danger">
            <i class="la la-reply"></i>Quay lại
        </a>
    </div>
</div>





