@model CSDLGia_ASP.ViewModels.Systems.VMRegisters
@{
    int record_id = 1;
    var dmnganhkd = (IEnumerable<DmNganhKd>)ViewData["DmNganhKd"];
    var dmnghekd = (IEnumerable<DmNgheKd>)ViewData["DmNgheKd"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}

<div class="card card-custom" style="border: 1px solid #60aee4;">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <div class="checkbox-inline">
                <span class="card-label">

                </span>
            </div>
        </div>
        <div class="card-toolbar">
            <button type="button" data-toggle="modal" class="btn btn-primary font-weight-bolder"
                    title="Create" onclick="add_lvkd()">
                <i class="la la-plus"></i>Thêm mới
            </button>
        </div>
    </div>
    <hr />
    <div class="card-body" id="lvkd_data">
        <table class="table table-striped table-bordered table-hover" id="datatable_4">
            <thead>
                <tr style="text-align:center">
                    <th width="2%">#</th>
                    <th>Tên nghề kinh doanh</th>
                    <th>Đơn vị quản lý</th>
                    <th width="15%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @if (Model.VMCompanyLvCc != null)
                    {
                        @foreach (var item in Model.VMCompanyLvCc)
                        {
                            <tr>
                                <td style="text-align:center">@(record_id++)</td>
                                <td style="font-weight:bold">@item.Tennghe</td>
                                <td style="text-align:center"></td>
                                <td>
                                    <button type="button" data-target="#Edit_Lvkd_Modal" data-toggle="modal"
                                onclick="SetEditLvkd('@item.Id')"
                                class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </button>
                                    <button type="button" data-target="#Delete_Lvkd_Modal" data-toggle="modal"
                                onclick="GetDeleteLvkd('@item.Id', '@item.Tennghe')"
                                class="btn btn-sm btn-clean btn-icon" title="Xóa">
                                        <i class="icon-lg la la-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<div class="modal fade" id="Create_Lvkd_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin lĩnh vực kinh doanh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Ngành - Nghề</label>
                            <select class="form-control" id="manghe_create" name="manghe_create">
                                @foreach (var nganh in dmnganhkd)
                                {
                                    <optgroup label="@nganh.Tennganh">
                                        @{
                                            var dmnganhnghekd = dmnghekd.Where(t => t.Manganh == nganh.Manganh && t.Theodoi == "TD").ToList();
                                        }
                                        @foreach (var nghe in dmnganhnghekd)
                                        {
                                            <!option value="@nghe.Manghe" @((string)ViewData["Manghe"] == nghe.Manghe ? "selected" : "")>@nghe.Tennghe</!option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Địa bàn kinh doanh</label>
                            <select class="form-control" id="madiaban_create" name="madiaban_create">
                                <option value="">--Chọn địa bàn kinh doanh--</option>
                                @foreach (var item in dsdiaban)
                                {
                                    <option value="@item.MaDiaBan">@item.TenDiaBan</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đơn vị nhận hồ sơ</label>
                            <select class="form-control" id="madvhs_create" name="madvhs_create">
                                <option value="">--Chọn đơn vị nhận hồ sơ--</option>
                                @foreach (var db in dsdiaban)
                                {
                                    @foreach (var item in dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan && t.ChucNang == "NHAPLIEU").ToList())
                                    {
                                        <option value="@item.MaDv">@item.TenDv</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetStoreLvkd()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Lvkd_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin lĩnh vực kinh doanh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left" id="edit_thongtin">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdateLvkd()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Lvkd_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thông tin lĩnh vực kinh doanh
                    <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa thông tin lĩnh vực kinh doanh???</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Tên nghề: </label>
                            <span id="tennghe_delete" style="color:blue; font-weight:bold"></span>
                        </div>
                    </div>
                    <input hidden id="id_delete" name="id_delete" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetDeleteLvkd()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    function add_lvkd() {
        if ($('#Madv').val() == '' || $('#Madv').val() == null) {
            toastr.error('Mã số thuế không được bỏ trống.', 'Lỗi mã số thuế');
            $('#Madv').focus();
        } else {
            $('#Create_Lvkd_Modal').modal("show");
        }
    }

    function SetStoreLvkd() {
        $.ajax({
            url: '/DoanhNghiep/DangKy/Lvkd/Store',
            type: 'POST',
            data: {
                Manghe: $('#manghe_create').val(),
                Madiaban: $('#madiaban_create').val(),
                //Macqcq: $('#madvhs_create').val(),
                Madv: $('#Madv').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    //toastr.success(data.message);
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#lvkd_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Create_Lvkd_Modal').modal("hide");
                    //location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function SetEditLvkd(id_edit) {
        $.ajax({
            url: '/DoanhNghiep/DangKy/Lvkd/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Success!");
                    $('#edit_thongtin').replaceWith(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function SetUpdateLvkd() {
        $.ajax({
            url: '/DoanhNghiep/DangKy/Lvkd/Update',
            type: 'POST',
            data: {
                Manghe: $('#manghe_edit').val(),
                Madiaban: $('#madiaban_edit').val(),
                //Macqcq: $('#madvhs_edit').val(),
                Madv: $('#Madv').val(),
                Id: $('#id_edit').val()
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công");
                    $('#lvkd_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Edit_Lvkd_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function GetDeleteLvkd(id, tennghe) {
        document.getElementById("id_delete").value = id;
        document.getElementById("tennghe_delete").innerHTML = tennghe;
    }

    function SetDeleteLvkd() {
        $.ajax({
            url: '/DoanhNghiep/DangKy/Lvkd/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#lvkd_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    toastr.success("Cập nhật thành công!!!", "Thành công!");
                    $('#Delete_Lvkd_Modal').modal("hide");
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
</script>