@{
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDatCuTheVlDmPPDGDat>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Quản lý Danh mục phương pháp định giá đất cụ thể
                </span>
            </h3>
        </div>
        <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.datcuthevinhlong.danhmuc", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }

        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">#</th>
                    <th width="10%">Mã phương pháp</th>
                    <th>Tên phương pháp</th>
                    <th width="15%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td class="active">@item.Mapp</td>
                        <td class="active">@item.Tenpp</td>
                        <td>

                            <a class="btn btn-sm btn-clean btn-icon" asp-controller="GiaDatCuTheVlDmPPDGDatCt" asp-action="Index" asp-route-Mapp="@item.Mapp" title="Xem chi tiết">
                                <i class="icon-lg la la-eye text-success"></i>
                            </a>

                            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.datcuthevinhlong.danhmuc", "Edit"))
                            {
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa" data-toggle="modal"
                                        data-target="#Edit_Modal" onclick="editId('@item.Id')">
                                    <i class="icon-lg la la-edit text-primary"></i>
                                </button>
                            }

                            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.giadat.datcuthevinhlong.danhmuc", "Delete"))
                            {
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal"
                                        data-target="#Delete_Modal" onclick="getId('@item.Id', '@item.Tenpp')">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>
                            }


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaDatCuTheVl/DanhMuc/PhuongPhap/Modal.cshtml")
