@{
    int record_id = 1;
    var Company = ViewData["Company"] as IEnumerable<CSDLGia_ASP.Models.Systems.Company> ?? Enumerable.Empty<CSDLGia_ASP.Models.Systems.Company>();
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.KeKhaiDangKyGia.KeKhaiDangKyGiaCSKD>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
    </script>
}


<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Danh sách thông tin cơ sở kinh doanh @ViewData["HoSo"]
                </span>
            </h3>
        </div>
        <div>
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.thongtin", "Create"))
            {

                <button class="btn btn-primary font-weight-bolder" data-toggle="modal" data-target="#Create_Modal">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }

        </div>
    </div>
</div>
<hr />
<div class="card-body">
    <table class="table table-striped table-bordered table-hover" id="sample_3">
        <thead>
            <tr style="text-align:center">
                <th width="2%">#</th>
                <th width="20%">Doanh nghiệp</th>
                <th width="20%">Cơ sở kinh doanh</th>
                <th width="10%">Số điện thoại</th>
                <th>Địa chỉ</th>
                <th width="10%">Trạng thái</th>
                <th width="10%">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td style="text-align: center">@item.TenDv </td>
                        <td style="text-align: center">@item.TenCsKd</td>
                        <td style="text-align: center">@item.SoDt</td>
                        <td style="text-align: left">@item.DiaChi</td>
                        <td style="text-align: center">
                            <span style="width: 112px;">
                                <span class="label font-weight-bold label-lg label-inline label-light-success">Đang hoạt động</span>
                            </span>
                        </td>
                        <td>
                            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.thongtin", "Index"))
                            {
                                <a asp-controller="KeKhaiDangKyGia" asp-action="Index" asp-route-MaCsKd="@item.MaCsKd" asp-route-MaNghe="@ViewData["MaNghe"]" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                            }
                            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.kekhaidangkygia.thongtin", "Edit"))
                            {
                                <button class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa" onclick="Edit('@item.Id')">
                                    <i class="icon-lg la la-edit text-primary"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thêm mới thông tin cơ sở kinh doanh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input hidden id="manghe_create" name="manghe_create" value="@ViewData["MaNghe"]" />
                        <div class="form-group">
                            <label class="control-label">Doanh nghiệp</label>
                            <select id="Madv_create" name="Madv_create" class="form-control">
                                @foreach (var item in Company)
                                {
                                    <option value="@item.Madv">@item.Tendn</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tên cơ sở kinh doanh</label>
                            <input id="tencskd_create" name="tencskd_create" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Số điện thoại</label>
                            <input id="sodt_create" name="sodt_create" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Địa chỉ</label>
                            <input id="diachi_create" name="diachi_create" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Store()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Chỉnh sửa thông tin cơ sở kinh doanh
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="frm_edit">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Update()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Store() {
        if ($('#Madv_create').val() != "" && $('#tencskd_create').val() != "") {
            $.ajax({
                url: '/KeKhaiDangKyGia/CoSoKinhDoanh/Store',
                type: 'POST',
                data: {
                    MaNghe: $('#manghe_create').val(),
                    MaDv: $('#Madv_create').val(),
                    TenCsKd: $('#tencskd_create').val(),
                    DiaChi: $('#diachi_create').val(),
                    SoDt: $('#sodt_create').val(),
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success("Thêm mới thành công!", "Thành công");
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        } else {
            toastr.error("Thông tin không được bỏ trống", "Lỗi!");
        }
    }
    function Edit(id) {
        $.ajax({
            url: '/KeKhaiDangKyGia/CoSoKinhDoanh/Edit',
            type: 'POST',
            data: {
                Id: id
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_edit').replaceWith(data.message);
                    $('#Edit_Modal').modal("show");                    
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function Update() {
        if ($('#tencskd_edit').val() != "") {
            $.ajax({
                url: '/KeKhaiDangKyGia/CoSoKinhDoanh/Update',
                type: 'POST',
                data: {
                    TenCsKd: $('#tencskd_edit').val(),
                    DiaChi: $('#diachi_edit').val(),
                    SoDt: $('#sodt_edit').val(),
                    Id: $('#id_edit').val(),
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success("Thêm mới thành công!", "Thành công");
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        } else {
            toastr.error("Thông tin không được bỏ trống", "Lỗi!");
        }
    }
</script>