@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["Cqcq"];
    var maloaidat = (IEnumerable<GiaDatPhanLoaiDm>)ViewData["Maloaidat"];
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaDatCt>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#Nam, #Mota').change(function () {
                var current_path_url = '/DinhGiaDatCuThe/Search?';
                var nam = '&Nam=' + $('#Nam').val();
                var mota = '&Mota=' + $('#Mota').val();
                var url = current_path_url + nam + mota;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Tìm kiếm thông tin giá<small>&nbsp;đất cụ thể</small>
            </h3>
        </div>
    </div>
</div>
<hr />
<form asp-controller="GiaDatPl" asp-action="Result" method="post" enctype="multipart/form-data" id="frm_dct_result">
    <div class="card-body">
        <div class="mb-3 font-weight-bold font-size-lg">
            <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control" id="dv" name="dv">
                        <option value="">--Tất cả các đơn vị--</option>
                        @foreach (var db in dsdiaban)
                        {
                            <optgroup label="@db.TenDiaBan">
                                @{
                                    //var company = dsdonvi.Where(t => t.Madiaban == db.MaDiaBan);
                                    var company = dscqcq.Where(t => t.MaDiaBan == db.MaDiaBan);
                                }

                                @foreach (var item in company)
                                {

                                    <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>@item.TenDv</!option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label><b>Loại đất</b></label>
                    <select class="form-control" id="mld" name="mld">
                        <option value="">--Tất cả các loại đất--</option>
                        @foreach (var item in maloaidat)
                        {
                            <option value="@item.Maloaidat">@item.Loaidat</option>
                        }
                    </select>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Thời gian từ</label>
                    <input type="date" class="form-control" name="beginTime" id="beginTime" />
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Thời gian đến</label>
                    <input type="date" class="form-control" name="endTime" id="endTime" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Giá trị từ</label>
                    <input type="text" class="form-control" name="beginPrice" id="beginPrice" />
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Giá trị đến</label>
                    <input type="text" class="form-control" name="endPrice" id="endPrice" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer" style="text-align:center">
        <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
        <button type="button" class="btn btn-primary mr-2" onclick="ValidateDct()"><i class="la la-check"></i>Tìm</button>
    </div>
</form>
<script>
    function ValidateDct() {
        if ($('#beginTime').val().trim() == '') {
            toastr.error("Thời gian bắt đầu không được để trống!", "Lỗi!!!")
        } else {
            if ($('#endTime').val().trim() == '') {
                toastr.error("Thời gian kết thúc không được để trống!", "Lỗi!!!")
            } else {
                if ($('#beginPrice').val().trim() == '') {
                    toastr.error("Gía bắt đầu không được để trống!", "Lỗi!!!")
                } else {
                    if ($('#endPrice').val().trim() == '') {
                        toastr.error("Gía kết thúc không được để trống!", "Lỗi!!!")
                    } else {
                        if ($('#mld').val().trim() == '') {
                            toastr.error("Mã loại đất không được để trống!", "Lỗi!!!")
                        } else {
                            document.getElementById("frm_dct_result").submit();
                        }
                    }
                }
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}