@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var DsDiaBanHuyen = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanHuyen"];
    var DsDiaBanXa = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanXa"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDatPhanLoaiCt>

<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr style="text-align:center">
            <th style="text-align: center">STT</th>
            <th style="text-align: center">Đơn vị</th>
            <th style="text-align: center">Địa bàn</th>
            <th style="text-align: center">Số quyết định</th>            
            <th style="text-align: center">Thời điểm</th>
            <th style="text-align: center">Phân loại hồ sơ</th>
            <th style="text-align: center">Giá trị</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td style="text-align: left">@item.Tendv</td>
                <td style="text-align: left">@item.TenDiaBan</td>
                <td style="text-align: left">@item.Soqd</td>
                <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                <td style="text-align: left">@item.PhanLoai</td>
                <td style="text-align: right">@Helpers.ConvertDbToStr(item.Giacuthe)</td>
            </tr>
        }




       @*  <tr>
            <td colspan="12" style="font-weight:bold;text-align:left">@ViewData["TenTinh"]</td>
        </tr>
        @foreach (var huyen in DsDiaBanHuyen)
        {
            var dataHuyen = Model.Where(x => x.MaDiaBanCapHuyen == huyen.MaDiaBan);
            if (dataHuyen.Any())
            {
                <tr>
                    <td colspan="12" style="font-weight:bold;text-align:left">&emsp;&emsp; @huyen.TenDiaBan</td>
                </tr>
            }
            foreach (var xa in DsDiaBanXa.Where(x => x.MaDiaBanCq == huyen.MaDiaBan))
            {
                var dataXa = dataHuyen.Where(x => x.MaXaPhuong == xa.MaDiaBan);
                if (dataXa.Any())
                {
                    <tr>
                        <td colspan="12" style="font-weight:bold;text-align:left">&emsp;&emsp;&emsp; @xa.TenDiaBan</td>
                    </tr>
                    @foreach (var item in dataXa)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="text-align: left">@item.Tendv</td>                            
                            <td style="text-align: left">@item.Soqd</td>                            
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                            <td style="text-align: left">@item.PhanLoai</td>
                            <td style="text-align: right">@Helpers.ConvertDbToStr(item.Giacuthe)</td>
                        </tr>
                    }
                }
            }
        } *@
    </tbody>
</table>