@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaDatPhanLoaiCt>
<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM</p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th style="text-align: center">STT</th>
            <th style="text-align: center">Đơn vị nhập</th>
            <th style="text-align: center">Thời điểm</th>
            <th style="text-align: center">Phân loại dất</th>
            <th style="text-align: center">Vị trí</th>
            <th style="text-align: center">Diện tích</th>
            <th style="text-align: center">Giá trị</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center">@(record_id++)</td>
                    <td style="text-align: center">@item.Tendv</td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td style="text-align: center">@item.Loaidat</td>
                    <td style="text-align: center">@item.Vitri</td>
                    <td style="text-align: center">@item.Dientich</td>
                    <td style="text-align: center">@item.Giacuthe</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">Không có kết quả tìm kiếm!!!</td>
            </tr>
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaDatPl" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>
</div>



