@model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCuThe

@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];

}

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}


<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                GIÁ SẢN PHẨM DỊCH VỤ CỤ THỂ
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    @*sau khi thêm load lại chỗ này*@
    <form asp-controller="GiaSpDvCuThe" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_spdvcuthe_store">
        <div class="card-body">
            <input hidden asp-for="Madv" value="@ViewData["Madv"]">
            <input hidden asp-for="Manhom" value="@ViewData["Manhom"]">
            <input hidden asp-for="Mahs" value="@ViewData["Mahs"]">
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa bàn áp dụng</label>
                        <select class="form-control" id="MaDiaBan" name="MaDiaBan">
                            @foreach (var item in dsdiaban)
                            {
                                <option value="@item.MaDiaBan">@item.TenDiaBan</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định</label>
                        <input type="text" class="form-control" asp-for="Soqd" id="Soqd" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Thời điểm*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" rows="2" cols="50" asp-for="GhiChu"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>File đính kèm</label>
                        <input type="file" asp-for="Ipf1" accept=".jpg,.docx,.doc, .pdf, .xlsx, .xls" class="form-control" />
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDvCuThe/Excels/Detail.cshtml")
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaSpDvCuThe" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValidateGiaSpDvCuThe()"><i class="la la-check"></i>Thêm mới</button>
        </div>
    </form>
    <!--end::Form-->
</div>



<script>
    function ValidateGiaSpDvCuThe() {
        if ($('#Soqd').val().trim() == '') {
            toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm mức giá không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("frm_spdvcuthe_store").submit();
            }
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}