@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaVatLieuXayDung

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">Mô tả: 01</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p><br />
<p style="text-decoration-line: underline; font-weight: bold">@Model.Cqbh</p>
<p style="text-decoration-line: underline; font-weight: bold">(Số QĐ: @Model.Soqd - @Helpers.ConvertDateToText(Model.Thoidiem) </p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr>            
            <th style="text-align: center; font-weight: bold" width="2%">STT</th>
            <th style="text-align: center; font-weight: bold">Danh mục vật liệu</th>
            <th style="text-align: center; font-weight: bold" width="5%">Đơn vị tính</th>
            <th style="text-align: center; font-weight: bold" width="20%">Tiêu chuẩn kỹ thuật</th>
            <th style="text-align: center; font-weight: bold" width="10%">Đơn giá</th>
            <th style="text-align: center; font-weight: bold" width="20%">Ghi chú</th>            
        </tr>
    </thead>
    <tbody>
        @if (Model.GiaVatLieuXayDungCt.Count() > 0)
        {
            @foreach (var item in Model.GiaVatLieuXayDungCt.OrderBy(t=>t.STTSapXep))
            {
                string HtmlStyle = Helpers.ConvertStrToStyle(item.Style);
                <tr>
                    <td class="text-center; @HtmlStyle">@item.STTHienThi</td>
                    <td class="text-left; @HtmlStyle">@item.Tenvlxd</td>
                    <td class="text-center; @HtmlStyle">@item.Dvt</td>
                    <td class="text-left; @HtmlStyle">@item.Tieuchuan</td>
                    <td style="text-align: right; @HtmlStyle">@Helpers.ConvertDbToStr(item.Gia)</td>
                    <td style="text-align: left; @HtmlStyle">@item.GhiChu</td>
                </tr>
            }
        }
    </tbody>
</table>
