@{
    var record_id = 1;
    var tdgdv = (IEnumerable<ThamDinhGiaDv>)ViewData["TdgDonvi"];
    var tdgdm = (IEnumerable<ThamDinhGiaDmHh>)ViewData["TdgDmHh"];
    var dmnhomhh = (IEnumerable<DmNhomHh>)ViewData["DmNhomHh"];
}
@model CSDLGia_ASP.Models.Manages.ThamDinhGia.ThamDinhGia
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
            TableManaged2.init();
            TableManaged4.init();
            MoneyDecimalMask();
            // $('#Songaykq').change(function () {
            //     addngay();
            // });
            // $('#Thoidiem').change(function () {
            //     addngay();
            // });
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Hồ sơ thẩm định giá
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="ThamDinhGia" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_tdg_update">
        <div class="card-body">
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <input hidden asp-for="Madiaban" />
            <input hidden asp-for="Phanloai" />
            <input hidden asp-for="Tttstd" />
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin @Model.Phanloai</label>
            </div>
            <div class="row">
                <div class="col-xl-5">
                    <div class="form-group">
                        <label>Đơn vị thẩm định</label>
                        <input type="text" class="form-control" asp-for="Dvthamdinh" />
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="form-group">
                        <label>&nbsp;&nbsp;&nbsp;</label><br />
                        <button type="button" class="btn btn-default" data-target="#Dvyc_Modal" data-toggle="modal">
                            <i class="la la-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Đơn vị yêu cầu</label>
                        <input type="text" class="form-control" asp-for="Dvyeucau" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thông tin hồ sơ*</label>
                        <input type="text" class="form-control" asp-for="Hosotdgia" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Tên nhóm hàng hóa yêu cầu thẩm định*</label>
                        <select class="form-control" asp-for="Tttstd" disabled>
                            @foreach (var item in dmnhomhh)
                            {
                                <!option value="@item.Manhom" @(Model.Tttstd == item.Manhom ? "selected" : "")>&emsp;@item.Tennhom</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Thời điểm thẩm định*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Địa điểm thẩm định</label>
                        <input type="text" class="form-control" asp-for="Diadiem" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Số chứng thư thẩm định*</label>
                        <input type="text" class="form-control" asp-for="Sotbkl" />
                    </div>
                </div>
                @* <div class="col-xl-6">
                    <div class="form-group">
                        <label>Số ngày sử dụng kết quả thẩm định</label>
                        <input type="number" class="form-control" asp-for="Songaykq" />
                    </div>
                </div> *@
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày quyết định chứng thư thẩm định</label>
                        <input type="date" class="form-control" asp-for="Thoihan" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Số quyết định phê duyệt</label>
                        <input type="text" class="form-control" asp-for="Soqdpheduyet" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày quyết định phê duyệt</label>
                        <input type="date" class="form-control" asp-for="Ngayqdpheduyet" />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea class="form-control" asp-for="Ghichu" cols="12" rows="5"></textarea>
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("~/Views/Admin/Manages/ThamDinhGia/DanhSach/Detail.cshtml")

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="ThamDinhGia" asp-action="Index" asp-route-Nam="@Model.Thoidiem.Year" asp-route-Madv="@Model.Madv" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValTdg()"><i class="la la-check"></i>Cập nhật</button>
        </div>
    </form>
    <!--end::Form-->
</div>

<!--Tdgdv Modal-->
<div class="modal fade" id="Dvyc_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin đơn vị thẩm định giá
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <hr />
            <div class="modal-body">
                <table class="table table-striped table-bordered table-hover" id="sample_4">
                    <thead>
                        <tr style="text-align:center">
                            <th width="4%">#</th>
                            <th>Tên đơn vị</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (tdgdv != null)
                        {
                            @foreach (var item in tdgdv)
                            {
                                <tr>
                                    <td style="text-align: center">@(record_id++)</td>
                                    <td class="active">@item.Tendv</td>
                                    <td style="text-align: center">
                                        @if (item.Theodoi == "TD")
                                        {
                                            <span class="label font-weight-bold label-lg  label-outline-warning label-inline">Theo dõi</span>
                                        }
                                        @if (item.Theodoi == "KTD")
                                        {
                                            <span class="label font-weight-bold label-lg  label-outline-danger label-inline">Ngưng theo dõi</span>
                                        }
                                    </td>
                                    <td style="text-align: center">
                                        <button class="btn btn-sm btn-clean btn-icon" title="Chọn" onclick="adddonvi('@item.Tendv')">
                                            <i class="icon-lg la la-check text-primary"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    function add_date(thoidiem, songay) {
        if (thoidiem == '') {
            return null;
        }
        if (songay == '' || songay == 0) {
            return thoidiem;
        }

        var date = new Date(thoidiem);
        date.setDate(date.getDate() + parseInt(songay));

        var dd = date.getDate();
        var mm = date.getMonth() + 1;
        var y = date.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        return (y + '-' + mm + '-' + dd);
    }

    function adddonvi(tendv) {
        $('#Dvyc_Modal').modal('hide');
        $('#Dvyeucau').val(tendv);
    }

    function addngay() {
        var thoidiem = $('#Thoidiem').val();
        var songay = $('#Songaykq').val();
        $('#Thoihan').val(add_date(thoidiem, songay));
    }

    function ValTdg() {
        if ($('#Dvyeucau').val().trim() == '') {
            toastr.error("Đơn vị yêu cầu thẩm định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Hosotdgia').val().trim() == '') {
                toastr.error("Thông tin tờ trình không được để trống!", "Lỗi!!!")
            } else {
                @* if ($('#Tttstd').val().trim() == '') {
                    toastr.error("Tên nhóm hàng hóa yêu cầu thẩm định không được để trống!", "Lỗi!!!")
                } else { *@
                    if ($('#Thoidiem').val().trim() == '') {
                        toastr.error("Thời điểm thẩm định không được để trống!", "Lỗi!!!")
                    } else {
                        if ($('#Sotbkl').val().trim() == '') {
                            toastr.error("Số thông báo kết luận không được để trống!", "Lỗi!!!")
                        } else {
                            if ($('#Songaykq').val() < 1) {
                                toastr.error("Số ngày sử dụng kết quả thẩm định phải lớn hơn 0!", "Lỗi!!!")
                            } else {
                                document.getElementById("frm_tdg_update").submit();
                            }
                        }
                    }
                @* } *@
            }
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}