@{
    Layout = "_LayoutReports";
    int record_hh_id = 1;
    var tdgdv = (IEnumerable<ThamDinhGiaDv>)ViewData["TdgDonvi"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
}
@model CSDLGia_ASP.Models.Manages.ThamDinhGia.ThamDinhGia
<br />
<br />


<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqdpheduyet</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">Mô tả: @Model.Hosotdgia</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr>
            <th style="text-align:center" width="2%">#</th>
            <th style="text-align:center">Mã hàng hóa</th>
            <th style="text-align:center">Tên hàng hóa-Quy cách</th>
            <th style="text-align:center">Thông số kỹ thuật</th>
            <th style="text-align:center">Xuất xứ</th>
            <th style="text-align:center">Đơn vị tính</th>
            <th style="text-align:center">Số lượng</th>
            <th style="text-align:center">Đơn giá thẩm định</th>
            <th style="text-align:center">Giá trị thẩm định</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.ThamDinhGiaCt != null)
            {
                @foreach (var item in Model.ThamDinhGiaCt)
                {
                    <tr>
                        <td style="text-align:center">@(record_hh_id++)</td>
                        <td style="text-align:center">@item.Mats</td>
                        <td style="text-align:center" class="active">@item.Tents</td>
                        <td style="text-align:center">@item.Thongsokt</td>
                        <td style="text-align:center">@item.Nguongoc</td>
                        <td style="text-align:center">@item.Dvt</td>
                        <td style="text-align:center">@item.Sl</td>
                        <td style="text-align:center; font-weight: bold">@Helpers.ConvertDbToStr(item.Nguyengiathamdinh)</td>
                        <td style="text-align:center; font-weight: bold">@Helpers.ConvertDbToStr(item.Giatritstd)</td>
                    </tr>
                }
            }
        }
    </tbody>

</table>
