@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var list = (IEnumerable<GiaTaiSanTthsCt>)ViewData["list"];
    var ttrang = Helpers.TinhtrangTs();
    var dtinh = (from t in list group t by t.Dactinh into grp select new { dt = grp.Key });
}

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
        $(function () {
            $('#Nam, #Mota').change(function () {
                var current_path_url = '/GiaTaiSanTths/Search?';
                var nam = '&Nam=' + $('#Nam').val();
                var mota = '&Mota=' + $('#Mota').val();
                var url = current_path_url + nam + mota;
                window.location.href = url;
            })
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Tìm kiếm thông tin giá<small>&nbsp; Tài sản công</small>
            </h3>
        </div>
    </div>
</div>
<hr />
<form asp-controller="GiaTaiSanTths" asp-action="Result" method="post" enctype="multipart/form-data" id="frm_search">
    <div class="card-body">
        <div class="mb-3 font-weight-bold font-size-lg">
            <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị</label>
                    <select class="form-control select2basic" id="madv" name="madv">
                        <option value="All">--Tất cả các đơn vị--</option>
                        @foreach (var db in dsdiaban)
                        {
                            <optgroup label="@db.TenDiaBan">
                                @{
                                    var company = dscqcq.Where(t => t.MaDiaBan == db.MaDiaBan);
                                }

                                @foreach (var item in company)
                                {

                                    <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label><b>Tên tài sản </b></label>
                    <input type="text" class="form-control" name="Ten" id="Ten" />
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Tình trạng</label>
                    <select class="form-control" id="Tinhtrang" name="Tinhtrang">
                        <option value="All">--Chọn tình trạng--</option>
                        @foreach (var tt in ttrang)
                        {
                            <option value="@tt">@tt</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-6">
                    <div class="form-group">
                        <label>Đặc tính</label>
                        <select class="form-control" id="Dactinh" name="Dactinh">
                            <option value="All">--Chọn đặc tính--</option>
                            @foreach (var dt in dtinh)
                            {
                                <option value="@dt.dt">@dt.dt</option>
                            }
                        </select>
                    </div>
                </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Thời gian nhập từ</label>
                    <input type="date" class="form-control" name="beginTime" id="beginTime" />
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Thời gian nhập đến</label>
                    <input type="date" class="form-control" name="endTime" id="endTime" />
                </div>
            </div>


            <div class="col-xl-4">
                <div class="form-group">
                    <label>Loại giá</label>
                    <select class="form-control" id="loaigia" name="loaigia" required="required">
                        <option value="">--Chọn loại giá--</option>
                        <option value="banbuon">Giá bán buôn</option>
                        <option value="banle">Giá bán lẻ</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label>Giá từ</label>
                    <input class="form-control" id="beginPrice" name="beginPrice" />
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group">
                    <label>Giá đến</label>
                    <input class="form-control" id="endPrice" name="endPrice" />
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer" style="text-align:center">
        <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
        <button type="button" onclick="validate()" class="btn btn-primary mr-2"><i class="la la-check"></i>Tìm</button>
    </div>
</form>

<script>
    function validate() {
        if ($('#loaigia').val() == '') {
            toastr.error("Loại giá không được để trống!!!", "Lỗi!");
        } else {
            if ($('#endPrice').val() != "" || $('#endPrice').val() != 0) {
                if ($('#beginPrice').val() > $('#endPrice').val()) {
                    toastr.error("Đơn giá nhập từ không được nhỏ hơn đơn giá nhập đến!", "Lỗi!!!")
                }
                else {
                    console.log($('#loaigia').val());
                    document.getElementById("frm_search").submit();
                }
            }
            else {
                document.getElementById("frm_search").submit();
            }
        }
    }

</script>