@{
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvKhungGiaNhom>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });
    </script>
}

    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Danh mục nhóm sản phẩm dịch vụ  khung giá
                </h3>
            </div>
            <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.spdvcuthe.danhmuc", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }

        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="4%">#</th>
                    <th>Nhóm tài nguyên</th>
                    <th width="20%">Theo dõi</th>
                    <th width="15%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td class="active">@item.Tennhom</td>
                        <td style="text-align: center">
                            @if (item.Theodoi == "TD")
                            {
                                <span class="label font-weight-bold label-lg  label-primary label-inline">Theo dõi</span>
                            }
                            else
                            {
                                <span class="label font-weight-bold label-lg label-danger label-inline">Không theo dõi</span>
                            }
                        </td>
                        <td>
                            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.spdvcuthe.danhmuc", "Edit"))
                            {
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa" data-toggle="modal"
                                data-target="#Edit_Modal" onclick="editId('@item.Id')">
                                    <i class="icon-lg la la-edit text-primary"></i>
                                </button>
                            }

                            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.spdvcuthe.danhmuc", "Delete"))
                            {
                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal"
                                data-target="#Delete_Modal" onclick="getId('@item.Id', '@item.Tennhom')">
                                    <i class="icon-lg la la-trash text-danger"></i>
                                </button>
                            }

                            @if (item.Theodoi == "TD")
                            {
                                <a class="btn btn-sm btn-clean btn-icon" asp-controller="GiaSpDvKhungGiaDm" asp-action="Index" asp-route-Manhom="@item.Manhom" title="Xem chi tiết">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaSpDvKhungGia/DanhMuc/Nhom/Modal.cshtml")
