@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDatDiaBan
@{
    var DsDiaBanHuyen = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanHuyen"];
    var DsDiaBanXa = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanXa"];
    var soqd = (IEnumerable<GiaDatDiaBanTt>)ViewData["Soqd"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        function GetXaPhuong() {            
            $.ajax({
                url: '/Ajax/GetXaPhuong',
                type: 'POST',
                data: {
                    MaDiaBanHuyen: $('#MaDiaBanHuyen').val(),
                    KeySelect: 'Madiaban'
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success('Success');
                        $('#Madiaban').html(data.message);
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    </script>
}

<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Quản lý nhận dữ liệu
                </span>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaDatDiaBanExcel" asp-action="Import" method="post" enctype="multipart/form-data" id="frm_spdvkhunggia_store">
        <input hidden asp-for="Madv">
        <input hidden asp-for="Mahs">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file excel dữ liệu mẫu:</label>
                <a href="~/UpLoad/File/DinhGia/Excel/FileExcelMauGiaDatDiaBan.xlsx" target="_blank" class="btn btn-link"
                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                    <span style="font-weight:bold;">Link tải file mẫu FileExcelMauGiaDatDiaBan.xlsm</span>
                </a>
            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group fv-plugins-icon-container">
                        <label>Số quyết định</label>
                        <select asp-for="SoQDTT" class="form-control">
                                    @foreach (var qd in soqd)
                                    {
                                <!option value="@qd.Soqd">@qd.Mota</!option>
                                    }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Địa bàn</label>
                        <select class="form-control select2basic" id="MaDiaBanHuyen" name="MaDiaBanHuyen" onchange="GetXaPhuong()">
                            @foreach (var item in DsDiaBanHuyen)
                            {
                            <option value="@item.MaDiaBan">&emsp;@item.TenDiaBan</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Xã phường</label><br />
                        <select class="form-control select2basic" id="Madiaban" name="Madiaban">
                            <option value="all">--Chọn xã/phường--</option>
                                            @foreach (var item in DsDiaBanXa)
                                            {
                                <option value="@item.MaDiaBan">@item.TenDiaBan</option>
                                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Ngày áp dụng</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Nội dung chi tiết</label>
                        <textarea type="text" class="form-control" asp-for="Noidung" rows="3"></textarea>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea type="text" class="form-control" asp-for="GhiChu" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="text-decoration-line: underline; font-weight: bold">Thông tin file dữ liệu:</label>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Sheet*</label>
                        <input type="number" class="form-control" asp-for="Sheet" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhận từ dòng*</label>
                        <input type="number" class="form-control" asp-for="LineStart" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>Nhận đến dòng*</label>
                        <input type="number" class="form-control" asp-for="LineStop" />
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="form-group">
                        <label>File dữ liệu</label> <br />
                        <input class="form-group" type="file" accept=".xlsm" asp-for="FormFile" />
                        <span asp-validation-for="FormFile" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align:center">
                <a asp-controller="GiaDatDiaBan" asp-action="Index" asp-route-Madv="@Model.Madv" class="btn btn-danger">
                    <i class="la la-reply"></i>Quay lại
                </a>&ensp;
                <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
                <button type="submit" class="btn btn-primary mr-2"><i class="la la-check"></i>Nhận dữ liệu</button>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}