@{
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<VMDsDonVi>)ViewData["DsDonVi"];
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["Cqcq"];
    var nhomtn = (IEnumerable<GiaHhDvCnDm>)ViewData["NhomTn"];
}

@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaHhDvCn>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#Madv, #Nam').change(function () {
                var current_path_url = '/GiaHhDvCn?';
                var madv = '&Madv=' + $('#Madv').val();
                var nam = '&Nam=' + $('#Nam').val();
                var url = current_path_url + madv + nam;
                window.location.href = url;
            })
        });

    </script>
}
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                GIÁ HÀNG HÓA, DỊCH VỤ KHÁC THEO QUY ĐỊNH CỦA PHÁP LUẬT CHUYÊN NGÀNH
            </h3>
        </div>
        <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.hhdvcn.thongtin", "Create"))
            {
                <a class="btn btn-primary font-weight-bolder" asp-controller="GiaHhDvCn" asp-action="Create"
               asp-route-MadvBc="@ViewData["Madv"]">
                    <i class="la la-plus"></i>Thêm mới
                </a>
            }

        </div>
    </div>

</div>

<hr />

<div class="card-body">
    <div class="row">
        <div class="col-xl-3">
            <div class="form-group fv-plugins-icon-container">
                <label style="font-weight:bold; color:blue">Năm</label>
                <select class="form-control" id="Nam" name="Nam">
                    <option value="all">--Tất cả--</option>
                    @{
                        var nam_start = DateTime.Now.Year - 5;
                        var nam_stop = DateTime.Now.Year + 1;
                        for (var i = nam_start; i <= nam_stop; i++)
                        {
                            <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>@i</!option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group fv-plugins-icon-container">
                <label style="font-weight:bold; color:blue">Đơn vị</label>
                <select class="form-control" id="Madv" name="Madv">
                    @foreach (var db in dsdiaban)
                    {
                        <optgroup label="@db.TenDiaBan">
                            @{
                                var donvi = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan);
                            }
                            @foreach (var item in donvi)
                            {
                                <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>@item.TenDv</!option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover" id="sample_3">
        <thead>
            <tr style="text-align:center">
                <th>STT</th>
                <th>Số QĐ</th>
                <th>Thời điểm xác định</th>
                <th>Mô tả</th>
                <th>Trạng thái</th>
                <th>Cơ quan tiếp nhận hồ sơ</th>
                <th width="20%">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td style="text-align: center">@item.Soqd</td>
                        <td class="text-center active">@item.Thoidiem</td>
                        <td style="text-align: center">@item.Ttqd</td>
                        <td style="text-align: center">
                            @if (item.Trangthai == "HT")
                            {
                                <span class="label font-weight-bold label-lg  label-light-info label-inline">Hoàn thành</span>
                            }
                            @if (item.Trangthai == "CHT")
                            {
                                <span class="label font-weight-bold label-lg  label-outline-warning label-inline">Chưa hoàn thành</span>
                            }
                            @if (item.Trangthai == "HHT")
                            {
                                <span class="label font-weight-bold label-lg  label-outline-danger label-inline">Hủy hoàn thành</span>
                            }
                        </td>
                        <td style="text-align: center" width="15%">
                            @foreach (var db in dsdonvi)
                            {
                                @if (item.Macqcq == db.MaDv)
                                {
                                    <span>@db.TenDv</span>
                                }
                            }
                        </td>
                        <td width="20%">

                            @if (item.Trangthai == "HT")
                            {
                                <a asp-controller="GiaHhDvCn" asp-action="Print" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="In hồ sơ"
                       target="_blank">
                                    <i class="icon-lg la la-print text-info"></i>
                                </a>

                                <a asp-controller="GiaHhDvCn" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết"
                       target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                                <a href="~/UpLoad/File/DinhGia/@item.Ipf1" target="_blank" title="Tải tệp" class="btn btn-sm btn-clean btn-icon"
                       onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    <i class="icon-lg la la-cloud-download text-warning"></i>
                                </a>

                            }

                            @if (item.Trangthai == "CHT" || item.Trangthai == "HHT")

                            {
                                <a asp-controller="GiaHhDvCn" asp-action="Print" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="In hồ sơ"
                       target="_blank">
                                    <i class="icon-lg la la-print text-info"></i>
                                </a>

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.hhdvcn.thongtin", "Edit"))
                                {
                                    <a asp-controller="GiaHhDvCn" asp-action="Edit" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </a>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.hhdvcn.thongtin", "Delete"))
                                {
                                    <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                        <i class="icon-lg la la-trash text-danger"></i>
                                    </button>
                                }

                                <button type="button" class="btn btn-sm btn-clean btn-icon" title="Hoàn thành" data-toggle="modal" data-target="#Complete_Modal" onclick="SetComplete('@item.Mahs')">
                                    <i class="icon-lg la la-check text-primary "></i>
                                </button>

                                <a href="~/UpLoad/File/DinhGia/@item.Ipf1" target="_blank" title="Tải tệp" class="btn btn-sm btn-clean btn-icon"
                       onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    <i class="icon-lg la la-cloud-download text-warning"></i>
                                </a>
                            }

                        </td>



                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="GiaHhDvCn" asp-action="Delete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý xóa thông tin???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-controller="GiaHhDvCn" asp-action="Create" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thêm mới hồ sơ giá sản phẩm giá hàng hóa, dịch vụ khác theo quy định của pháp luật chuyên ngành
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Đơn vị báo cáo</label>
                                <select id="MadvBc" name="MadvBc" class="form-control">
                                    @foreach (var dv in dsdonvi)
                                    {
                                        <!option value="@dv.MaDv" @((string)ViewData["Madv"] == dv.MaDv ? "selected" : "")>@dv.TenDv</!option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Phân loại nhóm hàng hóa dịch vụ</label>
                                <select id="Manhom" name="Manhom" class="form-control">
                                    <option value="khac">--Tất cả --</option>
                                    @foreach (var nhom in nhomtn)
                                    {
                                        <option value="@nhom.Maspdv">@nhom.Tenspdv</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>





<!--complete Modal-->

<div class="modal fade" id="Complete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaHhDvCn" asp-action="Complete">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý hoàn thành hồ sơ?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:blue">Hồ sơ đã hoàn thành sẽ được chuyển lên đơn vị tiếp nhận. Bạn cần liên hệ đơn vị tiếp nhận để chỉnh sửa hồ sơ nếu cần!</p>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Cơ quan tiếp nhận*</label>
                                <select class="form-control" id="macqcq_chuyen" name="macqcq_chuyen">
                                    @foreach (var db in dsdiaban)
                                    {
                                        <optgroup label="@db.TenDiaBan">
                                            @{
                                                var donvi = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan);
                                            }
                                            @foreach (var item in donvi)
                                            {
                                                <!option value="@item.MaDv">@item.TenDv</!option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input hidden id="mahs_chuyen" name="mahs_chuyen" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>



<script>
    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetComplete(mahs) {
        document.getElementById("mahs_chuyen").value = mahs;
    }

</script>