@{
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.KeKhaiGia.VMKkGiaCt>

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged.init();
        });

        $(function() {
            $('#Nam, #Mota').change(function() {
                var current_path_url = '/KeKhaiGiaGiay/Search?';
                var nam = '&Nam=' + $('#Nam').val();
                var mota = '&Mota=' + $('#Mota').val();
                var url = current_path_url + nam + mota;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Tìm kiếm thông tin kê khai giá<small>&nbsp;giấy</small>
            </h3>
        </div>
    </div> 
</div>
<hr />
<div class="card-body">
        <div class="row">
            <div class="col-xl-3">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Năm</label>
                    <select class="form-control" id="Nam" name="Nam">
                        @{
                            var nam_start = DateTime.Now.Year - 5;
                            var nam_stop = DateTime.Now.Year + 1;
                            for (var i = nam_start; i <= nam_stop; i++)
                            {
                                <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>Năm @i</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Mô tả</label>
                    <input class="form-control" type="text" id="Mota" name="Mota" value="@(!string.IsNullOrEmpty((string)ViewData["Mota"]) ? ViewData["Mota"] : "")"/>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col-xl-9">
        </div>
        <div class="col-xl-3 ">
            <div class="card-toolbar text-right">
                <a class="btn btn-primary font-weight-bolder" asp-controller="KkGiaGiay" asp-action="Printf" 
                asp-route-Nam="@ViewData["Nam"]" asp-route-Mota="@ViewData["Mota"]">
                    <i class="la la-print"></i>In trang
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover" id="sample_3">
        <thead>
            <tr style="text-align:center">
                <th width="4%">#</th>
                <th>Doanh nghiệp</th>
                <th>Ngày thực hiện<br />mức giá</th>
                <th>Mô tả</th>
                <th>Quy cách chất lượng</th>
                <th>Đơn vị tính</th>
                <th>Mức giá kê khai</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center">@(record_id++)</td>
                        <td class="active">
                            <b>Tên DN: </b>@item.Tendn<br />
                            <b>Mã số thuế: </b>@item.Madv
                        </td>
                        <td style="text-align: center">@Helpers.ConvertDateToStr(item.Ngayhieuluc)</td>
                        <td style="text-align: left">@item.Tendvcu</td>
                        <td style="text-align: left">@item.Qccl</td>
                        <td style="text-align: left">@item.Dvt</td>
                        <td style="text-align: right; font-weight:bold;">@Helpers.ConvertDbToStr(item.Giakk)</td>
                        <td style="text-align: left">@item.Ghichu</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>