@model CSDLGia_ASP.Models.Manages.DinhGia.GiaHangHoaTaiSieuThi;
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var nam_start = DateTime.Now.Year - 10;
    var nam_stop = DateTime.Now.Year + 10;
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
          
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Thêm mới hồ sơ giá<small>&nbsp;nước sinh hoạt</small><br />
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaHangHoaTaiSieuThi" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_nsh_store">
        <div class="card-body">
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định</label>
                        <input type="text" class="form-control" asp-for="Soqd" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Ngày áp dụng*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa bàn</label>
                        <select class="form-control select2basic" asp-for="Madiaban">
                            @foreach (var item in dsdiaban)
                            {
                                <!option value="@item.MaDiaBan" @((string)ViewData["Madv"] == item.MaDiaBan ? "selected" : "")>@item.TenDiaBan</!option>

                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Lộ trình từ năm*</label>
                        <select class="form-control select2basic" asp-for="Tunam">
                            @{

                                for (var i = nam_start; i <= nam_stop; i++)
                                {
                                    <option value="@i">Năm @i</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Lộ trình đến năm*</label>
                        <select class="form-control select2basic" asp-for="Dennam">
                            @{
                                for (var i = nam_start; i <= nam_stop; i++)
                                {
                                    <option value="@i">Năm @i</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Nội dung*</label>
                        <textarea type="text" class="form-control" asp-for="Mota" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf1upload" type="file" class="form-control" accept=".doc, .pdf, .xlsx, .txt" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf2upload" type="file" class="form-control" accept=".doc, .pdf, .xlsx, .txt" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf3upload" type="file" class="form-control" accept=".doc, .pdf, .xlsx, .txt" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf4upload" type="file" class="form-control" accept=".doc, .pdf, .xlsx, .txt" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="control-label">File đính kèm</label>
                        <input asp-for="Ipf5upload" type="file" class="form-control" accept=".doc, .pdf, .xlsx, .txt" />
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaHangHoaTaiSieuThi/Detail.cshtml")
        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaHangHoaTaiSieuThi" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValidateNuocSh()"><i class="la la-check"></i>Thêm mới</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValidateNuocSh() {
        if ($('#Soqd').val().trim() == '') {
            toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("frm_nsh_store").submit();
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}