@{
    int record_id = 1;
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsdonvith = (IEnumerable<DsDonVi>)ViewData["DsDonViTh"];
    var dstt = (IEnumerable<GiaHangHoaTaiSieuThiDm>)ViewData["Dstt"];
    var dscqcq = (IEnumerable<DsDonVi>)ViewData["DsCqcq"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaHangHoaTaiSieuThi>

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

        $(function () {
            $('#Nam, #Thang, #Madv').change(function () {
                var current_path_url = '/GiaHangHoaTaiSieuThi?';
                var nam = '&Nam=' + $('#Nam').val();
                var thang = '&Thang=' + $('#Thang').val();
                var madv = '&Madv=' + $('#Madv').val();
                var url = current_path_url + nam + thang + madv;
                window.location.href = url;
            })
        });
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ<small>&nbsp;giá hàng hóa tại siêu thị</small><br />
            </h3>
        </div>
        <div class="card-toolbar">
            @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.thongtin", "Create"))
            {
                @if (ViewData["Madv"].ToString() != "all" && ViewData["Madv"].ToString() != "")
                {
                    <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                        <i class="la la-plus"></i>Thêm mới
                    </button>
                    <span>&ensp;</span>
                    <a class="btn btn-success font-weight-bolder" asp-controller="GiaHangHoaTaiSieuThiExcel" asp-action="Index"
                       asp-route-Madv="@ViewData["Madv"]">
                        <i class="la la-file-excel-o"></i>Nhận dữ liệu
                    </a>
                }
            }
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-2">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Tháng:</label>
                    <select class="form-control select2basic" id="Thang" name="Thang">
                        <option value="all">--Tất cả--</option>
                        @for (var i = 1; i <= 12; i++)
                        {
                            <!option value="@i" @((string)ViewData["Thang"] == i.ToString() ? "selected" : "")>Tháng @i</!option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Năm:</label>
                    <select class="form-control select2basic" id="Nam" name="Nam">
                        <option value="all">--Tất cả--</option>
                        @{
                            var nam_start = DateTime.Now.Year - 5;
                            var nam_stop = DateTime.Now.Year + 1;
                            for (var i = nam_start; i <= nam_stop; i++)
                            {
                                <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>Năm @i</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group fv-plugins-icon-container">
                    <label style="font-weight:bold; color:blue">Đơn vị:</label>
                    <select class="form-control select2basic" id="Madv" name="Madv">
                        <option value="all">--Tất cả--</option>
                        @foreach (var item in dsdonvi)
                        {
                            <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "")>&emsp;@item.TenDv</!option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover" id="sample_3">
            <thead>
                <tr style="text-align:center">
                    <th width="2%">#</th>
                    <th width="10%">Đơn vị</th>
                    <th width="10%">Số QĐ</th>
                    <th width="10%">Thời điểm xác định</th>
                    <th style="text-align:center">Mô tả</th>
                    <th width="10%">Trạng thái</th>
                    <th width="20%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td style="text-align: center">
                                @if (!string.IsNullOrEmpty(item.Madv))
                                    @(dsdonvi.FirstOrDefault(x => x.MaDv == item.Madv)?.TenDv ?? "")

                            </td>
                            <td style="text-align: center">@item.Soqd</td>
                            <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                            <td style="text-align: left">@item.Thongtin</td>
                            <td style="text-align: center">
                                <span style="width: 112px;">
                                    @if (item.Trangthai == "CC")
                                    {
                                        <span class="label font-weight-bold label-lg label-xl label-light-info label-inline">Chờ chuyển</span>
                                    }
                                    else if (item.Trangthai == "CD")
                                    {
                                        <span class="label font-weight-bold label-lg label-inline label-light-warning">Chờ duyệt</span>
                                    }
                                    else if (item.Trangthai == "DD")
                                    {
                                        <span class="label font-weight-bold label-lg label-inline label-light-primary">Đã duyệt</span>
                                    }
                                    else if (item.Trangthai == "BTL")
                                    {
                                        <span class="label font-weight-bold label-lg label-inline label-light-danger">Bị trả lại</span>

                                        <br />
                                        <span>Lý do:&nbsp;@item.Lydo</span>
                                    }
                                    else
                                    {
                                        <span class="label font-weight-bold label-lg label-inline label-light-success">Công bố</span>
                                    }
                                </span>
                            </td>
                            <td>
                                <a asp-controller="GiaHangHoaTaiSieuThi" asp-action="Show" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Xem chi tiết"
                                   target="_blank">
                                    <i class="icon-lg la la-eye text-success"></i>
                                </a>
                                <button type="button" onclick="GetFile('@item.Mahs')" class="btn btn-sm btn-clean btn-icon" title="Giấy tờ kèm theo">
                                    <i class="icon-lg la la-file-alt text-dark"></i>
                                </button>
                                @if (item.Trangthai == "CC" || item.Trangthai == "BTL")
                                {
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.thongtin", "Edit"))
                                    {
                                        <a asp-controller="GiaHangHoaTaiSieuThi" asp-action="Edit" asp-route-Mahs="@item.Mahs" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa">
                                            <i class="icon-lg la la-edit text-primary"></i>
                                        </a>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.thongtin", "Approve"))
                                    {

                                        <button type="button" class="btn btn-sm btn-clean btn-icon" title="Hoàn thành" data-toggle="modal" data-target="#Complete_Modal" onclick="SetComplete('@item.Mahs')">
                                            <i class="icon-lg la la-mail-forward text-primary"></i>
                                        </button>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.thongtin", "Delete"))
                                    {

                                        <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id')">
                                            <i class="icon-lg la la-trash text-danger"></i>
                                        </button>
                                    }
                                 
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form asp-controller="GiaHangHoaTaiSieuThi" asp-action="Create" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Thêm mới báo cáo giá hàng hóa dịch vụ
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="row">
                        <input id="MadvBc" name="MadvBc" hidden value="@ViewData["Madv"]">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Danh mục thông tư</label>
                                <select id="MattBc" name="MattBc" class="form-control">
                                    @foreach (var ds in dstt)
                                    {
                                        <option value="@ds.Matt">@ds.Tentt</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Tháng</label>
                                <select class="form-control" id="ThangBc" name="ThangBc">
                                    @for (var i = 1; i <= 12; i++)
                                    {
                                        <!option value="@i" @((string)ViewData["Thang"] == i.ToString() ? "selected" : "")>@i</!option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Năm</label>
                                <select class="form-control" id="NamBc" name="NamBc">
                                    @{
                                        for (var i = nam_start; i <= nam_stop; i++)
                                        {
                                            <!option value="@i" @((string)ViewData["Nam"] == Helpers.ConvertYearToStr(i) ? "selected" : "")>@i</!option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="GiaHangHoaTaiSieuThi" asp-action="Delete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý xóa thông tin???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="id_delete" name="id_delete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger font-weight-bold">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Complete Modal-->
<div class="modal fade" id="Complete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="GiaHangHoaTaiSieuThi" asp-action="Complete">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý hoàn thành hồ sơ?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:blue">Hồ sơ đã hoàn thành sẽ được chuyển lên đơn vị tiếp nhận. Bạn cần liên hệ đơn vị tiếp nhận để chỉnh sửa hồ sơ nếu cần!</p>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label class="control-label">Hồ sơ:</label>
                                <select class="form-control" id="trangthai_complete" name="trangthai_complete">
                                    <option value="CD">Chờ duyệt</option>
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.xetduyet", "Approve"))
                                    {
                                        <option value="DD">Đã duyệt</option>
                                    }
                                    @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "csdlmucgiahhdv.dinhgia.giasieuthi.xetduyet", "Public"))
                                    {
                                        <option value="CB">Công bố</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input id="mahs_complete" name="mahs_complete" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Hoàn thành</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function SetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetComplete(mahs) {
        document.getElementById("mahs_complete").value = mahs;
    }
</script>
@await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaHangHoaTaiSieuThi/ThongTinGiayTo/Show.cshtml")