@model CSDLGia_ASP.Models.Manages.DinhGia.GiaNuocSh
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    int record_id = 1;
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ giá<small>&nbsp;nước sạch sinh hoạt</small>
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="" asp-action="" method="" enctype="multipart/form-data" id="frm_nsh_update">
        <div class="card-body">
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <input hidden asp-for="Ipf1" />
            <input hidden asp-for="Ipf2" />
            <input hidden asp-for="Ipf3" />
            <input hidden asp-for="Ipf4" />
            <input hidden asp-for="Ipf5" />
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định</label>
                        <input type="text" class="form-control" asp-for="Soqd" readonly />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Ngày áp dụng*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" readonly />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Địa bàn</label>
                        <select class="form-control" asp-for="Madiaban" readonly>
                            @foreach (var item in dsdiaban)
                            {
                                <!option value="@item.MaDiaBan" @((string)Model.Madiaban == item.MaDiaBan ? "selected" : "")>@item.TenDiaBan</!option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Lộ trình từ năm*</label>
                        <input type="text" class="form-control" asp-for="Tunam" readonly />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Lộ trình đến năm*</label>
                        <input type="text" class="form-control" asp-for="Dennam" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Nội dung hồ sơ</label>
                        <textarea class="form-control" asp-for="Mota" rows="2" readonly></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf1))
                            {
                                <a href="~/UpLoad/File/DinhGia/GiaNuocSh/@Model.Ipf1" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    @Model.Ipf1
                                </a>
                            }
                        </label>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf2))
                            {
                                <a href="~/UpLoad/File/DinhGia/GiaNuocSh/@Model.Ipf2" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    @Model.Ipf1
                                </a>
                            }
                        </label>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf3))
                            {
                                <a href="~/UpLoad/File/DinhGia/GiaNuocSh/@Model.Ipf3" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    @Model.Ipf3
                                </a>
                            }
                        </label>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf4))
                            {
                                <a href="~/UpLoad/File/DinhGia/GiaNuocSh/@Model.Ipf4" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    @Model.Ipf4
                                </a>
                            }
                        </label>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>
                            File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf5))
                            {
                                <a href="~/UpLoad/File/DinhGia/GiaNuocSh/@Model.Ipf5" target="_blank"
                                   onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    @Model.Ipf5
                                </a>
                            }
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end::Form-->
</div>
<div class="card card-custom" style="border: 1px solid #60aee4;">
    <div class="card-body" id="frm_data">
        <div class="mb-3 font-weight-bold font-size-lg">
            <label style="color: blue; text-decoration-line: underline; font-weight: bold">Giá nước sinh hoạt</label>
        </div>
        <table class="table table-striped table-bordered table-hover" id="datatable_4">
            <thead>
                <tr style="text-align:center">
                    <th rowspan="2">STT</th>
                    <th rowspan="2">Mục đích sử dụng</th>
                    <th colspan="2">Đơn giá</th>
                    <th colspan="2">Đơn giá</th>
                    <th colspan="2">Đơn giá</th>
                    <th colspan="2">Đơn giá</th>
                    <th colspan="2">Đơn giá</th>
                </tr>
                <tr style="text-align:center">
                    <th>Năm áp dụng</th>
                    <th>Giá tiền</th>
                    <th>Năm áp dụng</th>
                    <th>Giá tiền</th>
                    <th>Năm áp dụng</th>
                    <th>Giá tiền</th>
                    <th>Năm áp dụng</th>
                    <th>Giá tiền</th>
                    <th>Năm áp dụng</th>
                    <th>Giá tiền</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.GiaNuocShCt != null)
                {
                    @foreach (var item in Model.GiaNuocShCt)
                    {
                        <tr style="text-align:center">
                            <td>@(record_id++)</td>
                            <td>@item.Doituongsd</td>
                            <td>@item.Namchuathue</td>
                            <td font-weight:bold">@(@item.Giachuathue != 0 ? Helpers.ConvertDbToStr(item.Giachuathue) : "")</td>
                            <td>@item.Namchuathue1</td>
                            <td font-weight:bold">@(@item.Giachuathue1 != 0 ? Helpers.ConvertDbToStr(item.Giachuathue1) : "")</td>
                            <td>@item.Namchuathue2</td>
                            <td font-weight:bold">@(@item.Giachuathue2 != 0 ? Helpers.ConvertDbToStr(item.Giachuathue2) : "")</td>
                            <td>@item.Namchuathue3</td>
                            <td font-weight:bold">@(@item.Giachuathue3 != 0 ? Helpers.ConvertDbToStr(item.Giachuathue3) : "")</td>
                            <td>@item.Namchuathue4</td>
                            <td font-weight:bold">@(@item.Giachuathue4 != 0 ? Helpers.ConvertDbToStr(item.Giachuathue4) : "")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>
<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaNuocSh" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>
</div>