@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaThueTsc;
@{
    int record_id = 1;
     var GiaThueTaiSanCongDm = (IEnumerable<GiaThueTaiSanCongDm>)ViewData["GiaThueTaiSanCongDm"];
}
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    Thông tin hồ sơ giá<small>&nbsp;thuê tài sản công</small><br />
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="GiaThueTSanCong" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_r_store">
            <div class="card-body">
              @*  <input asp-for="Madv" />
                <input asp-for="Mahs" />*@
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Số quyết định</label>
                            <input type="text" class="form-control" asp-for="Soqd" id="Soqd" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Thời điểm*</label>
                            <input type="date" class="form-control" asp-for="Thoidiem" id="Thoidiem" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Thông tin quyết định*</label>
                            <input type="text" class="form-control" asp-for="Thongtinhs" id="Thongtinhs" />
                        </div>
                    </div>
                </div>


            </div>

        </form>
        <!--end::Form-->
    </div>
      <div class="card-body" id="frm_data">
        <table class="table table-striped table-bordered table-hover" id="datatable_4">
            <thead>
                <tr style="text-align:center">
                    <th>STT</th>
                    <th>Tên tài sản</th>
                    <td>Đơn vị thuê</td>
                    <td>Hợp đồng số</td>
                    <td>Thời hạn</td>
                    <td>Đơn vị <br /> tính</td>
                    <th>Đơn giá</th>
                    <td>Thành tiền</td>
                  
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @if (Model.GiaThueTaiSanCongCt != null)
                    {
                        @foreach (var item in Model.GiaThueTaiSanCongCt)
                        {
                            <tr>
                                <td style="text-align:center">@(record_id++)</td>
                                <td style="text-align:center">
                                    @if (GiaThueTaiSanCongDm != null)
                                    {
                                        @foreach (var dm in GiaThueTaiSanCongDm)
                                        {
                                            @if (item.Mataisan == dm.Mataisan)
                                            {
                                                <span>@dm.Tentaisan</span>
                                            }
                                        }
                                    }
                                </td>

                                <td style="text-align:center"> @item.Dvthue</td>
                                <td style="text-align:center">@item.Hdthue</td>
                                <td style="text-align:center">@item.Ththue</td>
                                <td style="text-align:center">@item.Dvt</td>
                                <td style="text-align:center">@item.Dongiathue</td>
                                <td style="text-align:center">@item.Sotienthuenam</td>

                            </tr>
                        }

                    }
                }
            </tbody>
        </table>
        <!--end: Datatable-->
    </div>