@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDauGiaDat;
@{
    var DsDonVi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var DsDiaBan = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var DsXaPhuong = (IEnumerable<DsXaPhuong>)ViewData["DsXaPhuong"];

}

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    Thông tin hồ sơ giá<small>&nbsp;Giá trúng thầu quyền sd đất</small><br />
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="GiaTrungThauDat" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_r_store">
            <div class="card-body">
            <input hidden asp-for="Madv" />
            <input hidden asp-for="Mahs" />
            <input hidden asp-for="Madiaban" />
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>

                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Quận/huyện</label>
                            <select class="form-control" id="Madv" name="Madv" disabled>
                                @foreach (var item in DsDonVi)
                            {
                                <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "") >@item.TenDv</!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Xã/phường</label>
                        <select class="form-control" id="Maxp" name="Maxp">
                            @foreach (var item in DsXaPhuong)
                            {
                                <option value="@item.Maxp">@item.Tenxp</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                    <label>Tên dự án*</label>
                    <input type="text" class="form-control" asp-for="Tenduan" />
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Thời điểm*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định phương án đấu giá*</label>
                        <input type="number" class="form-control" asp-for="Soqdpagia" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định đấu giá*</label>
                        <input type="number" class="form-control" asp-for="Soqddaugia" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định phê duyệt giá khởi điểm*</label>
                        <input type="number" class="form-control" asp-for="Soqdgiakhoidiem" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định công nhận kết quả trúng đấu giá*</label>
                        <input type="number" class="form-control" asp-for="Soqdkqdaugia" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Phân loại*</label>
                        <select class="form-control" asp-for="Phanloai">
                            @foreach (var item in Helpers.PlDauGiaDat())
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="form-group">
                    <label class="control-label">File đính kèm</label>
                    <input asp-for="Ipf1" type="file" accept=".jpg,.jpeg,.png" />
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                    <label>Ghi chú</label>
                    <input type="text" class="form-control" asp-for="Thongtin" />
                </div>
            </div>
        </div>


        @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaTrungThauDat/DanhSach/Detail.cshtml")


<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaTrungThauDat" asp-action="Index" asp-route-Madb="@ViewData["Madb"]" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>&ensp;
    <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
    <button type="button" class="btn btn-primary mr-2" onclick="Validatedgd()"><i class="la la-check"></i>Thêm mới</button>
</div>
    </form>
<!--end::Form-->
</div>
<script>
    function Validatedgd() {
        if ($('#Tenduan').val().trim() == '') {
            toastr.error("Tên dự án không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("frm_r_store").submit();
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }