@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDauGiaDat;
@{
    var DsDonVi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    //var DsDiaBan = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    // var DsXaPhuong = (IEnumerable<DsXaPhuong>)ViewData["DsXaPhuong"];
    var Huyens = (IEnumerable<Districts>)ViewData["Huyens"];
    var Xas = (IEnumerable<DsXaPhuong>)ViewData["Xas"];
    var TenDiaBan = ViewData["TenDiaBan"];
}

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
        function GetTowns() {
            $.ajax({
                url: '/Ajax/GetTowns',
                type: 'POST',
                data: {
                    MaHuyen: $('#MaHuyen').val(),
                    KeySelect: 'MaXa'
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success('Success');
                        $('#MaXa').html(data.message);
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label">
                Thông tin hồ sơ giá<small>&nbsp;Giá trúng thầu quyền sd đất</small><br />
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="GiaTrungThauDat" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_r_store">
        <div class="card-body">
            @*    <input id="Madv" name="Madv" value="@ViewData["Madv"]" />*@
            <input hidden asp-for="Mahs" />
            @* <input id="Madiaban" name="Madiaban" value="@ViewData["Madb"]" />*@
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Dịa bàn</label>
                        <select class="form-control" id="Madv" name="Madv" disabled>
                            @foreach (var item in DsDonVi)
                            {
                                <!option value="@item.MaDv" @((string)ViewData["Madv"] == item.MaDv ? "selected" : "") >@item.TenDv</!option>
                            }
                        </select>
                    </div>
                </div>     
                <div class="col-xl-6">
                    <div class="form-group">
                        <label>Địa bàn:</label>
                        <label class="form-control" style="color:blue; font-weight:bold;">@TenDiaBan:</label>
                        @* <select class="form-control" asp-for="Madiaban">
                        @foreach (var item in DsDiaBan)
                        {
                        <option value="@item.MaDiaBan">@item.TenDiaBan</option>
                        }
                        </select> *@
                    </div>
                </div>
               @*  <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label>Quận/Huyện</label>
                        <select class="form-control" asp-for="MaHuyen" id="MaHuyen" name="MaHuyen" onchange="GetTowns()">
                            @foreach (var item in Huyens)
                            {
                                <option value="@item.Mahuyen">@item.Tenhuyen</option>
                            }
                        </select>
                    </div>
                </div> *@
                <div class="col-xl-6">
                    <div class="form-group fv-plugins-icon-container">
                        <label>Xã/Phường</label>
                        <select class="form-control" asp-for="Maxp" id="Maxp" name="Maxp">
                            @foreach (var item in Xas)
                            {
                                <option value="@item.Maxp">@item.Tenxp</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Tên dự án*</label>
                        <input type="text" class="form-control" asp-for="Tenduan" />
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Thời điểm*</label>
                        <input type="date" class="form-control" asp-for="Thoidiem" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định phương án đấu giá*</label>
                        <input type="text" class="form-control" asp-for="Soqdpagia" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định đấu giá*</label>
                        <input type="text" class="form-control" asp-for="Soqddaugia" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định phê duyệt giá khởi điểm*</label>
                        <input type="text" class="form-control" asp-for="Soqdgiakhoidiem" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Số quyết định công nhận kết quả trúng đấu giá*</label>
                        <input type="text" class="form-control" asp-for="Soqdkqdaugia" />
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="form-group">
                        <label>Phân loại*</label>
                        <select class="form-control" asp-for="Phanloai">
                            @foreach (var item in Helpers.PlDauGiaDat())
                            {
                                <!option value="@item" @(item == Model.Phanloai ? "selected" : "")>@item</!option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control" asp-for="Thongtin" />
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaTrungThauDat/ThongTinGiayTo/Index.cshtml")
            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaTrungThauDat/DanhSach/Detail.cshtml")
        </div>



        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaTrungThauDat" asp-action="Index" asp-route-Madb="@ViewData["Madb"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="Validatedgd()"><i class="la la-check"></i>Lưu Lại</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function Validatedgd() {
        if ($('#Tenduan').val().trim() == '') {
            toastr.error("Tên dự án không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Thoidiem').val().trim() == '') {
                toastr.error("Thời điểm không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("frm_r_store").submit();
            }
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}