@{

    var DanhSachHoSo = (IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvKhungGia>)ViewData["DanhSachHoSo"];
    var DanhSachNhom = (IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvKhungGiaNhom>)ViewData["DanhSachNhom"];
}

@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
@section custom_script {
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @ViewData["Title"]
                <span class="d-block text-muted pt-2 font-size-sm">
                    Thông tin hồ sơ giá sản phẩm dịch vụ khung giá
                </span>
            </h3>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <ol>
                        <li>
                            <button data-target="#Report_Modal_TH" data-toggle="modal" class="btn btn-link" style="text-align:left">
                                <span style="font-size:16px; color:blue;  font-weight: bold">
                                    Báo cáo tổng hợp
                                </span>
                            </button>

                        </li>
                        <li>
                            <button data-target="#Report_Modal_CT" data-toggle="modal" class="btn btn-link" style="text-align:left">
                                <span style="font-size:16px; color:blue;  font-weight: bold">
                                    Báo cáo chi tiết
                                </span>
                            </button>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Báo cáo tổng hợp-->
<div class="modal fade" id="Report_Modal_TH" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaSpDvKhungGiaBc" asp-action="BcTH" target="_blank" id="form_moda_th">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Báo cáo tổng hợp giá sản phẩm dịch vụ khung giá
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-last">
                        <div class="alert alert-custom alert-default" role="alert">
                            <div class="alert-icon">
                                <span class="svg-icon svg-icon-primary svg-icon-xl">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3"></path>
                                            <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <div class="alert-text">
                                Tổng hợp các hồ sơ: Đã phê duyệt; Đã được công bố
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xl-6">
                            <div class="form-group">
                                <label><b>Từ ngày</b></label>
                                <input type="date" id="tungay" name="tungay" value="@ViewData["ngaytu"]" class="form-control" style="text-align: center">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label><b>Đến ngày</b></label>
                                <input type="date" id="denngay" name="denngay" value="@ViewData["ngayden"]" class="form-control" style="text-align: center">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Chức danh ký:</label>
                                <input type="text" class="form-control" id="chucdanhky" name="chucdanhky" value="Thủ trưởng đơn vị" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Họ và tên người ký</label>
                                <input type="text" class="form-control" id="hotennguoiky" name="hotennguoiky" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="BaoCaoTh()">Đồng ý</button>
                </div>

            </div>
        </form>
    </div>

</div>

<!--Báo cáo chi tiết-->
<div class="modal fade" id="Report_Modal_CT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaSpDvKhungGiaBc" asp-action="BcCT" target="_blank" id="form_moda_ct">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Báo cáo chi tiết giá sản phẩm dịch vụ khung giá
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-last">
                        <div class="alert alert-custom alert-default" role="alert">
                            <div class="alert-icon">
                                <span class="svg-icon svg-icon-primary svg-icon-xl">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3"></path>
                                            <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero"></path>
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </div>
                            <div class="alert-text">
                                Tổng hợp các hồ sơ: Đã phê duyệt; Đã được công bố
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label><b>Từ ngày</b></label>
                                <input type="date" id="ngaytu" name="ngaytu"
                                       value="@ViewData["ngaytu"]" class="form-control" style="text-align: center" onchange="GetList()">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label><b>Đến ngày</b></label>
                                <input type="date" id="ngayden" name="ngayden"
                                       value="@ViewData["ngayden"]" class="form-control" style="text-align: center" onchange="GetList()">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Thông tin hồ sơ: </label><br />
                                <select class="form-control" id="MaHsTongHop" name="MaHsTongHop" width="100%">
                                    <option value="all">--Tất cả---</option>
                                    @foreach (var item in DanhSachHoSo)
                                    {
                                        <option value="@item.Mahs">Số QĐ: @item.Soqd- Thời điểm: @Helpers.ConvertDateToStr(item.Thoidiem) </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Tên nhóm</label><br />
                                <select class="form-control" id="MaNhom" name="MaNhom" width="100%">
                                    <option value="all">--Tất cả---</option>
                                    @foreach (var item in DanhSachNhom)
                                    {
                                        <option value="@item.Manhom">@item.Tennhom</option>
                                    }
                                </select>
                            </div>
                        </div>

                      
                    

                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Chức danh ký:</label>
                                <input type="text" class="form-control" id="chucdanhky" name="chucdanhky" value="Thủ trưởng đơn vị" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Họ và tên người ký</label>
                                <input type="text" class="form-control" id="hotennguoiky" name="hotennguoiky" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="BaoCaoCt()">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    function GetList() {
        var fromDate = document.getElementById("ngaytu").value;
        var toDate = document.getElementById("ngayden").value;
        if (fromDate === "" || toDate === "") {
            toastr.error("Vui lòng nhập đủ ngày từ và ngày đến", "Lỗi!!!");
        } else {
            var fromDateObj = new Date(fromDate);
            var toDateObj = new Date(toDate);

            if (fromDateObj <= toDateObj) {

                $.ajax({
                    url: '/GiaSpDvKhungGiaBc/BaoCao/GetListHoSo',
                    type: 'POST',
                    data: {
                        ngaytu: fromDate,
                        ngayden: toDate,
                    },
                    dataType: 'JSON',
                    success: function (data) {
                        if (data.status == 'success') {
                            toastr.success("Thành công!");
                            $('#MaHsTongHop').replaceWith(data.message);
                        } else {
                            toastr.error(data.message, "Lỗi!!!");
                        }
                    }
                });
            } else {
                toastr.error("Ngày từ phải nhỏ hơn hoặc bằng ngày đến.", "Lỗi!!!");
            }
        }
    }


    function BaoCaoTh() {
        var fromDate = document.getElementById("ngaytu").value;
        var toDate = document.getElementById("ngayden").value;
        if (fromDate === "" || toDate === "") {
            toastr.error("Vui lòng nhập đủ ngày từ và ngày đến", "Lỗi!!!");
        } else {
            var fromDateObj = new Date(fromDate);
            var toDateObj = new Date(toDate);

            if (fromDateObj <= toDateObj) {
                var form = document.getElementById("form_moda_th");
                form.submit();
                location.reload();
            } else {
                toastr.error("Ngày từ phải nhỏ hơn hoặc bằng ngày đến.", "Lỗi!!!");
            }
        }

    }

    function BaoCaoCt() {
        var fromDate = document.getElementById("ngaytu").value;
        var toDate = document.getElementById("ngayden").value;
        if (fromDate === "" || toDate === "") {
            toastr.error("Vui lòng nhập đủ ngày từ và ngày đến", "Lỗi!!!");
        } else {
            var fromDateObj = new Date(fromDate);
            var toDateObj = new Date(toDate);

            if (fromDateObj <= toDateObj) {
                var form = document.getElementById("form_moda_ct");
                form.submit();
                location.reload();
            } else {
                toastr.error("Ngày từ phải nhỏ hơn hoặc bằng ngày đến.", "Lỗi!!!");
            }
        }

    }
</script>

