@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaTaiSanCongCt>


<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
    <thead>
        <tr style="text-align:center">
            <th style="text-align:center" width="2%">STT</th>
            <th style="text-align:center">Mã tài sản</th>
            <th style="text-align:center">Tên tài sản</th>
            <th style="text-align:center">Nguyên giá</th>
            <th style="text-align:center">Giá còn lại</th>
            <th style="text-align:center">Giá phê duyệt</th>
            <th style="text-align:center">Giá bán <br />(Thanh lý)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">@(record_id++)</td>
                <td style="text-align:center">@item.Mataisan</td>
                <td style="text-align:left">@item.Tentaisan</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giathue)</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giaconlai)</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giapheduyet)</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giaban)</td>
            </tr>
        }
    </tbody>
</table>







