@{
    Layout = "_LayoutReports";
}
@model IEnumerable<CSDLGia_ASP.ViewModels.Manages.KeKhaiGia.VMKkGiaCt>

<br />
<br />
<h2 class="page-title" style="text-align: center;text-transform: uppercase">
    Tìm kiếm thông tin kê khai giá dịch vụ lưu trú
</h2>
<br />
<br />
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th width="2%">#</th>
            <th width="2%">Stt</th>
            <th>Doanh nghiệp</th>
            <th>Độ dài thời gian<br />chương trình hoặc<br />dịch vụ</th>
            <th>Thời gian thực hiện<br />mức giá</th>
            <th>Tên dịch vụ cung ứng</th>
            <th>Hình thức kinh doanh</th>
            <th>Mức giá kê khai</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.OrderBy(t => t.STTSapxep))
            {
                <tr>
                    <td style="text-align: center">@item.STTSapxep</td>
                    <td style="text-align: center">@item.STTHienthi</td>
                    <td class="active">
                        <b>Tên DN: </b>@item.Tendn<br />
                        <b>Mã số thuế: </b>@item.Madv
                    </td>
                    <td style="text-align: center">@item.Dodaitgian</td>
                    <td style="text-align: center">@Helpers.ConvertDateToStr(item.Thoigian)</td>
                    <td style="text-align: left">@item.Tendvcu</td>
                    <td style="text-align: left">@item.Qccl</td>
                    <td style="text-align: right; font-weight:bold;">@Helpers.ConvertDbToStr(item.Giakk)</td>
                </tr>
            }
        }
    </tbody>
</table>