@{
    Layout = "_LayoutReports";
    var record_id = 1;
    
    var cts = (IEnumerable<GiaNuocShCt>)ViewData["ct"];
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaNuocSh>
<br />
<br />
<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số: .........</td>
        <td style="text-align: right; vertical-align: top"><i style="margin-right: 25%;">, ngày....tháng....năm....</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT GIÁ NƯỚC SINH HOẠT</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: Từ ngày @Helpers.ConvertDateToStr((DateTime)ViewData["tungay"]) đến ngày @Helpers.ConvertDateToStr((DateTime)ViewData["denngay"])</p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th rowspan="2" width="2%" style="text-align: center">STT</th>
            <th rowspan="2" style="text-align: center">Mục đích sử dụng</th>
            <th colspan="2" style="text-align: center">Đơn giá</th>
            <th colspan="2" style="text-align: center">Đơn giá</th>
            <th colspan="2" style="text-align: center">Đơn giá</th>
            <th colspan="2" style="text-align: center">Đơn giá</th>


        </tr>

        <tr>
            <th style="text-align: center">Năm áp dụng</th>
            <th style="text-align: center">Giá tiền</th>
            <th style="text-align: center">Năm áp dụng</th>
            <th style="text-align: center">Giá tiền</th>
            <th style="text-align: center">Năm áp dụng</th>
            <th style="text-align: center">Giá tiền</th>
            <th style="text-align: center">Năm áp dụng</th>
            <th style="text-align: center">Giá tiền</th>
            <th style="text-align: center">Năm áp dụng</th>
            <th style="text-align: center">Giá tiền</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td colspan="7">

                    Mã hồ sơ:@item.Mahs

                </td>
            </tr>
            var record_id_ct = 1;
            foreach (var ct in cts.Where(t => t.Mahs == item.Mahs))
            {
    <tr>
        <td style="text-align: center">@(record_id - 1).@(record_id_ct++)</td>
        <td style="text-align: left">@ct.Doituongsd</td>
        <td style="text-align: left">@ct.Namchuathue</td>
        <td style="text-align: left">@ct.Giachuathue</td>
        <td style="text-align: left">@ct.Namchuathue1</td>
        <td style="text-align: left">@ct.Giachuathue1</td>
        <td style="text-align: left">@ct.Namchuathue2</td>
        <td style="text-align: left">@ct.Giachuathue2</td>
        <td style="text-align: left">@ct.Namchuathue3</td>
        <td style="text-align: left">@ct.Giachuathue3</td>
        <td style="text-align: left">@ct.Namchuathue4</td>
        <td style="text-align: left">@ct.Giachuathue4</td>

    </tr>
            }
        }
    </tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span><br>
            - UBND tỉnh;<br />
            - Bộ tài chính;<br />
            - Lưu: VT, QLGCS.
        </td>
        <td style="vertical-align: top;">
            <b>THỦ TRƯỞNG ĐƠN VỊ</b><br>
            <i>(Ký tên, đóng dấu)</i>
        </td>
    </tr>
</table>