@{
    Layout = "_LayoutReports";
    var DsDiaBanHuyen = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanHuyen"];
    var DsDiaBanXa = (IEnumerable<DsDiaBan>)ViewData["DsDiaBanXa"];
    var dsloaidat = (IEnumerable<DmLoaiDat>)ViewData["Dsloaidat"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];



}
<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDatDiaBan

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định:@Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:@ViewData["TenDiaBan"]
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm:@Helpers.ConvertDateToStr(Model.Thoidiem)</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">

    <thead>
        <tr>
            <th style="text-align:center" rowspan="2" width="2%">TT</th>
            <th style="text-align:center" rowspan="2">Loại đất</th>
            <th style="text-align:center" rowspan="2">Tên đường và đơn vị hành chính</th>
            <th style="text-align:center" colspan="2">Đoạn đường khu vực</th>
            <th style="text-align:center" rowspan="2">Loại đô thị</th>
            <th style="text-align:center" colspan="8">Giá đất</th>
        </tr>
        <tr>
            <th style="text-align:center">Điểm đầu</th>
            <th style="text-align:center">Điểm cuối</th>
            <th style="text-align:center">VT1</th>
            <th style="text-align:center">VT2</th>
            <th style="text-align:center">VT3</th>
            <th style="text-align:center">VT4</th>
            <th style="text-align:center">VT5</th>
            <th style="text-align:center">VT6</th>
            <th style="text-align:center">VT7</th>
            <th style="text-align:center">VT còn lại</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.GiaDatDiaBanCt.Any())
            {
                foreach (var item in Model.GiaDatDiaBanCt)
                {
                    <tr>
                        <td style="text-align:center">@item.HienThi</td>
                        <td style="text-align:left">@item.Loaidat</td>
                        <td style="text-align:left">@item.Mota</td>
                        <td style="text-align:center">@item.Diemdau</td>
                        <td style="text-align:center">@item.Diemcuoi</td>
                        <td style="text-align:left">@item.Loaiduong</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavt1)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavt2)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavt3)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavt4)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavt5)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavt6)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavt7)</td>
                        <td style="text-align:right">@Helpers.ConvertDbToStr(item.Giavtconlai)</td>
                    </tr>
                }
            }
        }
    </tbody>

</table>
