@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsloaidat = (IEnumerable<DmLoaiDat>)ViewData["Dsloaidat"];
    var dsxaphuong = (IEnumerable<DsXaPhuong>)ViewData["DsXaPhuong"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    int record_id = 1;
    }
<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDatDiaBan

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: 01</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr>
            <th style="text-align:center">STT</th>
            <th style="text-align:center">Xã phường</th>
            <th style="text-align:center">Loại đất</th>
            <th style="text-align:center">Khu vực tên đường phố</th>
            <th style="text-align:center">Địa giới</th>
            <th style="text-align:center">VT1</th>
            <th style="text-align:center">VT2</th>
            <th style="text-align:center">VT3</th>
            <th style="text-align:center">VT4</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.GiaDatDiaBanCt != null)
            {

                @foreach (var item in Model.GiaDatDiaBanCt)
                {
                    <tr style="text-align:center">

                        <td style="text-align:center">@(record_id++)</td>
                        <td style="text-align:center">@item.Maxp</td>
                        <td style="text-align:center">@item.Maloaidat</td>
                        <td style="text-align:center">@item.Khuvuc</td>
                        <td style="text-align:center">@item.Diemdau đến @item.Diemcuoi </td>
                        <td style="text-align:center">@item.Giavt1</td>
                        <td style="text-align:center">@item.Giavt2</td>
                        <td style="text-align:center">@item.Giavt3</td>
                        <td style="text-align:center">@item.Giavt4</td>

                    </tr>
                }

            }
        }
    </tbody>
</table>
