@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsloaidat = (IEnumerable<DmLoaiDat>)ViewData["Dsloaidat"];
    var dsxaphuong = (IEnumerable<DsXaPhuong>)ViewData["DsXaPhuong"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    int record_id = 1;
    }
<br />
<br />
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaDatDiaBan

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: 01</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr style="text-align:center">
            <th>STT</th>
            <th>Tên đường phố</th>
            <th>Loại đường</th>
            <th>Điểm đầu</th>
            <th>Điểm cuối</th>
            <th>Hệ số K</th>
            <th>VT1</th>
            <th>VT2</th>
            <th>VT3</th>
            <th>VT4</th>
            <th>VT5</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.GiaDatDiaBanCt != null)
            {

                @foreach (var item in Model.GiaDatDiaBanCt.OrderBy(x=>x.Sapxep))
                {
                    <tr style="text-align:center">

                        <td style="text-align:center">@item.HienThi</td>
                        <td class="active">@item.Mota</td>
                        <td class="active">@item.Loaiduong</td>
                        <td class="active">@item.Diemdau</td>
                        <td class="active">@item.Diemcuoi </td>
                        <td class="active">@item.Hesok </td>
                        <td class="active">@Helpers.ConvertDbToStr(item.Giavt1)</td>
                        <td class="active">@Helpers.ConvertDbToStr(item.Giavt2)</td>
                        <td class="active">@Helpers.ConvertDbToStr(item.Giavt3)</td>
                        <td class="active">@Helpers.ConvertDbToStr(item.Giavt4)</td>
                        <td class="active">@Helpers.ConvertDbToStr(item.Giavt5)</td>
                    </tr>
                }

            }
        }
    </tbody>
</table>
