@{
    Layout = "_LayoutReports";
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
}

<br />
<br />
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM</p>
<br />
<br />

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr style="text-align:center">
            <th width="4%">#</th>
            <th>Đơn vị nhập</th>
            <th>Thời điểm</th>
            <th>Số quyết định</th>
            <th width="30%">Tên sản phẩm dịch vụ</th>
            <th>Đơn vị tính</th>
            <th>Mức giá</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr style="text-align: center">
                    <td>@(record_id++)</td>
                    <td>@item.Tendv</td>
                    <td>@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                    <td>@item.Soqd</td>
                    <td>@item.Mota</td>
                    <td>@item.Dvt</td>
                    <td>@item.Mucgia</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="card-footer" style="text-align:center">
    <a asp-controller="GiaSpDvToiDa" asp-action="Search" class="btn btn-danger">
        <i class="la la-reply"></i>Quay lại
    </a>&ensp;
</div>



