@using CSDLGia_ASP.Models.Systems
@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Systems.DsXaPhuong>
@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

    @section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function() {
            TableManaged.init();
        });

        $(function() {
            $('#MaDiaBan').change(function() {
                var current_path_url = '/DsXaPhuong?';
                var madiaban = '&MaDiaBan=' + $('#MaDiaBan').val();
                var url = current_path_url + madiaban;
                window.location.href = url;
            })
        });

    </script>
}
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Danh sách địa bàn<small>&nbsp;xã, phường, thị trấn</small>
                </h3>
            </div>
            <div class="card-toolbar">
                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsxaphuong", "Create"))
            {
                <button type="button" data-target="#Create_Modal" data-toggle="modal" class="btn btn-primary font-weight-bolder" title="Thêm mới">
                    <i class="la la-plus"></i>Thêm mới
                </button>
            }
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="mb-12">
            <div class="row">
                <div class="col-xl-3">
                    <div class="form-group fv-plugins-icon-container">
                        <label style="font-weight:bold; color:blue">Huyện, Thành phố</label>
                        <select class="form-control" id="MaDiaBan" name="MaDiaBan">
                            @foreach (var item in dsdiaban)
                            {
                                <!option value="@item.MaDiaBan" @((string)ViewData["MaDiaBan"] == item.MaDiaBan ? "selected" : "")>@item.TenDiaBan</!option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover" id="sample_3">
                <thead>
                    <tr style="text-align:center">
                        <th width="5%">#</th>
                        <th width="15%">Mã xã phường</th>
                        <th>Tên xã phường</th>
                        <th width="15%">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center" width="5%">@(record_id++)</td>
                            <td class="text-center">@item.Maxp</td>
                            <td class="active">@item.Tenxp</td>
                            <td>
                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsxaphuong", "Edit"))
                                {
                                    <button type="button" class="btn btn-sm btn-clean btn-icon" title="Chỉnh sửa" data-toggle="modal"
                                    data-target="#Edit_Modal" onclick="SetEdit('@item.Id')">
                                        <i class="icon-lg la la-edit text-primary"></i>
                                    </button>
                                }

                                @if (Helpers.CheckPermission(HttpContextAccessor.HttpContext.Session, "hethong.hethong.dsxaphuong", "Delete"))
                                {
                                    <button type="button" class="btn btn-sm btn-clean btn-icon" title="Xóa" data-toggle="modal" data-target="#Delete_Modal" onclick="SetDelete('@item.Id', '@item.Tenxp')">
                                        <i class="icon-lg la la-trash text-danger"></i>
                                    </button>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@await Html.PartialAsync("~/Views/Admin/Systems/DsXaPhuong/Modal.cshtml")
