@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
}
@model CSDLGia_ASP.Models.Manages.DinhGia.GiaSpDvCuThe

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ GIÁ SẢN PHẨM DỊCH VỤ CỤ THỂ</p>
@{
    switch (Model.PhanLoaiHoSo)
    {
        case "XE":
            <p style="font-size: 16px;">Phân loại hồ sơ: Hồ sơ giá trông giữ xe</p>
            break;
        default:
            <p style="font-size: 16px;">Phân loại hồ sơ: Hồ sơ giá diện tích bán hàng tại chợ</p>
            break;
    }
}
<p style="font-size: 16px;">
    Địa bàn áp dụng:
    @if (!string.IsNullOrEmpty(Model.Madiaban))
        @dsdiaban.FirstOrDefault(x => x.MaDiaBan == Model.Madiaban).TenDiaBan

</p>
<p style="font-size: 16px;">Thời điểm áp dụng @Helpers.ConvertDateToStr(Model.Thoidiem)</p>
<p style="font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="font-size: 16px;">Nội dung: @Model.GhiChu</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>

@if (Model.PhanLoaiHoSo == "XE")
{
    <table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
        <thead>
            <tr style="text-align:center">
                <th>STT</th>
                <th>Tên sản phẩm dịch vụ</th>
                <th>Đơn vị tính</th>
                <th>Điểm giữ xe thông<br />thường và danh lam<br />thắng cảnh</th>
                <th>Điểm giữ xe có nhu<br />cầu sử dụng lớn</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @if (Model.GiaSpDvCuTheCt != null)
                {
                    @foreach (var item in Model.GiaSpDvCuTheCt.OrderBy(x => x.Sapxep))
                    {
                        <tr>
                            <td style="text-align:center">@item.Tt</td>
                            <td style="text-align:left">@item.TenSpDv</td>
                            <td style="text-align:center">@item.Dvt</td>
                            <td style="text-align:center">@Helpers.ConvertDbToStr(item.Mucgia1)</td>
                            <td style="text-align:center">@Helpers.ConvertDbToStr(item.Mucgia2)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}
else
{
    <table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data_render">
        <thead>
            <tr style="text-align:center">
                <th>STT</th>
                <th>Tên sản phẩm dịch vụ</th>
                <th>Đơn vị tính</th>
                <th>Thành phố</th>
                <th>Thị xã</th>
                <th>Các huyện<br />đồng bằng</th>
                <th>Các huyện<br />miền núi</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @if (Model.GiaSpDvCuTheCt != null)
                {
                    @foreach (var item in Model.GiaSpDvCuTheCt.OrderBy(x => x.Sapxep))
                    {
                        <tr>
                            <td style="text-align:center">@item.Tt</td>
                            <td style="text-align:left">@item.TenSpDv</td>
                            <td style="text-align:center">@item.Dvt</td>
                            <td style="text-align:center">@Helpers.ConvertDbToStr(item.Mucgia1) </td>
                            <td style="text-align:center">@Helpers.ConvertDbToStr(item.Mucgia2)</td>
                            <td style="text-align:center">@Helpers.ConvertDbToStr(item.Mucgia3)</td>
                            <td style="text-align:center">@Helpers.ConvertDbToStr(item.Mucgia4)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <!--end: Datatable-->
}
