@{
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    DateTime currentDate = DateTime.Today;
    DateTime firstDayOfYear = new DateTime(currentDate.Year, 1, 1);
    DateTime lastDayOfYear = new DateTime(currentDate.Year, 12, 31);
    string FromDate = ViewData["FromDate"]?.ToString() ?? firstDayOfYear.ToString("yyyy-MM-dd");
    string ToDate = ViewData["ToDate"]?.ToString() ?? lastDayOfYear.ToString("yyyy-MM-dd");
}
<!--Trả lại Modal-->
<div class="modal fade" id="TraLai_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaNuocShXd" asp-action="TraLai" id="frm_tralai">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        @ViewData["Title"]
                        <span class="d-block text-muted pt-2 font-size-sm">
                            Quản lý trả lại hồ sơ giá nước sinh hoạt
                        </span>
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <textarea class="form-control" id="Lydo" name="Lydo" cols="12" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <p style="color: blue">Hồ sơ bị sẽ chuyển lại cho cơ quan gửi lên để có thể chỉnh sửa hồ sơ!</p>
                    <input hidden id="id_tralai" name="id_tralai" />
                    <input hidden id="madv_tralai" name="madv_tralai" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Trả lại</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Tổng hợp Modal-->
<div class="modal fade" id="Tonghop_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaNuocShXd" asp-action="TongHop" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        @ViewData["Title"]
                        <span class="d-block text-muted pt-2 font-size-sm">
                            Quản lý tổng hợp hồ sơ giá nước sinh hoạt
                        </span>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <hr />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Ngày kết xuất từ:</label>
                                <input type="date" class="form-control" id="TuNgay" name="TuNgay" value="@FromDate">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Ngày kết xuất đến:</label>
                                <input type="date" class="form-control" id="DenNgay" name="DenNgay" value="@ToDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Tổng hợp</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Chuyển xét duyệt Modal-->
<div class="modal fade" id="ChuyenXd_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaNuocShXd" asp-action="ChuyenXd">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        Đồng ý nhận hồ sơ?
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: blue">Hồ sơ đã hoàn thành sẽ được chuyển lên đơn vị tiếp nhận. Bạn cần liên hệ đơn vị tiếp nhận để chỉnh sửa hồ sơ nếu cần!</p>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label>Cơ quan tiếp nhận*</label>
                                <select class="form-control" id="macqcq" name="macqcq">
                                    @foreach (var db in dsdiaban.Where(t => t.Level != "H" && t.MaDiaBan != (dsdonvi.FirstOrDefault(t => t.MaDv == (string)ViewData["Madv"]).MaDiaBan)))
                                    {
                                        <optgroup label="@db.TenDiaBan">
                                            @{
                                                var dv = dsdonvi.Where(t => t.MaDiaBan == db.MaDiaBan && t.ChucNang != "QUANTRI"/* && t.MaDv != (string)ViewData["Madv"]*/);
                                            }
                                            @foreach (var item in dv)
                                            {
                                                <option value="@item.MaDv">@item.TenDv</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <input id="mahs" name="mahs" />
                    <input id="madv" name="madv" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Hoàn thành</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Cong Bo Modal-->
<div class="modal fade" id="CongBo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaNuocShXd" asp-action="CongBo">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        @ViewData["Title"]
                        <span class="d-block text-muted pt-2 font-size-sm">
                            Quản lý công bố hồ sơ giá nước sinh hoạt
                        </span>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="mahs_cb" name="mahs_cb" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Huy Cong Bo Modal-->
<div class="modal fade" id="HuyCongBo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="GiaNuocShXd" asp-action="HuyCongBo">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label">
                        <h3 class="card-label">
                            @ViewData["Title"]
                            <span class="d-block text-muted pt-2 font-size-sm">
                                Quản lý hủy công bố hồ sơ giá nước sinh hoạt
                            </span>
                        </h3>
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="mahs_hcb" name="mahs_hcb" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function TraLai(id, madv) {
        document.getElementById("id_tralai").value = id;
        document.getElementById("madv_tralai").value = madv;
    }

    function ChuyenXd(mahs, madv) {
        document.getElementById("mahs").value = mahs;
        document.getElementById("madv").value = madv;
    }

    function CongBo(mahs_cb) {
        document.getElementById("mahs_cb").value = mahs_cb;
    }

    function HuyCongBo(mahs_hcb) {
        document.getElementById("mahs_hcb").value = mahs_hcb;
    }
</script>