@model CSDLGia_ASP.Models.Manages.DinhGia.GiaThueTaiNguyen
@section custom_style {
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}
    @section custom_script{
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/jquery-mask.js"></script>
    <script src="~/Admin/assets/js/pages/crud/forms/widgets/select2.js"></script>

    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged4.init();
        });
    </script>
}
    <div class="card card-custom">
        <div class="card-header ribbon ribbon-top ribbon-ver">
            <div class="card-title">
                <h3 class="card-label">
                    HỒ SƠ GIÁ THUẾ TÀI NGUYÊN
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form asp-controller="GiaThueTaiNguyen" asp-action="Update" method="post" enctype="multipart/form-data" id="frm_giathuetainguyen_update">

            <div class="card-body">
                <div class="mb-3 font-weight-bold font-size-lg">
                    <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
                </div>
                <input asp-for="Madv" value="@Model.Madv">
                <input asp-for="Manhom" value="@Model.Manhom">
                <input asp-for="Mahs" value="@Model.Mahs">
                <input asp-for="Ipf1" value="@ViewData["Ipf1"]">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Số quyết định</label>
                            <input type="text" asp-for="Soqd" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Thời điểm</label>
                            <input type="date" asp-for="Thoidiem" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Số quyết định liền kề</label>
                            <input type="text" asp-for="Soqdlk" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>Ngày báo cáo liền kề</label>
                            <input type="date" asp-for="Thoidiemlk" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea class="form-control" rows="2" asp-for="Cqbh"></textarea>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <textarea class="form-control" rows="2" asp-for="Ghichu"></textarea>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group">
                            <label>
                                File đính kèm
                            @if (!string.IsNullOrEmpty(Model.Ipf1))
                            {
                                <a href="~/UpLoad/File/@ViewData["Ipf1"]" target="_blank"
                               onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                                    File đính kèm hiện tại
                                </a>
                            }
                        </label>
                        <input type="file" asp-for="Ipf1upload" accept=".doc, .pdf, .xlsx, .txt" class="form-control" />
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("~/Views/Admin/Manages/DinhGia/GiaThueTaiNguyen/DanhSach/Detail.cshtml")

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="GiaThueTaiNguyen" asp-action="Index" asp-route-Madv="@ViewData["Madv"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValThueTn()"><i class="la la-check"></i>Hoàn Thành</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValThueTn() {
        if ($('#Soqd').val().trim() == '') {
            toastr.error("Số quyết định không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Soqdlk').val().trim() == '') {
                toastr.error("Số quyết định liền kề không được để trống!", "Lỗi!!!")
            } else {
                if ($('#Thoidiemlk').val().trim() == '') {
                    toastr.error("Ngày báo cáo liền kề không được để trống!", "Lỗi!!!")
                } else {
                    if ($('#Thoidiem').val().trim() == '') {
                        toastr.error("Thời điểm không được để trống!", "Lỗi!!!")
                    } else {
                        document.getElementById("frm_giathuetainguyen_update").submit();
                    }

                }
            }
        }
    }
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }