<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin bất động sản
                    <span class="d-block text-muted pt-2 font-size-sm">Thêm mới thông tin bất động sản</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input hidden id="Manhom" name="Manhom" value="@ViewData["Manhom"]" />
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Phân loại bất động sản</label>
                            <input type="text" id="tennhom_create" name="tennhom_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Trạng thái</label>
                            <select id="theodoi_create" name="theodoi_create" class="form-control">
                                <option value="TD">Đang theo dõi</option>
                                <option value="KTD">Không theo dõi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Store()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    thông tin bất động sản
                    <span class="d-block text-muted pt-2 font-size-sm">Chỉnh sửa thông tin bất động sản</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="edit_thongtin">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Update()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    thông tin bất động sản
                    <span class="d-block text-muted pt-2 font-size-sm">Đồng ý xóa thông tin bất động sản???</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="GiaGiaoDichBDSDm" asp-action="Delete">
                <div class="modal-body">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Lock Modal-->
<div class="modal fade" id="Lock_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    Thông tin chi tiết
                    <span class="d-block text-muted pt-2 font-size-sm">Khóa/Mở khóa tất cả chi tiết danh mục</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input hidden id="manhom_lock" name="manhom_lock" value="@ViewData["Manhom"]" />
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Trạng thái</label>
                            <select id="theodoi_lock" name="theodoi_lock" class="form-control">
                                <option value="TD">Đang theo dõi</option>
                                <option value="KTD">Không theo dõi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Lock()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<!--Excel Modal-->
<div class="modal fade" id="Excel_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    thông tin bất động sản
                    <span class="d-block text-muted pt-2 font-size-sm">Nhận dữ liệu từ file excel</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="Manhom" name="Manhom" value="@ViewData["Manhom"]" />
                    <div class="mb-3 font-weight-bold font-size-lg">
                        <label style="color: blue;font-weight: bold; text-transform: uppercase">@ViewData["Tennhom"]</label>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Level</label>
                            <select id="level_excel" name="level_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "1" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Cấp I*</label>
                            <select id="cap1_excel" name="cap1_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "2" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Cấp II*</label>
                            <select id="cap2_excel" name="cap2_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "3" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Cấp III*</label>
                            <select id="cap3_excel" name="cap3_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "4" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Cấp IV*</label>
                            <select id="cap4_excel" name="cap4_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "5" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Cấp V*</label>
                            <select id="cap5_excel" name="cap5_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "6" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Tên nhóm, loại tài nguyên*</label>
                            <select id="ten_excel" name="ten_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "7" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đơn vị tính*</label>
                            <select id="dvt_excel" name="dvt_excel" class="form-control">
                                @foreach (var item in Helpers.GetListColExcel())
                                {
                                    <!option value="@item.Value" @(item.Value.ToString() == "8" ? "selected" : "")>@item.Key</!option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>File dữ liệu:</label><br />
                            <input type="file" accept=".xls,.xlsx" id="file_excel" name="file_excel" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Sheet</label>
                            <input type="number" class="form-control" id="sheet_excel" name="sheet_excel" value="1" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div cla ss="form-group fv-plugins-icon-container">
                            <label>Từ dòng</label>
                            <input type="number" class="form-control" id="linestart_excel" name="linestart_excel" value="3" />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Đến dòng</label>
                            <input type="number" class="form-control" id="linestop_excel" name="linestop_excel" value="111" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="Excel()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Store() {
        if ($('#tennhom_create').val().trim() == '') {
            toastr.error("Tên nhóm, loại tài nguyên không được để trống!!!", "Lỗi!");
        } else {
            $.ajax({
                url: '/GiaGiaoDichBDSDmCt/Store',
                type: 'POST',
                data: {
                    Manhom: $('#Manhom').val(),
                    Tennhom: $('#tennhom_create').val(),
                    Theodoi: $('#theodoi_create').val(),
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success(data.message);
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    }

    function getId(id, tennhom) {
        document.getElementById("id_delete").value = id;
        document.getElementById("tennhom_delete").innerHTML = tennhom;
    }

    function editId(id_edit) {
        $.ajax({
            url: '/GiaGiaoDichBDSDmCt/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#edit_thongtin').replaceWith(data.message);
                } else {
                    toastr.error(data.message, "Lỗi!!!");
                }
            }
        })
    }

    function Update() {
        if ($('#tennhom_edit').val().trim() == '') {
            toastr.error("Tên nhóm nhà không được để trống!!!", "Lỗi!");
        } else {
            $.ajax({
                url: '/GiaGiaoDichBDSDmCt/Update',
                type: 'POST',
                data: {
                    Tennhom: $('#tennhom_edit').val(),
                    Theodoi: $('#theodoi_edit').val(),
                    Id: $('#id_edit').val()
                },
                dataType: 'JSON',
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success(data.message);
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    }

    function Lock() {
        $.ajax({
            url: '/GiaGiaoDichBDSDmCt/Lock',
            type: 'POST',
            data: {
                Manhom: $('#manhom_lock').val(),
                Theodoi: $('#theodoi_lock').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success(data.message);
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }

    function Excel() {
        if ($('#file_excel').val() == '') {
            toastr.error("File đính kèm không được để trống!!!", "Lỗi!");
        } else {
            var file = new FormData();
            file.append("Ten", $("#ten_excel").val());
            file.append("Dvt", $("#dvt_excel").val());
            file.append("FormFile", $("#file_excel")[0].files[0]);
            file.append("Sheet", $("#sheet_excel").val());
            file.append("LineStart", $("#linestart_excel").val());
            file.append("LineStop", $("#linestop_excel").val());
            file.append("Manhom", $("#Manhom").val());

            $.ajax({
                url: '/GiaGiaoDichBDSDmCt/Excel',
                type: 'POST',
                data: file,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.success("Thêm mới thành công!!!", "Thành công!");
                        location.reload();
                    } else {
                        toastr.error(data.message, "Lỗi!");
                    }
                }
            })
        }
    }
</script>