@{
    Layout = "_LayoutReports";
    var dsdiaban = (IEnumerable<DsDiaBan>)ViewData["DsDiaBan"];
    int record_id = 1;
    var dsdonvi = (IEnumerable<DsDonVi>)ViewData["DsDonVi"];
    var dsdvt = ViewData["Donvitinh"];
    var giaSpDvCuTheNhom = (IEnumerable<GiaSpDvCuTheNhom>)ViewData["GiaSpDvCuTheNhom"];
}
<br />
<br />
@model CSDLGia_ASP.ViewModels.Manages.DinhGia.VMDinhGiaSpDvKhungGia;

<p style="text-align: center; font-weight: bold; font-size: 30px;">THÔNG TIN HỒ SƠ</p>
<p style="text-align: left; font-size: 16px;">Số quyết định: @Model.Soqd</p>
<p style="text-align: left; font-size: 16px;">
    Địa bàn:
    @foreach (var ds in dsdiaban)
    {
        @if (Model.Madiaban == ds.MaDiaBan)
        {
            @ds.TenDiaBan
        }
    }
</p>
<p style="text-align: left; font-size: 16px;">Thời điểm: @Model.Thoidiem</p>
<p style="text-align: left; font-size: 16px;">Mô tả: @Model.Mota</p>
<p style="text-align: left; font-size: 16px;">
    Cơ quan tiếp nhận:
    @foreach (var dsonvi in dsdonvi)
    {
        @if (Model.Macqcq == dsonvi.MaDv)
        {
            @dsonvi.TenDv
        }
    }
</p>

<br />
<p style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ chi tiết</p>
<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">

    <thead>
        <tr style="text-align:center">
            <th style="text-align:center">STT</th>
            <th style="text-align:center">Nhóm sản phẩm dịch vụ khung giá</th>
            <th style="text-align:center">Đối tượng cụ thể</th>
            <th style="text-align:center">Đơn vị tính</th>
            <th style="text-align:center">Mức giá tối thiểu</th>
            <th style="text-align:center">Mức giá tối đa</th>
        </tr>
    </thead>
    <tbody>

        <tr style="text-align:center">
            <td style="text-align:center">@(record_id++)</td>
            <td style="text-align:center">@Model.Manhom</td>
            <td style="text-align:center">@Model.Phanloaidv</td>
            <td style="text-align:center">@Model.Dvt</td>
            <td style="text-align:center">@Model.Giatoithieu</td>
            <td style="text-align:center">@Model.Giatoida</td>

        </tr>

    </tbody>
</table>

