@{
    Layout = "_LayoutReports";
    int record_id = 1;
}
@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaTroGiaTroCuocCt>
<p style="text-align: center; font-weight: bold; font-size: 30px;">KẾT QUẢ TÌM KIẾM </p>

<table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
    <thead>
        <tr>
            <th width="2%" style="text-align:center">STT</th>
            <th style="text-align:center">Đơn vị</th>
            <th style="text-align:center">Số QĐ/Thời điểm</th>
            <th style="text-align:center">Tên sản phẩm dịch vụ</th>
            <th style="text-align:center" width="10%">Đơn giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">@(record_id++)</td>
                <td style="text-align:center">@item.Tendv</td>
                <td style="text-align:center">@item.SoQD <br />@Helpers.ConvertDateToStr(item.Thoidiem)</td>
                <td style="text-align:left">@item.Mota</td>
                <td style="text-align:right">@Helpers.ConvertDbToStr(item.Dongia)</td>                
            </tr>
        }
    </tbody>
</table>



