@model IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaKhungGiaDat>;
@{
    Layout = "_LayoutReports";
    var DonVis = (IEnumerable<DsDonVi>)ViewData["DonVis"];
    var HoSoCts = (IEnumerable<CSDLGia_ASP.Models.Manages.DinhGia.GiaKhungGiaDatCt>)ViewData["HoSoCt"];
    int record_id = 1;
}
<br />
<br />
<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số: .........</td>
        <td style="text-align: right; vertical-align: top"><i style="margin-right: 25%;">, ngày....tháng....năm....</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">BÁO CÁO CHI TIẾT KHUNG GIÁ ĐẤT</p>

<p style="text-align: center; font-size: 16px;">Thời điểm: @ViewData["ThoiDiemKX"]</p>

@foreach (var dv in DonVis)
{
    <p style="text-align: center; font-size: 16px; font-style:italic">
        @dv.TenDv
    </p>
    var hosodonvi = Model.Where(t => t.Madv == dv.MaDv);
    @foreach (var hoso in hosodonvi)
    {
        <p style="text-align: center; font-size: 16px; font-style:italic">
            Số QĐ: @hoso.Kyhieuvb - Thời điểm: @Helpers.ConvertDateToStr(hoso.Thoidiem)
        </p>
        <p style="text-align: center; font-size: 16px; font-style:italic">
            @hoso.Ghichu
        </p>
        var hosoct = HoSoCts.Where(t => t.Mahs == hoso.Mahs);
        <table cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font:normal 14px Times, serif;" id="data">
            <thead>
                <tr>
                    <th style="text-align: center; font-weight: bold" rowspan="2">STT</th>
                    <th style="text-align: center; font-weight: bold">Loại xã</th>
                    <th style="text-align: center; font-weight: bold" colspan="2">Xã đồng bằng</th>
                    <th style="text-align: center; font-weight: bold" colspan="2">Xã trung du</th>
                    <th style="text-align: center; font-weight: bold" colspan="2">Xã miền núi</th>
                </tr>
                <tr>
                    <th style="text-align: center; font-weight: bold">Vùng kinh tế</th>
                    <th style="text-align: center;">Giá tối thiểu</th>
                    <th style="text-align: center;">Giá tối đa</th>
                    <th style="text-align: center;">Giá tối thiểu</th>
                    <th style="text-align: center;">Giá tối đa</th>
                    <th style="text-align: center;">Giá tối thiểu</th>
                    <th style="text-align: center;">Giá tối đa</th>
                </tr>
            </thead>
           @*  <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">@(record_id++)</td>
                            <td colspan="7">
                                Mã hồ sơ: @item.Mahs
                            </td>
                        </tr>
                        @foreach (var ct in chitiet.Where(t => t.Mahs == item.Mahs))
                        {
                            <tr>
                                <td></td>
                                <td style="text-align: left;">@(record_ct++) . @ct.Vungkt</td>
                                <td style="text-align: right">@Helpers.ConvertDbToStr(ct.Giattdb)</td>
                                <td style="text-align: right">@Helpers.ConvertDbToStr(ct.Giatddb)</td>
                                <td style="text-align: right">@Helpers.ConvertDbToStr(ct.Giatttd)</td>
                                <td style="text-align: right">@Helpers.ConvertDbToStr(ct.Giatdtd)</td>
                                <td style="text-align: right">@Helpers.ConvertDbToStr(ct.Giattmn)</td>
                                <td style="text-align: right">@Helpers.ConvertDbToStr(ct.Giatdmn)</td>
                            </tr>
                        }
                    }
                }
            </tbody> *@
        </table>
    }
}

<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-collapse: collapse;font-size:14px">
    <tr>
        <td width="45%" style="text-align: left">
        </td>
        <td width="55%" style="text-align: center">
            <span style="font-weight: bold; text-transform:uppercase">
                @ViewData["ChucDanhNguoiKy"]
            </span><br />
            <span style="font-style: italic">(Ký tên, đóng dấu)</span><br />
        </td>
    </tr>
    <tr style="text-align: center; height:100px">
        <td style="font-weight: bold; padding-top: 90px"></td>
        <td style="font-weight: bold; padding-top: 90px; text-align:center">@ViewData["HoTenNguoiKy"]</td>
    </tr>
</table>